<h2>PRIVACY POLICY</h2>
<p>This privacy policy applies between you, the User of this website and Green Pass Compliance Ltd, the owner and provider of this service on behalf of The Organisation. Green Pass Compliance Ltd takes the privacy of your information very seriously. This privacy policy applies to our use of any and all Data collected by us or provided by you in relation to your use of the service.
</p>

<p><strong>Scope of this privacy policy</strong></p>
<ol>
    <li>This privacy policy applies only to the actions of Green Pass Compliance Ltd and users of the service as employees of The Organisation.</li>
</ol>

<p><strong>Data collected</strong></p>
<p>We may collect the following Data, which includes personal Data, from you:</p>
<ol>  
    <li>Name</li>
    <li>Date of Birth</li>
    <li>Gender</li>                
    <li>Contact Information such as email addresses and telephone numbers.</li>   
    <li>Driving Licence, National Insurance Number, Next Of Kin, vehicle insurance details.</li>   
</ol>

<p><strong>Our use of Data</strong></p>
<ol>
    <li>For purposes of the Data Protection Act 1998, Green Pass Compliance is the "data controller".</li>
    <li>We will retain any Data for as long as The Organisation is contracted to use the service.</li>
    <li>Unless we are obliged or permitted by law to do so, and subject to any third party disclosures specifically set out in this policy, your Data will not be disclosed to third parties.</li>
    <li>All personal Data is stored securely in accordance with the principles of the Data Protection Act 1998.</li>
    <li>Any or all of the above Data will be required in order to manage Driver and Vehicle Compliance within the workplace under the current legal framework.</li>
</ol>

<p><strong>Accessing your own Data</strong></p>
<ol>
    <li>You have the right to ask for a copy of any of your personal Data held by Green Pass Compliance Ltd.</li>
</ol>


<p><strong>Security</strong></p>
<ol>
    <li>Data security is of great importance to Green Pass Compliance Ltd and to protect your Data we have put in place suitable physical, electronic and managerial procedures to safeguard and secure Data collected via this website.</li>
    <li>The service can only be accessed through your personal login account which is supplied to you by Green Pass Compliance. You are responsible for keeping your password confidential.</li>
    <li>The website is protected via SSL (Secure Socket layer); Authentication uses encoded secure Web Tokens (JWT) providing a high degree of security.</li>
</ol>

<p><strong>Changes to this privacy policy</strong></p>
<ol>
    <li>Green Pass Compliance reserves the right to change this privacy policy as we may deem necessary from time to time or as may be required by law. Any changes will be immediately posted on the website and you are deemed to have accepted the terms of the privacy policy on your first use of the website following the alterations.
</ol>    
