<style>
    * { font-family: 'Roboto', sans-serif; }
    h1 { font-size: 2em; }
    h2 { font-size: 1.5em; }
    h3 { font-size: 1.17em; }
    h4 { font-size: 1.12em; }
    h5 { font-size: .83em; }
    h6 { font-size: .75em; }
    li { margin-bottom: 20px; }
    .center-div  { margin: 0 auto; width: 400px; text-align: center; }
    .header-text { margin-bottom: 20px; }
    .inline-block { display: inline-block; }
</style>

<div style="margin-bottom: 4rem;">
    <div class="center-div">
        <img src="https://demo.greenpasscompliance.co.uk/public/img/green-pass-80.png" width="250px">
        <div class="header-text">
            <h1>Driver Mandate Pack #1</h1>
        </div>
        <div class="header-text">
            <div class="inline-block">The Organization:&nbsp;</div>
            <span>Green Pass Compliance Ltd</span>
        </div>
        <div class="header-text">
            <div class="inline-block">The Driver:&nbsp;</div>
            <span>Jonathan Yates</span>
        </div>
        <div class="header-text">
            <div class="inline-block">Date:&nbsp;</div>
            <span>16/12/2017</span>
        </div>

    </div>
</div>

<div style="margin-bottom: 4rem;">
    <p>The mandate statements issued within this policy by &lsquo;The Organization&rsquo; underlines the absolute commitment to create and maintain a safe working environment. When adhered to they will so far as reasonably practicable, help to safeguard the interests of &lsquo;The Organisation&rsquo; and health and safety of other road users including employees, associates and Directors who drive a company vehicle including your own vehicle whilst on organisational business.</p>
    <p>There is a legal duty for all employees of &lsquo;The Organisation&rsquo; to follow company guidance; taking reasonable care for themselves and for the safety of others whilst at work and this includes driving during the course of their business.</p>
    <p>It is of vital importance to &lsquo;The Organization&rsquo; they you have fully read, understood and comply with all the policy in order to help &lsquo;The Organization&rsquo; meet their duty of care under the current legal framework.</p>
</div>

