<style>
    table {
        margin-top: 40px;
        margin-bottom: 20px;
    }

    td {
        /*padding-top: 15px;*/
        /*padding-bottom: 15px;*/
    }

    .signature-box {
        display:block;
        color: #000000;
        background-color: #ffff99;
        border: 1px solid #00A550;
        border-radius: 2px;
        padding: 10px;
        cursor: pointer;
    }
</style>

<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have received, read and understood the organizations mandate policy.</p>
<p>I agree to be bound by the rules contained in the mandate policy and I will advise the organization of any changes which affect my legal or medical fitness to drive.</p>
<p>I accept that it is my responsibility to ensure that I am legally and medically fit to drive.</p>

<table>
    <tbody>
    <tr>
        <td>Signature:</td>
        <td style="padding-left: 10px;">
            <span class="field" data-idx="0" data-optional="false" data-name="Please add your signature here"
                  data-type="signature" data-options="" data-signee="1">
                <span class="signature-box">Click here to Sign</span>
            </span>
        </td>
    </tr>
    <tr>
        <td>Name:</td>
        <td style="padding-left: 10px; padding-top: 15px; padding-bottom: 15px;">Jonathan Yates</td>
    </tr>
    <tr>
        <td>Date:</td>
        <td style="padding-left: 10px; padding-top: 15px; padding-bottom: 15px;">15/12/2017</td>
    </tr>
    </tbody>
</table>
