<div class="container">

  <!--Section: Blog v.4-->
  <section class="section section-blog-fw">

    <!--First row-->
    <div class="row">
      <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <!--Featured image-->
        <img src="assets/img/carousel/AdobeStock_65093460.jpeg">

        <!--Post data-->
        <div class="jumbotron wow fadeIn" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <h1 class="h1-responsive">The Driver</h1>
          <h5 class="h5-responsive">Have you and your organisation implemented driver safe systems within the work
            place?</h5>
        </div>
        <!--/Post data-->

        <!--Excerpt-->
        <div class="excerpt">
          <p>
            If its driver training you're after, you have come to the right place.
            Green Pass is at the forefront of an innovative provider of driver training courses.
            From cost effective E-Learning to On-road Training, Green Pass driver training courses can help reduce
            accident rates, reduce costs, improve driver performance & improve staff morale.
          </p>
        </div>
      </div>
    </div>
    <!--/First row-->

    <hr>

    <div class="container">
      <section class="section">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <h1 class="section-heading">Fleet Driver Training</h1>
              <div class="section-description">
                Our National Fleet Driver Training courses are specifically targeted to our clients’ primary aim of
                compliance with driving at work legislation. It is aimed at clients that drive professionally in a
                variety of different vehicles. An individual approach is taken by each of our skilled and professional
                assessors and instructors. Primarily the courses are designed to provide drivers with the necessary
                skills to reduce their chances of being involved in a collision or incident. Fleet driver training is a
                part of a fleet management programme. We can help to develop your driver’s abilities with bespoke
                courses. Green Pass offer flexibility in meeting the demands of our clients. We can provide advice on
                how to set up a central records system, modify existing systems or provide a bespoke user friendly
                computer based package.
              </div>
            </div>
          </div>
        </div>
      </section>
    </div>

  </section>


</div>
