<div class="container">

  <!--Section: Blog v.4-->
  <section class="section section-blog-fw">

    <!--First row-->
    <div class="row">
      <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <!--Featured image-->
        <img src="assets/img/carousel/AdobeStock_65093460.jpeg">

        <!--Post data-->
        <div class="jumbotron wow fadeIn" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <h1 class="h1-responsive">Health & Safety</h1>
        </div>
        <!--/Post data-->

        <!--Excerpt-->
        <div class="excerpt">
          <p>
            The Corporate Manslaughter and Corporate Homicide Act 2007 is a landmark in law. For the first time,
            companies and organisations can be found guilty of corporate manslaughter as a result of serious management
            failures resulting in a gross breach of a duty of care
          </p>
          <p>
            More than a quarter of all road traffic incidents may involve somebody who is driving as part of their work
            at the time (Department for Transport figures). Health and safety law applies to work activities on the road
            in the same way as it does to all work activities and you need to manage the risks to drivers as part of
            your health and safety arrangements.
          </p>
          <p>
            Effective management of work-related road safety helps reduce risk, no matter what size your organisation
            is. It could also result in, for example
            • fewer injuries to drivers
            • reduced risk of work-related ill health
            • reduced stress and improved morale
          </p>
          <p>
            Health and safety law does not apply to people commuting (ie travelling between their home and their usual
            place of work), unless they are travelling from their home to somewhere which is not their usual place of
            work.
          </p>
          <p>
            This advice applies to any employer with employees who drive, or ride a motorcycle or bicycle at work, as
            well as self-employed people. It also applies to those using their own vehicle for a work-related journey.
            It will be particularly valuable to those responsible for fleet management. Employees and their safety
            representatives will also find it helpful.
          </p>
          <p>
            Employers with large goods vehicles (LGVs) or passenger carrying vehicles (PCVs) may also be subject to
            specific legal requirements that take priority over the general advice given here.
          </p>
          <p>
            In most cases, the police will continue to take the lead on investigating road traffic incidents on public
            roads. HSE will usually only take enforcement action where the police identify that serious management
            failures have been a significant contributory factor to the incident.
          </p>
          <p>
            For example
          <br><br>
            If one of your employees is involved in an incident and there has been a fatality while driving for work,
            and there is evidence that serious management failures resulted in a ‘gross breach of a relevant duty of
            care’, your company or organisation could be at risk of being prosecuted under the Corporate Manslaughter
            and Corporate Homicide Act 2007. There is more information on HSE’s website
            (www.hse.gov.uk/corpmanslaughter/faqs.htm).
          </p>
        </div>
      </div>
    </div>
    <!--/First row-->


  </section>


</div>
