<div class="container">

  <!--Section: Blog v.4-->
  <section class="section section-blog-fw">

    <!--First row-->
    <div class="row">
      <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <!--Featured image-->
        <img src="assets/img/carousel/AdobeStock_103364012.jpeg">

        <!--Post data-->
        <div class="jumbotron wow fadeIn" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <h1 class="h1-responsive">The Journey</h1>
          <h5 class="h5-responsive">Are you confident your systems will endure a public inquiry and/or court
            proceedings?</h5>
        </div>
        <!--/Post data-->

        <!--Excerpt-->
        <div class="excerpt">
          <p>
            Driving is the most dangerous work activity that most people do. It is estimated that around 150 people are
            killed or seriously injured every week in crashes involving someone who was driving, riding or otherwise
            using the road for work purposes. The majority of these tragedies can be prevented. Planning journeys is
            essential for any organisation as you and your organisation have a duty of care to your employees, other
            road users and members of the public.
          </p>
        </div>
      </div>
    </div>
    <!--/First row-->

    <hr>

  </section>


</div>


