<div class="container">

  <!--Section: Blog v.4-->
  <section class="section section-blog-fw">

    <!--First row-->
    <div class="row">
      <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <!--Featured image-->
        <img src="assets/img/carousel/AdobeStock_65093460.jpeg">

        <!--Post data-->
        <div class="jumbotron wow fadeIn" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <h1 class="h1-responsive">Legal Penalties</h1>
        </div>
        <!--/Post data-->

        <!--Excerpt-->
        <div class="excerpt">
          <p>
            If it is proved that there has been a serious breach of neglect within the work place then you and your
            company are liable in a court of law and if found guilty the following consequences could apply.
          </p>
          <ul>
            <li class="bullet-li">the maximum fine which may be imposed in the lower courts IS £20,000 for most health
              and safety offences
              (lower courts)
            </li>
            <li class="bullet-li">imprisonment for the controlling mind IS an option for more health and safety offences
              in both the lower
              and higher courts
            </li>
            <li class="bullet-li">certain offences, which are currently triable only in the lower (Magistrates) courts,
              will be triable in
              either the lower or higher (Crown) courts
            </li>
            <li class="bullet-li">The offence of corporate manslaughter occurs where an organisation’s practices and
              systems are deemed to
              be grossly negligent or reckless and a guilty plea or verdict can bring a significant financial penalty.
              Owners can be separately prosecuted.
            </li>
          </ul>
        </div>

        <hr>

        <!--First row-->
        <div class="row">
          <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
            <!--Post data-->
            <div class="jumbotron wow fadeIn" data-wow-delay="0.2s"
                 style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
              <h1 class="h1-responsive">Corporate Manslaughter</h1>
              <h4 class="h4-responsive">Prosecution Consequences</h4>
            </div>
            <!--/Post data-->

            <!--Excerpt-->
            <div class="excerpt">

              <h4>The Company</h4>
              <h6>Corporate Manslaughter</h6>
              <p>
                Publicity orders are available in corporate manslaughter cases and require the organisation to publish
                information in the National or local press about the offence and sentence. The prosecution will suggest
                the terms of the order by providing the court, in advance of the sentencing hearing, with a draft form
                of
                the order
                For the purpose of sentencing, companies will be defined by their turnover as micro, small, medium or
                large.
              </p>
              <p>
                A micro organisation will have a turnover of no more than £2 million, while a large organisation would
                have a turnover of £50m and over.
              </p>
              <p>
                If convicted under corporate manslaughter legislation where there was a high level of culpability, a
                large
                organisation would face a fine of between £4.8m and £20m, with a suggested starting point of £7.5m.
              </p>
              <p>
                A micro organisation found guilty with a lower level of culpability would face a fine of somewhere
                between
                £180,000 and £540,000, with a suggested starting point of £300,000.
              </p>
              <p>
                Meanwhile, companies found guilty under health and safety legislation where a flagrant disregard for the
                law or deliberate breach is proven would face a fine with a starting point ranging from £250,000 for a
                micro organisation to £4m for a large company.
              </p>
              <br>

              <h4>The Controlling Mind – MD, CEO</h4>
              <h6>Gross Negligence Manslaughter</h6>
              <p>
                Life imprisonment, that’s right, life imprisonment!
              </p>
              <br>

              <h4>The Driver</h4>
              <h6>Death by Dangerous Driving</h6>
              <p>
                If convicted of causing death by dangerous driving you will almost inevitably receive a prison sentence.
                These cases can only be dealt with by a Crown Court and if you plead not guilty your case will be heard
                before a jury.
              </p>
              <p>
                In recent years the maximum sentence for causing death by dangerous driving has been increased to 14
                years
                imprisonment which could have a devastating impact on anyone convicted of the offence. The Court has
                also
                has power to impose a disqualification from driving for a minimum of 2 years and an extended driving
                test.
              </p>
            </div>

          </div>
        </div>
        <!--/First row-->


  </section>


</div>
