<div class="container">

  <!--Section: Blog v.4-->
  <section class="section section-blog-fw">

    <!--First row-->
    <div class="row">
      <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <!--Featured image-->
        <img src="assets/img/carousel/AdobeStock_66676605.jpeg">

        <!--Post data-->
        <div class="jumbotron wow fadeIn" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <h1 class="h1-responsive">The Organisation</h1>
        </div>
        <!--/Post data-->

        <!--Excerpt-->
        <div class="excerpt">
          <p>
            For most people driving for work is the most dangerous occupational activity they undertake. Fleet
            management, or the Management of Occupational Road Risk (MORR), must therefore be addressed as a priority
            within the organisation’s health and safety policy
            This means engagement from the top, with everyone in the organisation aware of their responsibilities. Fleet
            management training is an essential part of this process. Green Pass as a range of Fleet Management
            Solutions to provide senior managers with the knowledge and guidance to stay on top of this important and
            often overlooked area of workplace safety.
          </p>
        </div>
      </div>
    </div>
    <!--/First row-->

    <hr>

  </section>


</div>


