<div class="container">

  <!--Section: Blog v.4-->
  <section class="section section-blog-fw">

    <!--First row-->
    <div class="row">
      <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <!--Featured image-->
        <img src="assets/img/carousel/AdobeStock_46372876.jpeg">

        <!--Post data-->
        <div class="jumbotron wow fadeIn" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <h1 class="h1-responsive">The Vehicle</h1>
          <h5 class="h5-responsive">Have you and your organisation got complete control over your safe systems and your
            driver’s?</h5>
        </div>
        <!--/Post data-->

        <!--Excerpt-->
        <div class="excerpt">
          <p>
            Whether you run a large fleet or just a single vehicle, this advice is a must if you and your organisation
            want to avoid prosecution. Regardless of the sector you operate in - whether you transport goods, people,
            sales advisors or your employees generally drive for a living - the safety of your vehicles is vitally
            important. Keeping your vehicles in a roadworthy condition is good for business, good for the environment
            and keeps road users and members of the public safe.
          </p>
        </div>
      </div>
    </div>
    <!--/First row-->

    <hr>

  </section>


</div>

