<main>

  <section>
    <div style="background: url('../../../public/img/iStock-843280698.jpg') center center; background-size: cover;">
      <div style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="container-fluid row banner">
          <div class="col-lg-7 pl-5 pr-5 pr-lg-0">
            <div class="flex-column flex-center" style="opacity: 0">
              <h1 class="h1-responsive text-center text-white font-weight-normal">
                Driver Training & Assessments
              </h1>

              <h3 class="h3-responsive text-center text-white">
                Comprehensive & Professional Driver Training Services
              </h3>

              <!--<div class="mt-3 d-flex">-->
                <!--<a href="tel:01539555301" class="btn btn btn-outline-white waves-effect">Call Now</a>-->
              <!--</div>-->
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <section class="section feature-box">

      <div class="flex-center">
        <h2 class="h2-responsive section-title">Green Pass Driver Training Services</h2>
      </div>

      <p class="section-description mb-3">
        Green Pass provides a comprehensive range of driver training services to ensure your drivers are roadworthy. We can tailor training to suit your organisations requirements and provide bespoke training programs.
      </p>

    </section>

    <hr class="extra-margins">

    <h4><strong>On-Line Driver Assessments</strong></h4>
    <p>
      Each driver is required to complete On-Line Assessments to assess their risk and roadworthiness.
      This speeds up the assessment process and reduces your costs by not having to carry out On-Road Assessments for every driver.
      The On-Line assessments have been designed to carefully assess the driver&rsquo;s risk.
      The driver simply logs into has account and carries out the training modules on-line.
      If the drivers risk is found to be above a given threshold they will be invited to carry out an On-Road Assessment with one of our qualified training assessors.
    </p>
    <br>

    <h4><strong>E-Learning Power Point Presentations</strong></h4>
    <p>Optionally each driver is required to complete E-Learning Interactive Power Point Presentations in relation to Corporate Manslaughter Legislation and Defensive Driving Techniques, the power point presentations will help each driver understand the current legislation and their duty of care whilst driving on company business. The power points will also enhance the driver&rsquo;s road awareness which will help reduce traffic incidents and fatalities on UK roads. This speeds up the assessment process and reduces your costs by not having to carry out compliance work shop&rsquo;s. Once the e-learning has been concluded there is a theory assessment to be completed by each driver, this gives our clients the confidence that each individual driver has a better understanding of their driving at work responsibilities.</p>
    <br>

    <h4><strong>On-Road Assessments</strong></h4>
    <p>Drivers maybe invited to carryout on road assessments following an On-Line Assessment should their Risk Score be above a given threshold. Green Pass provides a team of highly qualified training assessors. Short course inform drivers of best practice and support skill development and reduce the risk of accidents.</p>
    <p>Courses include on-road assessment theory, on road risk and hazard perception assessments to help drivers prioritise dangers whilst driving; Observational assessments to support peripheral and cognitive thought process that make drivers aware of emergent and often complex driver situations, best practice on following distances to help drivers understand response time, breaking distance and stopping distance perception.</p>
    <p>These Online Assessments are all Health and Safety compliance requirements for Drivers &ndash; but here they are made accessible and easy for drivers to access. All driver access and compliance is auditable.</p>
    <br>

    <h4><strong>Assessors</strong></h4>
    <p>All Green Pass assessors have to go through vigorous internal training lasting 6 months, once this is completed our driving assessors are subject to a further half a day training every 6 months conducted by ex-traffic police this gives the directors of Green Pass the confidence that all our assessors will deliver our training to the highest possible standards. Quality control is of the highest importance as this is one of the guidelines set out within the &ldquo;driving at work&rdquo; legislation, this puts Green Pass in a very unique position as our competitors do not aspire to our levels.</p>
    <p>All Green Pass driving assessors are vastly experienced with the following qualifications:</p>
    <ul>
      <li>ROSPA trained (Police advanced driving)</li>
      <li>JAUPT qualified CPC instructor&rsquo;s</li>
      <li>JAUPT qualified LGV assessors</li>
      <li>DSA qualified LGV instructors</li>
      <li>DSA qualified Fleet instructors</li>
      <li>SAFED trained</li>
      <li>Ex DSA Examiners</li>
      <li>Ex Traffic Police</li>
    </ul>


  </div>

</main>