<section>
  <div class="row">
    <div class="col-md-12">

      <!--Carousel Wrapper-->
      <div id="carousel-example-2" class="carousel slide carousel-fade carousel-position" data-ride="carousel">
        <!--Indicators-->
        <ol class="carousel-indicators">
          <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
          <li data-target="#carousel-example-2" data-slide-to="1"></li>
          <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->

        <!--Slides-->
        <div class="carousel-inner" role="listbox">

          <!--First slide-->
          <div class="carousel-item active">
            <!--Mask color-->
            <div class="view hm-black-slight">
              <img src="../../../../assets/img/carousel/AdobeStock_74516241.jpg" class="img-fluid" alt="">
              <div class="full-bg-img">
              </div>
            </div>
            <!--Caption-->
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="display-4">The Driver</h3>
                <p>
                  Have you and your organisation implemented driver safe systems within the work place?
                </p>
              </div>
            </div>
            <!--Caption-->
          </div>
          <!--/First slide-->

          <!--Second slide-->
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-slight">
              <img src="../../../../assets/img/carousel/AdobeStock_46372876.jpeg" class="img-fluid" alt="">
              <div class="full-bg-img">
              </div>
            </div>
            <!--Caption-->
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="display-4">The Vehicle</h3>
                <p>
                  Have you and your organisation got complete control over your safe systems and your driver’s?
                </p>
              </div>
            </div>
            <!--Caption-->
          </div>
          <!--/Second slide-->

          <!--Third slide-->
          <div class="carousel-item">
            <!--Mask color-->
            <div class="view hm-black-slight">
              <img src="../../../../assets/img/carousel/AdobeStock_103364012.jpeg" class="img-fluid" alt="">
              <div class="full-bg-img">
              </div>
            </div>
            <!--Caption-->
            <div class="carousel-caption">
              <div class="animated fadeInDown">
                <h3 class="display-4">The Journey</h3>
                <p>
                  Are you confident your systems will endure a public inquiry and/or court proceedings?
                </p>
              </div>
            </div>
            <!--Caption-->
          </div>
          <!--/Third slide-->
        </div>
        <!--/.Slides-->

        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
      </div>
      <!--/.Carousel Wrapper-->

    </div>
  </div>
</section>

<div class="container">

  <!--Section: Features v.1-->
  <section class="section feature-box">

    <!--Section heading-->
    <!--<h1 class="section-heading">Why Green Pass?</h1>-->

    <div class="divider-new wow fadeInLeft">
      <h2 class="h2-responsive">Our Services</h2>
    </div>

    <p class="section-description wow fadeInRight">
      Green Pass provides comprehensive and bespoke packages to help our client’s manage work related road safety.
      Our products and services are targeted to our clients' primary aim of compliance with driving at work legislation.
      However the benefits associated with compliance are considerable including improved health and safety conditions and better control over costs.
    </p>

    <div class="row features-big">

      <!-- Compliance -->
      <section>
        <div class="row">
          <div class="col-lg-8 section-description mb-r wow fadeInLeft">
            <i class="fa fa-check-circle blue-text"></i>
            <h4 class="feature-title mb-3">Compliance</h4>
            <p class="grey-text">
              Have you and your organisation implemented driver safe systems within the work place?<br><br>
              Have you and your organisation got complete control over your safe systems and your driver’s?<br><br>
              Are you confident your systems will endure a public inquiry and/or court proceedings?
            </p>
          </div>
        </div>

        <div class="row">

          <!--Health & Safety-->
          <div class="col-md-4 wow fadeInUp">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="../../../../assets/img/AdobeStock_50094258.jpeg" class="img-fluid" alt="">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Health and Safety</h4>
                <!--Text-->
                <p class="card-text">
                  The Corporate Manslaughter and Corporate Homicide Act 2007 is a landmark in law.
                  For the first time, companies and organisations can be found guilty of corporate manslaughter as a result of serious management failures resulting in a gross breach of a duty of care.
                  <br><br>
                  More than a quarter of all road traffic incidents may involve somebody who is driving as part of their work at the time.
                </p>
                <a [routerLink]="['../compliance', 'healthandsafety']" class="btn btn-primary waves-effect">Read more...</a>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>

          <!--Road Safety-->
          <div class="col-md-4 wow fadeInLeft">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="../../../../assets/img/AdobeStock_46143877.jpeg" class="img-fluid" alt="">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Road Safety</h4>
                <!--Text-->
                <p class="card-text">
                  The Police and the Vehicle and Operator Services Agency (VOSA) maintain a roadside presence and take the lead on enforcement of the legislation.
                  The Health & Safety Executive (HSE) supports and works closely with the DfT, the Police and VOSA and other government and industry stakeholders to improve standards on the road.
                  Managing the risks to employees who drive at work requires more than just compliance with road traffic legislation.
                </p>
                <a href="#" class="btn btn-primary waves-effect">Read more...</a>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>

          <!--Legal Penalties -->
          <div class="col-md-4 wow fadeInRight">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="../../../../assets/img/AdobeStock_55602540.jpeg" class="img-fluid" alt="">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Legal Penalties</h4>
                <!--Text-->
                <p class="card-text">
                  If it is proved that there has been a serious breach of neglect within the work place then you and your company are liable
                  in a court of law and if found guilty the consequences could be a fine of up to £20,000 or imprisonment.
                  <br><br>
                  Certain offences, which are currently triable only in the lower (Magistrates) courts, may be triable in either the lower or higher (Crown) courts.
                </p>
                <a href="#" class="btn btn-primary waves-effect">Read more...</a>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>

        </div>
      </section>

      <hr class="extra-margins">

      <!-- Training -->
      <section>
        <div class="row">
          <div class="col-md-8 section-description mb-r wow fadeInUp">
            <i class="fa fa-user green-text"></i>
            <h4 class="feature-title">Training</h4>
            <p class="grey-text">
              Our goal is to assist your organisation in reducing your on-road risk factor whilst at the same time reducing fleet running costs and helping your organisation become compliant under the current legal framework.
            </p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4 wow fadeInLeft">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="../../../../assets/img/AdobeStock_66676605.jpeg" class="img-fluid" alt="">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Fleet Driver Training</h4>
                <!--Text-->
                <p class="card-text">
                  Our National Fleet Driver Training courses are specifically targeted to our clients’ primary aim of compliance with driving at work legislation. It is aimed at clients that drive professionally in a variety of different vehicles. An individual approach is taken by each of our skilled and professional assessors and instructors.
                  <br><br>
                </p>
                <a href="#" class="btn btn-primary waves-effect">Read more...</a>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>

          <div class="col-md-4 wow fadeInUp">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="../../../../assets/img/AdobeStock_87208847.jpeg" class="img-fluid" alt="">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title">HGV / LGV Training</h4>
                <!--Text-->
                <p class="card-text">
                  Green Pass Fleet Driver training offer HGV / LVG Courses for HGV and LGV Driver Training.
                  The Transport and Logistics Industry now uses a number of different vehicles, offering diversity for new drivers wanting to enter the industry and opportunities for professional HGV drivers to increase their skills and qualifications to drive the latest vehicle types.
                </p>
                <a href="#" class="btn btn-primary waves-effect">Read more...</a>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>

          <div class="col-md-4 wow fadeInRight">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="../../../../assets/img/AdobeStock_86013456.jpeg" class="img-fluid" alt="">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Green Pass Trainers</h4>
                <!--Text-->
                <p class="card-text">
                  The importance of training and developing members of staff is unquestionable in today’s highly competitive market place. Green Pass is dedicated to the development of its trainers to enable them to deliver training in a professional and competent manner. All Green Pass trainers are vastly experienced with the following qualifications...            </p>
                <a href="#" class="btn btn-primary waves-effect">Read more...</a>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>

        </div>
      </section>

      <hr class="extra-margins">

      <!-- Auditing -->
      <section>
        <div class="row">
          <div class="col-md-8 section-description mb-r wow fadeInRight">
            <i class="fa fa-book red-text"></i>
            <h4 class="feature-title">Auditing</h4>
            <p class="grey-text">
              The first point of contact with clients will probably be by way of an audit.
              This will involve a detailed analysis of a client’s ‘Driving at Work Policy’ and their strengths and weaknesses in managing work related road safety.
              In some cases our audit will possibly be the first step in creating a Driving at Work policy and safe systems of work.
              The audit will reveal any requirement for improvements to existing safe systems of work and the need for assessment of driver training.
            </p>
          </div>
        </div>

        <div class="row">

          <div class="col-md-4 wow fadeInLeft">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="../../../../assets/img/AdobeStock_100798379.jpeg" class="img-fluid" alt="">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Audit</h4>
                <!--Text-->
                <p class="card-text">
                  The audit will provide detailed information to enable a valued judgment to be made regarding the prioritization of driver assessment.
                  The initial assessment will identify the ability of your staff to drive safely. Consequently the training programme, if required, can be planned to provide the most cost effective methods to achieve compliance.
                  Assessment is a continuous process.
                </p>
                <a href="#" class="btn btn-primary waves-effect">Read more...</a>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>

          <div class="col-md-4 wow fadeInUp">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="../../../../assets/img/AdobeStock_67912524.jpeg" class="img-fluid" alt="">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Auditors</h4>
                <!--Text-->
                <p class="card-text">
                  All Green Pass auditors / assessors have to go through vigorous internal training lasting 6 months, once this is completed our assessors are subject to a further half a day training every 6 months conducted by ex-traffic police this gives the directors of Green Pass the confidence that all our auditors / assessors will deliver our training to the highest possible standards.
                  <br><br>
                </p>
                <a href="#" class="btn btn-primary waves-effect">Read more...</a>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>

          <div class="col-md-4 wow fadeInRight">
            <!--Card-->
            <div class="card">

              <!--Card image-->
              <div class="view overlay hm-white-slight">
                <img src="../../../../assets/img/AdobeStock_102663198.jpeg " class="img-fluid" alt="">
                <a href="#">
                  <div class="mask"></div>
                </a>
              </div>
              <!--/.Card image-->

              <!--Card content-->
              <div class="card-block">
                <!--Title-->
                <h4 class="card-title">Assessors</h4>
                <!--Text-->
                <p class="card-text">
                  The experience and knowledge of Green Pass assessors is vital in providing an objective assessment of a drivers ability to drive safely in a myriad of circumstances. Green Pass performs internal monitoring on all assessors. This process enables Green Pass to maintain and deliver the very highest of standards to our clients.
                  <br><br><br>
                </p>
                <a href="#" class="btn btn-primary waves-effect">Read more...</a>
              </div>
              <!--/.Card content-->

            </div>
            <!--/.Card-->
          </div>


        </div>
      </section>

    </div>

  </section>
  <!--/Section: Features v.1-->

  <!--Section: Testimonials v.2-->
  <section class="section">

    <div class="divider-new wow fadeInLeft">
      <h2 class="h2-responsive">Testimonials</h2>
    </div>

    <!--Carousel Wrapper-->
    <div id="carousel-example-1" class="carousel testimonial-carousel slide carousel-fade" data-ride="carousel" data-interval="false">

      <!--Slides-->
      <div class="carousel-inner" role="listbox">
        <!--First slide-->
        <div class="carousel-item active">

          <div class="testimonial">
            <!--Avatar-->

            <!--Content-->
            <p><i class="fa fa-quote-left"></i> Green Pass Training has given us the opportunity to enhance our driver awareness within Blackpool Council by conducting detailed driver risk assessments and HIAB and fork lift training.
              Blackpool Council have worked with Green Pass Training on more than one occasion and have found them to be both professional and reliable, we would not hesitate to recommend them in the field of compliance and driver training.
              <i class="fa fa-quote-right"></i>
            </p>

            <h4>Lynne Rowbottom</h4>
            <h5>Blackpool Council</h5>

            <!--Review-->
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
          </div>

        </div>
        <!--/First slide-->

        <!--Second slide-->
        <div class="carousel-item">

          <div class="testimonial">

            <!--Content-->
            <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod eos id officiis hic tenetur quae quaerat ad velit ab. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore cum accusamus eveniet molestias voluptatum inventore laboriosam labore sit, aspernatur praesentium iste impedit quidem dolor veniam vel repudiandae excepturi tenetur illo.
              <i class="fa fa-quote-right"></i>
            </p>

            <h4>Maria Kate</h4>
            <h5>Photographer at Studio LA</h5>

            <!--Review-->
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
          </div>

        </div>
        <!--/Second slide-->

        <!--Third slide-->
        <div class="carousel-item">

          <div class="testimonial">

            <!--Content-->
            <p><i class="fa fa-quote-left"></i> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium , totam rem aperiam, eaque ipsa quae ab illo.
              <i class="fa fa-quote-right"></i>
            </p>

            <h4>John Doe</h4>
            <h5>Front-end Developer in NY</h5>

            <!--Review-->
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
            <i class="fa fa-star"> </i>
          </div>

        </div>
        <!--/Third slide-->
      </div>
      <!--/.Slides-->

      <!--Controls-->
      <a class="left carousel-control" href="#carousel-example-1" role="button" data-slide="prev">
        <span class="icon-prev" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="right carousel-control" href="#carousel-example-1" role="button" data-slide="next">
        <span class="icon-next" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
      <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->

  </section>
  <!--Section: Testimonials v.2-->

</div>
