<h2>ACCIDENT PROCEDURES</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Accident Procedure Policy and I agree that I have a duty of care to the organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p><strong>ACCIDENT PROCEDURE</strong></p>
<p>Guidelines to follow in the event of an accident</p>
<p><strong>DO NOT ADMIT LIABILITY</strong></p>
<ol>
    <li>Stop (it is an offence not to stop)</li>
    <li>Use hazard warning lights</li>
    <li>Be polite (DO NOT BE AGGRESSIVE)</li>
    <li>Switch off your engine</li>
    <li>Do not move injured passengers unless they are in immediate danger of further injury from other vehicles or from fire or explosion</li>
    <li>Call the emergency services immediately; provide them with information about the situation, any special circumstances (for example, if carrying oxygen bottles) and if any passengers have special needs</li>
    <li>If child passengers are present, ensure an adult remains with them</li>
    <li>Give first aid if required and if you are competent to do so</li>
    <li>If the emergency services are called, stay at the scene until they allow you to leave</li>
    <li>Obtain the names and addresses of all independent witnesses (if possible)</li>
    <li>Ensure the vehicle is roadworthy before continuing the journey</li>
    <li>If there is no injury or the names of people involved are not exchanged, you must report the accident to the police as soon as possible, or in any case within 24 hours</li>
</ol>
<p><strong>Record and Report the Accident</strong></p>
<p>If your vehicle was involved in the accident:</p>
<ol>
    <li>Report the accident to your employer IMMEDIATELY</li>
    <li>Sketch the accident scene (or take photos), if you can do so safely</li>
    <li>You may need to discuss the details with your line manager at the next appropriate moment. This will help them ensure that any risk assessments that they have made are relevant and up to date</li>
</ol>
