<h2>SPEEDING SAFELY POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Road Traffic Accident Policy and I agree that I have a duty of care to the Organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p><strong>ROAD TRAFFIC ACCIDENTS</strong></p>
<p>Unacceptable accidents involving the organisation&rsquo;s vehicles puts a large financial burden on the organisation, with insurance increases, excess payments and hires costs. All drivers are to be aware of the importance of minimising road traffic accidents.</p>
<p>You the driver must take great care when driving vehicles to ensure driver and public safety and to ensure that vehicles are constantly available for work and you as the driver have a vehicle to drive.</p>
<p>All accidents will be investigated and if the driver is found to be responsible due to driver fault, negligence or misuse of company vehicles then disciplinary action may be taken.</p>
<p>It is therefore imperative that you the driver are aware that you are accountable for your actions when driving the organisation&rsquo;s vehicles.</p>
<p>All accidents no matter how minor are to be reported to the appropriate persons, immediately to prevent any further escalation of costs.</p>
<p>You the driver are therefore to be aware of the importance of daily checks for reporting damage to vehicles. Any significant or new vehicle damage identified must be reported to your manager at the start of the shift before driving has commenced. Any damage must be noted on the vehicle check and defect report.</p>