<h2>WORKING FOR MORE THEN ONE EMPLOYER SAFETY POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s agreement for working for more than one employer Policy and I agree that I have a duty of care to the Organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p><strong>Agreement for drivers that work for more than one employer</strong>.</p>
<p>Where the driver works for more than one employer / self-employed.</p>
<p>Working time for different employers is the sum of the working hours; the employer can require the driver concerned to provide a written account of time worked for another employer.</p>
<p><strong>Other Employment</strong></p>
<p>&ldquo;You may not be connected with, engage in, or concerned with, any other business or public office which may or might interfere with your performance of your job, or be in conflict with the best interests of the organization without its prior written agreement. Failure to comply with this provision may contravene the working time regulations &amp; the drivers hours regulations, &amp; may result in dismissal on grounds of gross misconduct &amp;/or prosecution by the relevant enforcing authority.&rdquo;</p>
<p>Drivers of regulated vehicles in our employment must comply with the weekly rest requirements of EU directive 3820/85; this is recorded by the signing of a document, which contains details of the directive &amp; its weekly rest requirements.</p>
<p>To comply with the new Council directive 93/104/EC &ldquo;Working Time Directive&rdquo; which became Community Law as from April 2005, the organization will expect all drivers to sign this document after reading &amp; understanding the statements on this page.</p>
<p>To the driver, as your employer the organization are legally bound to ensure all drivers in their employment are aware of the consequences of breaching the regulations within this Directive. Although it is not illegal to work for more than one employer it is illegal to work for more than one employer &amp; knowingly or unknowingly exceed an average of 48 hours per week within the reference period, this places the legal onus of responsibility with the driver to ensure that the organization are made aware of any other forms of (remunerative or voluntary) employment with which you may be or are involved. Other employment - The UK Government has confirmed that hours worked by volunteers such as: - Retained Fire fighters, Members of the Territorial Army, or Special Constables will not contribute toward the working time of the mobile worker concerned. (However, the employer must be made aware of such activities &amp; should keep a record of such an exemption to the WTD). Other Employment. &ldquo;the driver may not be connected with, engage in, or concerned with, any other business or public office which may or might interfere with your performance of your job, or be in conflict with the best interests of the organization without its prior written agreement. Failure to comply with this provision may contravene the working time regulations &amp; the drivers hours regulations, &amp; may result in dismissal on grounds of gross misconduct &amp;/or prosecution by the relevant enforcing authority.</p>
