<div class="mt-4">
  <div class="md-form d-flex mb-0" style="max-width: 350px">
    <input id="search" class="form-control" type="text"
           autofocus [autoFocus]="true" #search (keyup)="checkTerm($event.target.value)"
           (keyup.enter)="onSearchChanged($event.target.value)">
    <label for="search">Enter Drivers Name</label>

    <div>
      <button class="btn btn-primary btn-lg waves-effect pl-3 pr-3 mr-0" (click)="onSearchChanged(search.value)">Search</button>
    </div>
  </div>
</div>


<ng-container *ngIf="message">
  <div class="row alert alert-success m-1 mt-0" role="alert">
    <div>{{message}}</div>
  </div>
</ng-container>

<ng-container *ngIf="drivers && drivers.length > 0; else backbutton">
<gp-card [header]="'Search Results'">
    <p class="h5-responsive">Click on a driver from the search results below to select a driver.</p>
    <gp-dynamic-list [list]="list" [serverMode]="true" [lightHeader]="true"
      [total]="total" [page]="page" [itemsPerPage]="itemsPerPage" (pageChange)="onPageChange($event)"
      (itemSelected)="select($event)" (back)="back()"></gp-dynamic-list>
</gp-card>

</ng-container>

<ng-template #backbutton>
  <button class="btn btn-primary waves-effect" (click)="back()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Back</button>
</ng-template>

<gp-model [title]="'Add Vehicle'" (confirmed)="addConfirmed($event)">
  <div *ngIf="selectedDriver; else noDriver">
    Are you sure you want to assign driver '{{selectedDriver.fullName}}' to '{{vehicle.registrationNumber}}' ?
  </div>
  <ng-template #noDriver>No Driver selected</ng-template>
</gp-model>

<gp-error-alert [error]="error"></gp-error-alert>
