<h2>HEALTH & SAFETY POWER POINT</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have received and understood the organization&rsquo;s Corporate Manslaughter &amp; Defensive Driving power point presentation and I agree as the driver that I have a duty of care to the organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p>I accept that it is my responsibility to:</p>
<ul>
    <li>inform the company of any legal changes to my driving licence</li>
    <li>inform the company of any changes to my medical fitness to drive</li>
    <li>complete a thorough vehicle check prior to any journey</li>
    <li>ensure the vehicle is in a road worthy condition prior to any journey</li>
    <li>drive in a courteous manner</li>
    <li>drive in a courteous manner whilst on-site</li>
    <li>not to answer my phone whilst the vehicle is in motion</li>
    <li>not to smoke whilst in the vehicle</li>
    <li>not to drive too close to the vehicle in-front</li>
    <li>not to stop too close to the vehicle in-front</li>
    <li>apply the handbrake if the vehicle is stationary for longer than 3 seconds</li>
    <li>drive in a defensive manner</li>
</ul>