<h2>MINIBUS POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Minibus Policy and I will abide by the rules set out in the policy and I agree that I have a duty of care to the Organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p><strong>Conditions of use:</strong></p>
<ul>
    <li>The minibus must be used for work purposes to benefit the organization</li>
    <li>The minibus must be used by non-commercial bodies only and must not be used for hire or reward</li>
</ul>
<p><strong>Passed car driving test <u>1997 or after</u>: more restricted, <u>no D1</u>:</strong></p>
<ul>
    <li>Drivers must be driving on a voluntary basis</li>
    <li>21 or over</li>
    <li>Held full licence for 2 years</li>
    <li>Driving on voluntary basis</li>
    <li>Minibus used by not-for-profit organisation</li>
    <li>Minibus max weight (MAM or GVW) no more than 3.5 tonnes (4.25 if accessible)</li>
    <li>Must not tow a trailer</li>
    <li>Age 70 must pass medical to renew this entitlement</li>
</ul>
<p><strong>Passed car driving test <em><u>before</u></em> 1997 = D1 entitlement:</strong></p>
<ul>
    <li>Shown as D1 (101) or D1 79 (NFHR)</li>
    <li>Can drive a minibus for not-for-profit organisation</li>
    <li>Can be paid for driving</li>
</ul>
<p><strong>But&hellip;</strong></p>
<ul>
    <li>Cannot drive minibus abroad</li>
    <li>Cannot drive for a commercial company in UK</li>
    <li>Age 70 must pass medical to renew &lsquo;minibus entitlement.</li>
    <li>All drivers must have a valid DBS certificate with the named organisation</li>
    <li>The organisation named must take full responsibility for assessing the competency of their drivers and must provide training to them as necessary</li>
    <li>Fuel must be topped up to the same level as on collection every time the bus is</li>
    <li>The minibus must be kept in a clean condition and all rubbish must be removed before the bus is</li>
    <li>The welfare and safety of passengers is the responsibility of the driver and/ or escorts whilst using the</li>
</ul>
