<h2>VEHICLE ROADWORTHINESS POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>Declaration:</p>
<p>Vehicles that The Driver uses for business journeys, whether company‐owned or employee‐owned, must be roadworthy and in a safe and legally acceptable condition to make any journey. Oil, coolant and windscreen washer fluid levels together with tyre tread depth and pressures will be checked regularly. All external lights will be working correctly and the windscreen free of chips and cracks which should be repaired at the earliest opportunity. It is The Driver&rsquo;s responsibility to ensure that the vehicle is serviced in line with the manufacturer&rsquo;s recommendations and that it has a valid MOT test certificate where required.</p>
<p>I understand the driving at work procedures and the requirements appertaining to the use of a private vehicle at work. I acknowledge that it is my responsibility, whilst using a private vehicle for work purposes, to ensure that:</p>
<ul>
    <li>I have the correct entitlement (category) to drive the vehicle.</li>
    <li>I will produce, upon request my business insurance certificate as required by my line manager.</li>
    <li>That my use of the vehicle is covered by an appropriate insurance policy that includes the use for business purposes.</li>
    <li>The vehicle is, and will be kept, in a roadworthy condition, the vehicle complies with all legal requirements and is suitable for the task.</li>
    <li>I will bring to my line manager&rsquo;s immediate attention any change in circumstances which may affect the use of a private vehicle for work purposes, including any conviction for a traffic offence, onset of a medical condition, illness, injury or impairment affecting my ability and fitness to drive.</li>
</ul>
<p><strong>Notes</strong></p>
<p>Insurance policies for Social, Domestic and Pleasure use typically only permit travel to the normal place of work from home and back again. Individuals must ensure that their intended use of a privately owned vehicle is covered for business use, for the period their vehicle is to be used. If in doubt individuals should check with their insurance company to establish if their existing insurance policy provides cover for the intended use before using a private vehicle for the organizations business use. In addition, claims for damages or injuries remain a personal responsibility.</p>