<h3 class="card-header white-text"
    [ngClass]="{
      'primary-color': onRoadAssessment.complete,
      'danger-color-dark': !onRoadAssessment.complete
      }">On Road Assessment</h3>

<div class="card-block row mb-0 mr-1 pb-0">
  <div class="col">

    <div *ngIf="onRoadAssessment">
      <div *ngIf="!onRoadAssessment.complete" class="card-text">
        <p>You have been invited to complete an on road assessment with a qualified trainer.</p>
        <p>The decision to offer you training does not mean that you are a bad driver, or indeed that you are a particularly risky driver. This is a proactive and positive step designed to help you reduce your own risk whilst driving.</p>
        <p>You will be contacted in due course about a training date.</p>
      </div>
      <div *ngIf="onRoadAssessment.complete" class="card-text">
        <p>Your on road training is complete.</p>
      </div>
    </div>
</div>

</div>

<div class="card-footer">
  <button type="button" class="btn waves-effect" (click)="viewTraining()"
          [ngClass]="{
            'primary-color': onRoadAssessment.complete,
            'danger-color-dark': !onRoadAssessment.complete
           }"
  >View</button>
</div>

