
<!--Footer-->
  <footer class="page-footer center-on-small-only mt-5 p-0">

  <!--Copyright-->
  <div class="footer-copyright primary-color">
    <div class="container-fluid">
      <div>© {{year}} Copyright <a href="https://greenpasscompliance.co.uk"> Green Pass Compliance Ltd</a>
        <span class="hidden-sm-down">All rights reserved</span>
      </div>
    </div>
  </div>
  <!--/.Copyright-->

</footer>
<!--/.Footer-->
