<div class="container">

  <!--Section: Blog v.4-->
  <section class="section section-blog-fw">

    <!--First row-->
    <div class="row">
      <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <!--Featured image-->
        <img src="assets/img/carousel/AdobeStock_100798379.jpeg">

        <!--Post data-->
        <div class="jumbotron wow fadeIn" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <h1 class="h1-responsive">Auditing</h1>
        </div>
        <!--/Post data-->

        <!--Excerpt-->
        <div class="excerpt">
          <p>
            The audit will provide detailed information to enable a valued judgment to be made regarding the
            prioritization of driver assessment. The initial assessment will identify the ability of your staff to drive
            safely. Consequently the training programme, if required, can be planned to provide the most cost effective
            methods to achieve compliance. Assessment is a continuous process.
          </p>
          <p>
            Prior to commencement of any audits, assessments or training we will provide you with full details of the
            information we will require to prepare Green Pass and our client for the smooth introduction and
            implementation of any services.
          </p>

          <h4>Managing Data</h4>
          <p>
            Record keeping is essential under the current legal framework, and compliance is mandatory. A failure to
            maintain an accurate, comprehensive and up to date record of drivers and vehicles will lead to censure and
            financial penalty. We can advise on how to set up a record system, modify an existing system or design a
            user
            friendly computer based package.
          </p>
          <p>
            This programme helps you control and monitor driver safety and provides and audit trail which would
            demonstrate you have a proper control over driver safety should you be investigated following a driver at
            work
            incident.
          </p>
        </div>
      </div>
    </div>
    <!--/First row-->

    <hr>

  </section>


</div>


