<div class="container">

  <!--Section: Blog v.4-->
  <section class="section section-blog-fw">

    <!--First row-->
    <div class="row">
      <div class="col-md-12 wow fadeIn" style="visibility: visible; animation-name: fadeIn;">
        <!--Featured image-->
        <img src="assets/img/carousel/AdobeStock_67912524.jpeg">

        <!--Post data-->
        <div class="jumbotron wow fadeIn" data-wow-delay="0.2s"
             style="visibility: visible; animation-delay: 0.2s; animation-name: fadeIn;">
          <h1 class="h1-responsive">Auditors</h1>
        </div>
        <!--/Post data-->

        <!--Excerpt-->
        <div class="excerpt">
          <p>
            All Green Pass auditors / assessors have to go through vigorous internal training lasting 6 months, once
            this is completed our assessors are subject to a further half a day training every 6 months conducted by
            ex-traffic police this gives the directors of Green Pass the confidence that all our auditors / assessors
            will deliver our training to the highest possible standards. Quality control is of the highest importance as
            this is one of the guidelines set out within the “driving at work” legislation, this puts Green Pass in a
            very unique position as our competitors do not aspire to our levels.
          </p>
        </div>
      </div>
    </div>
    <!--/First row-->

    <hr>

  </section>


</div>


