<h2>JOURNEY POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Journey Policy and I agree that I have a duty of care to the organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business during a journey.</p>
<p><strong>Your journey</strong></p>
<ul>
    <li>Consider if it is</li>
    <li>Allow sufficient time for traffic delays, breaks and re-routing</li>
    <li>Choose the safest route, taking into account the weather conditions on-route to your destination</li>
    <li>Prepare emergency arrangements for an unplanned overnight stay should there be adverse conditions</li>
    <li>Ensure you have sufficient fuel for the journey to avoid the possibility of breakdown or stopping in unsafe areas</li>
</ul>
<p><strong>The driver and the vehicle</strong></p>
<ul>
    <li>Avoid heavy drinking the night before your Ensure you are not fatigued or under stress immediately before your journey</li>
    <li>Seek medical advice if in doubt whilst taking prescribed medicines</li>
    <li>Remember to wear clean spectacles or contact lenses if you need them for driving</li>
    <li>Top up screen wash and check lights, coolant levels and tyre pressures</li>
    <li>Familiarise yourself with the vehicle and its controls before your journey</li>
    <li>Make driver comfort adjustments before the journey</li>
    <li>Ensure goods are secure and locked away before setting off</li>
    <li>Carry a torch, cloth, ice scraper, de-icer spray, coins, and maps</li>
    <li>Have your route pre-planned and any notes you need clearly positioned within your sightline on a proper holder. Never attempt to consult a road atlas or map whilst driving</li>
    <li>Check for traffic hold ups by listening to radio traffic reports or mobile phone services when safe to do so</li>
    <li>Be familiar with the company accident/breakdown procedure and contact numbers</li>
</ul>