<div *ngIf="driver">
  <div class="card-deck dashboard">

    <gp-driver-details-card class="dashboard-card" [driver]="driver"></gp-driver-details-card>

    <gp-driver-next-of-kin-card class="dashboard-card" [driver]="driver"></gp-driver-next-of-kin-card>

    <ng-container *ngIf="company && company.settings.drivers.references">
      <gp-driver-references-card class="dashboard-card" [driver]="driver"></gp-driver-references-card>
    </ng-container>

    <gp-driver-licence-check-card class="dashboard-card" *ngIf="showLicenceCheck; else licence"></gp-driver-licence-check-card>
    <ng-template #licence>
      <gp-driver-licence-card class="dashboard-card"></gp-driver-licence-card>
    </ng-template>

    <gp-driver-vehicles-card *ngIf="showVehicles" class="dashboard-card" [driver]="driver"></gp-driver-vehicles-card>

    <gp-driver-insurance-card  *ngIf="showInsurance" class="dashboard-card" [driver]="driver"></gp-driver-insurance-card>

    <gp-driver-faw-card  *ngIf="showFaw" class="dashboard-card" [driver]="driver"></gp-driver-faw-card>

    <gp-driver-documents-card class="dashboard-card" [driver]="driver"></gp-driver-documents-card>

    <ng-container *ngIf="subscription">
      <gp-assessment-summary class="dashboard-card" *ngIf="subscription.resources.onLineAssessments && assessmentSummary && assessmentSummary.totalAssessments > 0"
                             [assessment]="assessment"></gp-assessment-summary>

      <gp-module-summary class="dashboard-card" *ngIf="subscription.resources.onLineAssessments && moduleSummary && moduleSummary.totalModules > 0"
                         [moduleSummary]="moduleSummary"></gp-module-summary>

      <gp-on-road-assessment-summary class="dashboard-card" *ngIf="onRoadAssessment"
                                     [onRoadAssessment]="onRoadAssessment"></gp-on-road-assessment-summary>
  </ng-container>


  </div>

</div>




