<h2>SEA CADETS POLICY DECLARATION</h2>
<p>Being the person referred to above, I can confirm to the SCC organization that I have read and fully understood the
    following policies and I will adhere to the policies at all times whilst working for the organization. Please click
    the links below to download each policy.</p>
<ol>
    <li><strong><a href="API_ROOT/pdf/sea-cadets/ASCR%206%202018%20-%20Data%20Protection.pdf"
                   target="_blank">Data Protection Policy</a></strong></li>
    <li><strong><a href="API_ROOT/pdf/sea-cadets/ASCR%2012%202012%20-%20Code%20of%20Conduct%20(Adults).pdf"
                   target="_blank">Code of Conduct Policy (SCC Adults)</a></strong></li>
    <li><strong><a href="API_ROOT/pdf/sea-cadets/ASCR%209%202016%20-%20Child%20Protection.pdf"
                   target="_blank">Child Protection Policy &amp; Procedures</a></strong></li>
    <li><strong><a href="API_ROOT/pdf/sea-cadets/ASCR%2015%202011%20-%20Road%20Transport%20Regulations.pdf"
                   target="_blank">Road Transport Regulations</a></strong></li>
    <li><strong><a href="API_ROOT/pdf/sea-cadets/MSSC%20Guidance%20for%20Safer%20Working%20Practice.pdf"
                   target="_blank">Guidance for safer working practice for adults who work with young adults</a></strong></li>
    <li><strong><a href="API_ROOT/pdf/sea-cadets/Standing%20Orders%202019%20Issue%201.pdf"
                   target="_blank">Standing Orders</a></strong></li>
    <li><strong><a href="API_ROOT/pdf/sea-cadets/Risk%20Assessments.pdf"
                   target="_blank">Risk Assessments</a></strong></li>
</ol>
<p>It is my responsibility to seek additional training and inform the organization immediately if I do
    <strong>NOT</strong> understand any of the above policies.</p>