<main>

  <section>
    <div style="background: url('../../../public/img/iStock-637945400.jpg') center center; background-size: cover">
      <div style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="banner">
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <section>

      <div class="flex-center">
        <h2 class="h2-responsive section-title">Contact Us</h2>
      </div>

      <!--Footer Links-->
      <div class="container">

        <p class="pb-3">
          Please contact us at Green Pass Compliance if you'd like to find out more about how we can help your business manage it's Driver & Vehicle Compliance and Driver Training requirements.
        </p>
        <div class="row">

          <!--First column-->
          <div class="col-md-6">
            <h5 class="h5-responsive font-weight-normal">Address</h5>
            <ul class="list-unstyled">
              <li>Brock Auction Mart</li>
              <li>Garstang Road</li>
              <li>Claughton-onBrock</li>
              <li>Preston</li>
              <li>Lancashire</li>
              <li>PR3 0P</li>
            </ul>

          </div>
          <!--/.First column-->

          <!--Second column-->
          <div class="col-md-6">
            <h5 class="h5-responsive font-weight-normal">Contact</h5>
            <ul class="list-unstyled">
              <li class="mb-2"><i class="fa fa-fw fa-phone pr-1 footer-icon"></i><a class="ml-2" href="tel:01995676880">01995 676880</a></li>
              <li><i class="fa fa-fw fa-envelope pr-1 footer-icon"></i><a class="ml-2" href="mailto:info@greenpasscompliance.co.uk" target="_blank">info@greenpasscompliance.co.uk</a></li>
            </ul>
          </div>
          <!--/.Second column-->
        </div>
      </div>
      <!--/.Footer Links-->

      <!--Social buttons-->
      <!--<div class="social-section flex-center">-->
        <!--<a href="https://www.facebook.com/greenpasscompliance" target="_blank" class="btn-floating btn-small btn-fb"><i class="fa fa-facebook"> </i></a>-->
        <!--<a href="https://twitter.com/greenpasscompliance" target="_blank" class="btn-floating btn-small btn-tw"><i class="fa fa-twitter"> </i></a>-->
      <!--</div>-->
      <!--/.Social buttons-->

    </section>

  </div>

</main>