<div class="flex-center mt-3">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-xl-5" style="max-width: 700px">
    <div class="card">
      <h3 class="card-header primary-color white-text">Forgot Password</h3>
      <div class="card-block">
        <div *ngIf="!message && inputs != null">
          <form [formGroup]="form">

            <div>
              <div>
                <gp-input *ngFor="let input of inputs" [input]="input" [form]="form"></gp-input>
              </div>

              <div *ngFor="let input of inputs">
                <div *ngIf="!(input.control.valid || input.control.pristine)" class="alert alert-danger">
                  {{input.label}} is required
                </div>
              </div>

              <div *ngIf="error" class="alert alert-danger">
                <span><gp-dynamic-content [content]="error"></gp-dynamic-content></span>
                <p>Please try again.</p>
              </div>
            </div>

            <div>
              <button class="btn btn-primary pull-right" type="submit" (click)="submit(); $event.defaultPrevented;" [disabled]="!form.valid">Submit</button>
            </div>

          </form>
        </div>

        <div *ngIf="message" class="alert alert-success">
          <gp-dynamic-content [content]="message"></gp-dynamic-content>
        </div>

      </div>
    </div>
  </div>
</div>
