
<!--Footer-->
<footer class="page-footer primary-color center-on-small-only p-0 mt-5">
    <!--Copyright-->
    <div class="footer-copyright primary-color">
        <div class="container-fluid">
            © <%= new Date().getFullYear() %> Copyright <a href="https://greenpasscompliance.co.uk"> Green Pass Compliance Ltd</a>
            <span class="hidden-sm-down">All rights reserved</span>
        </div>
    </div>
    <!--/.Copyright-->

</footer>
<!--/.Footer-->
