<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="<%= page.description %>">

    <title><%= page.title %></title>

    <script type="application/ld+json">
    {
      "@context" : "https://schema.org",
      "@type" : "WebSite",
      "name" : "Green Pass Compliance",
      "url" : "https://greenpasscompliance.co.uk/"
    }
    </script>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-6473MX1Y6F"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-6473MX1Y6F');
    </script>


    <!-- Font Awesome -->
    <link href="/public/css/font-awesome.min.css" rel="stylesheet">

    <!-- Bootstrap core CSS -->
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">

    <!-- Material Design Bootstrap -->
    <link href="/public/css/mdb.min.css" rel="stylesheet">

    <!-- Custom styles (optional) -->
    <link href="/public/css/styles.css" rel="stylesheet">
    <link href="/public/css/responsive.css" rel="stylesheet">
    <link href="/public/css/header.css" rel="stylesheet">
    <link href="/public/css/side-nav.css" rel="stylesheet">

    <!-- Favicon -->
    <link rel=”shortcut icon” href="/public/favicon.ico">

</head>