<% links = [
    {text: 'Home', url: '', icon: 'fa-home'},
    {text: 'Compliance', url: 'driver-vehicle-compliance', icon: 'fa-check-circle'},
    {text: 'Software', url: 'driver-vehicle-compliance-software', icon: 'fa-cog'},
    {text: 'Driver Training', url: 'driver-training', icon: 'fa-road'},
    {text: 'Contact', url: 'contact-greenpasscompliance', icon: 'fa-envelope'}
] %>

<!--Double navigation-->
<header>
    <!-- Sidebar navigation -->
    <div class="white-skin">
        <ul id="slide-out" class="side-nav sn-bg-4 custom-scrollbar">
            <!-- Logo -->
            <li>
                <div class="logo-wrapper waves-light flex-center">
                    <a href="#"><img src="../../public/img/green-pass-80.png" class="img-fluid flex-center"></a>
                </div>
            </li>
            <!--/. Logo -->
            <!--Social-->
            <li>
                <ul class="social">
                    <li><a href="https://www.facebook.com/GreenPassCompliance" target="_blank"><i
                                    class="fa fa-facebook fb-ic"> </i></a></li>
                    <li><a href="https://twitter.com/GreenPassCompliance" target="_blank"><i
                                    class="fa fa-twitter tw-ic"> </i></a></li>
                </ul>
            </li>
            <!--/Social-->
            <!-- Side navigation links -->
            <li>
                <ul class="collapsible collapsible-accordion">
                    <% links.forEach(function(link) { %>
                    <li
                        <% if(page.url === link.url) { %>
                        class="waves-effect active"
                        <% } else { %>
                        class="waves-effect"
                        <% } %>
                    >
                        <a href="/<%= link.url %>" class="waves-effect">
                            <i class="fa <%= link.icon %> fa-fw"></i>
                            <%= link.text %>
                        </a>
                    </li>
                    <% }) %>
                </ul>
            </li>
            <!--/. Side navigation links -->
            <div class="sidenav-bg mask-strong"></div>
        </ul>
    </div>
    <!--/. Sidebar navigation -->

    <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav navbar-light bg-white">

        <!-- SideNav slide-out button -->
        <div class="float-xs-left mr-3">
            <a href="#" data-activates="slide-out" class="button-collapse hidden-lg-up">
                <i class="fa fa-bars"></i>
            </a>
        </div>

        <div class="navbar-brand">
            <a href="#">
                <img src="../../public/img/green-pass-80.png" alt="Green Pass">
            </a>
        </div>

        <ul class="nav navbar-nav nav-flex-icons mr-auto hidden-md-down">
            <% links.forEach(function(link) { %>
            <% if (link.links) { %>

            <li
                <% if(page.url === link.url) { %>
                    class="nav-item dropdown active"
                    <% } else { %>
                    class="nav-item dropdown"
                <% } %>
             >
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false"><%= link.text %></a>
                <div class="dropdown-menu dropdown-primary" aria-labelledby="navbarDropdownMenuLink">
                  <% link.links.forEach(function(childLink) { %>
                    <a href="/<%= childLink.url %>" class="dropdown-item"><%= childLink.text %></a>
                  <% }) %>
                </div>
            </li>
                <% } else { %>
            <li
                <% if(page.url === link.url) { %>
                    class="nav-item active"
                    <% } else { %>
                    class="nav-item"
                <% } %>
            >
                <a href="/<%= link.url %>" class="nav-link">
                    <i class="fa icon <%= link.icon %> fa-lg fa-fw"></i>
                    <%= link.text %>
                </a>
            </li>
            <% } }) %>
        </ul>

        <ul class="nav navbar-nav nav-flex-icons ml-auto">
            <li class="nav-item">
                <a href="<%= process.env.BASE_URL
                            ? process.env.BASE_URL
                            : 'http://localhost:4200' %>"
                   class="nav-link">
                    <i class="fa fa-sign-in fa-lg"></i>
                    <span>Login</span>
                </a>
            </li>
        </ul>

    </nav>

</header>
<!--/.Double navigation-->