<!DOCTYPE html>

<html lang=”en”>

<% include head.ejs %>

<body class="hidden-sn">

<% include header.ejs %>

<% include page.template.ejs %>

<% include footer.ejs %>

<% include scripts.ejs %>

</body>

</html>