<main>
    <section>
        <div style="background: url(<%=page.image%>) center top; background-size: cover;">
            <div style="background-color: rgba(0, 0, 0, 0.2);">
            </div>
        </div>
    </section>

    <div class="container">

      <div><%- page.text %></div>

    </div>

</main>