<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="/public/js/jquery-3.2.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="/public/js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="/public/js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="/public/js/mdb.min.js"></script>

<script>
  $(".button-collapse").sideNav();
</script>