<% page = {
    url: 'about-green-pass-compliance',
    heading: 'About Green Pass Compliance',
    title: 'About | Green Pass Compliance',
    description: '',
    text: ``,
    image: ''
} %>

<% include ../partials/layout.ejs %>