<!DOCTYPE html>

<html lang=”en”>

<% page = {
    url: 'contact-greenpasscompliance',
    title: `Contact Us | Green Pass Compliance.`,
    description:`Find out more about how Green Pass Compliance on-line software and driver training services can help your business. Get in touch to find out more.`
} %>

<% include ../partials/head.ejs %>

<body class="hidden-sn">

<% include ../partials/header.ejs %>

<% include ../partials/contact/contact.content.ejs %>

<% include ../partials/footer.ejs %>

<% include ../partials/scripts.ejs %>

</body>

</html>
