<!DOCTYPE html>

<html lang=”en”>

<% page = {
    url: 'driver-vehicle-compliance-software',
    title: `Driver & Vehicle Compliance Software | Green Pass Compliance`,
    description:`Green Pass Compliance on-line cloud software simplifies the challenges of managing Driver and Fleet and Grey Vehicle Compliance in the workplace.`
} %>

<% include ../partials/head.ejs %>

<body class="hidden-sn">

<% include ../partials/header.ejs %>

<% include ../partials/software/software.content.ejs %>

<% include ../partials/footer.ejs %>

<% include ../partials/scripts.ejs %>

</body>

</html>
