<!DOCTYPE html>

<html lang=”en”>

<% page = {
    url: 'driver-training',
    title: `Professional Driver Training Services | Green Pass Compliance`,
    description: `Green Pass Compliance provides professional driver training through on-line e-learning assessments, on-road training with qualified assessors and training workshops.`
} %>

<% include ../partials/head.ejs %>

<body class="hidden-sn">

<% include ../partials/header.ejs %>

<% include ../partials/driver-training/driver-training.content.ejs %>

<% include ../partials/footer.ejs %>

<% include ../partials/scripts.ejs %>

</body>

</html>
