<!DOCTYPE html>

<html lang=”en”>

<% page = {
  url: 'driver-vehicle-compliance',
  title: `Driver & Vehicle Compliance within the workplace | Green Pass Compliance`,
  description:`Green Pass Compliance provides Driver and Vehicle Compliance Software to protect Companies and Drivers under current legislation.`
} %>

<% include ../partials/head.ejs %>

<body class="hidden-sn">

<% include ../partials/header.ejs %>

<% include ../partials/compliance/compliance.content.ejs %>

<% include ../partials/footer.ejs %>

<% include ../partials/scripts.ejs %>

</body>

</html>