<!DOCTYPE html>

<html lang=”en”>

<% page = {
  url: '',
  title: `Managing Driver & Vehicle Compliance within the workplace | Green Pass Compliance`, // 65-70 chars
  description:`Green Pass Compliance provides driver and vehicle compliance software and professional driver training services to manage occupational road risk in the workplace.` // 150-160 chars
} %>

<% include ../partials/head.ejs %>

<body class="hidden-sn">

<% include ../partials/header.ejs %>

<% include ../partials/home/home.content.ejs %>

<% include ../partials/footer.ejs %>

<% include ../partials/scripts.ejs %>

</body>

</html>

