<!--Sidebar navigation-->
<div id="slide-out" class="side-nav">
  <ul class="custom-scrollbar list-unstyled">
    <!-- Logo -->
    <li>
      <div class="logo-header waves-light flex-center">
        <img src="../../../../assets/img/green-pass-80.png" class="img-fluid flex-center">
      </div>
    </li>
    <!--/. Logo -->

    <li class="social text-center">
      <div *ngIf="user" class="navbar-text">{{(user.forename) + ' ' + (user.surname)}}</div>
    </li>

    <!-- Side navigation links -->
    <li>
      <ul class="collapsible collapsible-accordion">

        <li *ngFor="let link of links; let i = index;">
          <a *ngIf="!link.children" class=" waves-effect arrow-r"
             (click)="navigateTo(link.url);">
            <i class="fa fa-fw" [ngClass]="link.icon"></i> {{link.label}}
          </a>

          <a *ngIf="link.children" class="collapsible-header waves-effect arrow-r">
            <i class="fa fa-fw" [ngClass]="link.icon"></i> {{link.label}}
            <i class="fa fa-angle-down rotate-icon"></i>
          </a>

          <div *ngIf="link.children" class="collapsible-body">
            <ul>
              <li *ngFor="let childLink of link.children">
                <a (click)="navigateTo(childLink.url);" class="waves-effect">
                  <i class="fa fa-fw" [ngClass]="childLink.icon"></i> {{childLink.label}}
                </a>
              </li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
  <!--<div class="sidenav-bg mask-strong"></div>-->
</div>
<!--/.Sidebar navigation-->
