<div *ngIf="reportSchedule" class="row mb-1">
  <div class="col-lg-8 col-md-8 col-sm">

    <gp-card [header]="'Schedule'">

      <gp-cron [(cron)]="cron"></gp-cron>

      <!--<div class="md-form mt-1" style="max-width: 200px;">-->
        <!--<i class="fa fa-clock-o prefix text-primary"></i>-->
        <!--<gp-cron [(cron)]="cron"></gp-cron>-->
      <!--</div>-->
    </gp-card>

    <gp-card [header]="'Recipients'">
      <gp-report-schedule-recipients [company]="company"
                                     [recipients]="reportSchedule?.recipients"></gp-report-schedule-recipients>
    </gp-card>

  </div>

</div>

<button class="btn btn-primary waves-effect" (click)="back()">Cancel</button>
<button class="btn btn-primary waves-effect" (click)="save()">Save</button>

<!-- Errors -->
<ng-container *ngIf="error">
  <div class="row alert alert-danger m-1" role="alert">
    <p><gp-dynamic-content [content]="error"></gp-dynamic-content></p>
  </div>
</ng-container>
