<div class="row">
  <div class="col-md-6">
    <gp-vehicle-date-alert [title]="'Taxed'" [expiredTitle]="vehicle.vehicleStatus"
                           [dateHeading]="'Tax due'"
                           [date]="vehicle.taxDueDate"></gp-vehicle-date-alert>
  </div>
  <div class="col-md-6">
    <gp-vehicle-date-alert [title]="'MOT'" [expiredTitle]="'MOT Expired'" [dateHeading]="'MOT Due'"
                           [date]="vehicle.motDueDate"></gp-vehicle-date-alert>
  </div>
</div>

<gp-dynamic-list-group [items]="details" (edit)="edit()" [allowEdit]="allowInput"></gp-dynamic-list-group>





