<div>
  <gp-card [header]="'Licence Check'">

    <ng-container *ngIf="driver && driver.licenceNumber">
      <!--<p>Confirm the following details are correct</p>-->
      <div class="mb-1 d-flex justify-content-end">
        <div class="mr-auto">
          <div class="font-weight-bold">Driving licence number</div>
          <div #dln>{{licenceNumber}}</div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="driver && !driver.licenceNumber">
      <form [formGroup]="form" class="mt-1" style="max-width: 430px">
        <div>
          <gp-input [input]="dlnInput" [form]="form"></gp-input>
        </div>
      </form>
    </div>

    <ng-container *ngIf="driver && driver.niNumber">
      <div class="mb-1 d-flex justify-content-end">
        <div class="mr-auto">
          <div class="font-weight-bold">National Insurance Number</div>
          <div #nin>{{niNumber}}</div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="driver && !driver.niNumber">
      <form [formGroup]="form" class="mt-1" style="max-width: 430px">
        <div>
          <gp-input [input]="niInput" [form]="form"></gp-input>
        </div>
      </form>
    </div>

    <ng-container *ngIf="driver && driver.address && driver.address.postcode">
      <div class="d-flex justify-content-end">
        <div class="mr-auto">
          <div class="font-weight-bold">Postcode</div>
          <div #pcode>{{postcode}}</div>
        </div>
      </div>
    </ng-container>

    <div *ngIf="driver && (!driver.address || !driver.address.postcode)">
      <form [formGroup]="form" class="mt-1" style="max-width: 430px">
        <div>
          <gp-input [input]="postcodeInput" [form]="form"></gp-input>
        </div>
      </form>
    </div>

    <br>

    <div>
      <div class="card card-outline-info info-card" style="background-color: #dbf3e8">
        <!--<h3 class="card-header primary-color white-text">Confirm</h3>-->
        <div class="card-block">
          <p>To access this service online, details from your DVLA record and your National Insurance
            number will be shared with other government departments (HMRC and DWP) to check your identity, as described
            in
            the DVLA privacy policy.
            I would like to use this service and understand that my data will be shared as explained above.</p>

          <fieldset class="form-group mb-0">
            <input type="checkbox" class="filled-in" id="confirm" [disabled]="checkCode" [(ngModel)]="confirm">
            <label for="confirm">I agree</label>
          </fieldset>

        </div>
      </div>

      <ng-container *ngIf="!checkCode">
        <button class="btn btn-primary waves-effect ml-0" (click)="back()"><i class="fa fa-chevron-left mr-2"
                                                                              aria-hidden="true"></i> Back
        </button>
        <button class="btn btn-primary waves-effect" (click)="getCheckCode()"
                [disabled]="!confirm || busy || !licenceNumber || !niNumber || !postcode">Generate Check Code
        </button>
      </ng-container>


      <div *ngIf="checkCode">
        <div>The following check code has been generated by the DVLA.</div>

        <div class="alert alert-success d-inline-block mt-3 mb-2" role="alert">
          <h2>{{checkCode | uppercase}}</h2>
        </div>

        <div class="mt-2 mb-2">Click the 'Confirm' button below to agree we can use this check code to check your
          driving licence details.
        </div>
        <button class="btn btn-primary waves-effect ml-0" (click)="back()"><i class="fa fa-chevron-left mr-2"
                                                                              aria-hidden="true"></i> Back
        </button>
        <button class="btn btn-primary waves-effect" (click)="licenceCheck()" [disabled]="!checkCode || busy">Confirm
        </button>
      </div>
    </div>
    <!-- Errors -->
    <div *ngIf="error">
      <div class="alert alert-danger mt-3" role="alert">
        <ng-container *ngIf="!checkCode">
          <p>Unfortunately there seems to be a problem obtaining a check code with these details.</p>
          <p>Please check your details and try again.</p>
          <p>If this problem persists you may wish to try generating a check code from the
            <a href="https://www.gov.uk/view-driving-licence" target="_blank">DLVA website</a>.
            You can then enter the check code by clicking the 'Enter Check Code' button below</p>
        </ng-container>
        <ng-container *ngIf="checkCode">
          <p>Unfortunately there seems to be a problem performing a driving licence check against this check code.</p>
          <p>Please contact your administrator or try again later.</p>
        </ng-container>
      </div>
    </div>

    <div *ngIf="error && !checkCode">
      <button *ngIf="!allowCheckCodeEntry" class="btn btn-primary waves-effect ml-0" (click)="enterCheckCode()">Enter
        Check Code
      </button>

      <div *ngIf="allowCheckCodeEntry" class="mt-4 d-flex">
        <div>
          <div class="md-form mb-1" style="width: 250px">
            <div>
              <input type="text" #checkcodeInput id="checkcode" class="form-control">
              <label [gp-reset-input]="true" for="checkcode">Enter Check Code</label>
            </div>
          </div>
        </div>
        <div>
          <button class="btn btn-primary waves-effect"
                  (click)="licenceCheckFromEnteredCheckCode(checkcodeInput.value)">Confirm
          </button>
        </div>
      </div>

    </div>

  </gp-card>
</div>
