<div class="modal fade modal-ext" id="modal-addPage" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
     aria-hidden="true" [autoFocus]="self" #modalLogin>

  <div class="modal-dialog" role="document">

    <!--Content-->
    <div class="modal-content">

      <!--Header-->
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3>Add Page</h3>
      </div>

      <form *ngIf="active" #addPageForm="ngForm" autocomplete="on">

        <!--Body-->
        <div class="modal-body">

          <div class="md-form form-group"
               [ngClass]="{'has-danger': !page_Id.valid && (page_Id.dirty || page_Id.touched), 'has-success': page_Id.valid && (page_Id.dirty || page_Id.touched)}">
            <i class="fa fa-user prefix"></i>
            <input type="text" id="inputPageId" class="form-control validate"
                   data-error="wrong" data-success="right" required autofocus
                   [(ngModel)]="pageId" name="page_Id" #page_Id="ngModel">
            <label for="inputPageId">Page Id</label>
          </div>

          <div *ngIf="!(page_Id.valid || page_Id.pristine)" class="alert alert-danger">
            Page Id is required
          </div>

          <div *ngIf="errorMessage" class="alert alert-danger">
            {{errorMessage}}<br>
            Please try again.
          </div>

        </div>

        <!--Footer-->
        <div class="modal-footer">

          <button class="btn btn-default" type="button" data-dismiss="modal"
                  (click)="close()">Cancel</button>

          <button class="btn btn-primary pull-right" type="submit"
                  (click)="add()" [disabled]="!addPageForm.form.valid">Add</button>
        </div>

      </form>

    </div>
    <!--/.Content-->

  </div>

</div>









