<div *ngIf="vehicle">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified primary-color flex-column flex-md-row" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#details-panel" role="tab"
         [ngClass]="{'active': !selectedTab || selectedTab === 'details'}"
         (click)="selectTab('details')">Vehicle Details</a>
    </li>
    <li *ngIf="vehicle.motHistory && vehicle.motHistory.length > 0" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#mot-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'mot'}"
         (click)="selectTab('mot')">MOT History</a>
    </li>
    <li *ngIf="vehicle.annualTestHistory && vehicle.annualTestHistory.length > 0" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#annual-test-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'annual-test'}"
         (click)="selectTab('annual-test')">Annual Test History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#service-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'service'}"
         (click)="selectTab('service')">Service History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#inspection-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'inspection'}"
         (click)="selectTab('inspection')">Inspection History</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#checks-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'checks'}"
         (click)="selectTab('checks')">Vehicle Checks</a>
    </li>
    <li *ngIf="showDrivers" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#drivers-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'drivers'}"
         (click)="selectTab('drivers')">Drivers</a>
    </li>
  </ul>

  <div class="tab-content card">

    <div class="tab-pane fade in" id="details-panel" role="tabpanel"
         [ngClass]="{'show active': !selectedTab || selectedTab === 'details'}">
      <gp-vehicle-details [vehicle]="vehicle" [allowInput]="allowInput"></gp-vehicle-details>
    </div>

    <div *ngIf="vehicle.motHistory && vehicle.motHistory.length > 0" class="tab-pane fade in" id="mot-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'mot'}">
      <gp-vehicle-mot-history [motHistory]="vehicle.motHistory" [allowAdd]="allowInput"></gp-vehicle-mot-history>
    </div>

    <div *ngIf="vehicle.annualTestHistory && vehicle.annualTestHistory.length > 0" class="tab-pane fade in" id="annual-test-panel" role="tabpanel"
      [ngClass]="{'show active': selectedTab === 'annual-test'}">
      <gp-vehicle-annual-test-history [annualTestHistory]="vehicle.annualTestHistory" [allowAdd]="allowInput"></gp-vehicle-annual-test-history>
    </div>

    <div class="tab-pane fade in" id="service-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'service'}">
      <gp-vehicle-service-list [serviceHistory]="vehicle.serviceHistory" [suppliers]="company && company.suppliers"
                               [vehicle]="vehicle" [allowAdd]="allowInput"></gp-vehicle-service-list>
    </div>

    <div class="tab-pane fade in" id="inspection-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'inspection'}">
      <gp-vehicle-inspection-list [inspectionHistory]="vehicle.inspectionHistory" [suppliers]="company && company.suppliers"
                                  [vehicle]="vehicle" [allowAdd]="allowInput"></gp-vehicle-inspection-list>
    </div>

    <div class="tab-pane fade in" id="checks-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'checks'}">
      <gp-vehicle-check-list [checkHistory]="vehicle.checkHistory"
                             [vehicle]="vehicle" [allowAdd]="allowInput"></gp-vehicle-check-list>
    </div>

    <div *ngIf="showDrivers" class="tab-pane fade" id="drivers-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'drivers'}">
      <gp-drivers  [company]="company" [drivers]="vehicle.drivers" [lightHeader]="true" [showSearch]="false"
                  (add)="addDriver()" (remove)="removeDriver($event)"
                  (itemSelected)="selectDriver($event)"></gp-drivers>
    </div>

  </div>

</div>

<gp-model [title]="'Remove Driver'" (confirmed)="onRemoveConfirmed($event)">
  <div *ngIf="selectedDriver; else noDriver">
    Are you sure you want to remove driver '{{selectedDriver._user.forename + ' ' + selectedDriver._user.surname}}' ?
  </div>
  <ng-template #noDriver>No Driver selected</ng-template>
</gp-model>

<button class="btn btn-primary waves-effect" (click)="back()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Back</button>
