@media (min-width: 600px) {
  .navbar.scrolling-navbar {
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition-property: background, padding;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease-in-out, ease-in-out;
    transition-delay: initial;
    padding-top: 8px;
    padding-bottom: 8px;
  }
}

.navbar-brand img {
  height: 50px;
}

.nav-item.active {
  background-color: #00A550;
  border-radius: 2px !important;
  color: white !important;
}

.nav-item.active a  {
  color: white !important;
}

.navbar .button-collapse {
  color: #555 !important;
  margin-top: -2px !important;
}

/*Reduces size of the header and the image below 991 */
@media (max-width: 991px) {
  .navbar .navbar-brand {
    display: block !important;
    float: none !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
    margin-right: 0 !important;
  }
  .scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
  }
  .navbar-brand img {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    height: 40px; }
}