html, body {
  height: 100%;
}

main {
  flex: 1 0 auto;
}

body {
  font-weight: 400;
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #fdfdfd;
}

.hidden-sn main {
  padding-top: 4.5rem;
}

@media (max-width: 991px) {
  .hidden-sn main {
    padding-top: 3.5rem;
  }
}

.banner {
  height: 500px;
}

@media (max-width: 991px) {
  .banner {
    height: 450px;
  }
}

@media (max-width: 768px) {
  .banner {
    height: 350px;
  }
}

/*@media (max-width: 575px) {*/
  /*.banner {*/
    /*height: 320px;*/
  /*}*/
/*}*/

@media only screen and (min-width: 768px) {
  .extra-margins {
    margin-top: 3rem!important;
    margin-bottom: 3rem!important;
  }
}

@media only screen and (max-width: 768px) {
  .extra-margins {
    margin-top: 2rem!important;
    margin-bottom: 2rem!important;
  }
}

.card-block {
  padding: 1rem;
}

.feature-icon {
  color: #00a550;
  padding-right: 1rem !important;
}

.feature {
  display: -ms-flexbox !important;
  display: flex !important;
  margin-bottom: 2rem !important;
}

.list-inline li {
  margin-bottom: 1rem !important;
}

.page-text {
  color: #000000 !important;
}

.section-description {
  color: #000000 !important;
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
}

.section-title {
  font-weight: 400 !important;
  margin-bottom: 0;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.software-feature-title {
  font-weight: 500;
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .software-feature-title {
    text-align: center;
  }
}
