<section class="section feature-box">

  <p class="section-description">
    Green Pass Compliance Services takes away the challenges of Driver Compliance offering you the following features:
  </p>

  <!--Grid row-->
  <div class="features-small">

    <!--Admin features-->
    <div>

      <h2 class="text-center"><strong>Administrator Features</strong></h2>

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/login-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Simple Account Login</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/login-3d.png">
          </div>
          <p class="page-text text-justify">
            Green Pass is accessed through an account login via our secure website. Administrators, Managers and Drivers are emailed their own login details which they use to login through any Internet browser. Users must change their password and keep it safe. If users forget their password they can request to reset their password via the forgot password facility.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/dashboard-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Company Dashboard</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/dashboard-3d.png">
          </div>
          <p class="page-text text-justify">
            The Company dashboard provides a central screen for where you can view the current compliance of your Organisation, Drivers and Vehicles. Simple compliance percentage charts provide an instant at a glance view of compliance statistics. Gain easy access to Company Details, Drivers, Vehicles, Depots, Suppliers, Alerts, Documents, Users and Reports.          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/driver-list-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Driver List</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/driver-list-3d.png">
          </div>
          <p class="page-text text-justify">
            View all your drivers and their compliance at a glance using our unique traffic light system. This shows the status of each driver’s compliance, including Signed Mandate Documents, Driving Licence Checks, Training Assessments and Business Insurance. Use a simple search box to search for any driver in your organisation.         </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/driver-details-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Driver Details</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/driver-details-3d.png">
          </div>
          <p class="page-text text-justify">
            Select a driver from the list to view their details.
            This provides personal details, next of kin, references, licence check details, vehicles, business insurance, training assessment status and mandate documents.
            This information is vital for auditing purposes.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/vehicle-list-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Vehicle List</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/vehicle-list-3d.png">
          </div>
          <p class="page-text text-justify">
            View all your fleet and/or grey fleet vehicles at a glance using our unique traffic light colour system. Providing an instant summary of vehicle compliance, including Tax, MOT, Servicing, Inspections and Daily Vehicle Checks.          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/vehicle-details-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Vehicle Details</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/vehicle-details-3d.png">
          </div>
          <p class="page-text text-justify">
            View vehicle details by selecting from the vehicle list providing detailed vehicle information, Tax and MOT status, Service history, Inspection history and Vehicle Checks.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 pl-4 pr-4 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/depots-suppliers-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Depots & Suppliers</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/depots-suppliers-3d.png">
          </div>
          <p class="page-text text-justify">
            Manage all your Depots and Suppliers from the Depot and Supplier screens, allowing you to add and update details for auditing purposes.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/documents-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Documents</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/documents-3d.png">
          </div>
          <p class="page-text text-justify">
            Manage which mandate documents you wish your drivers to sign via E-Signature. Choose from a wide range of Document Templates, or we can provide customized Mandates for your organisation.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/alerts-reports-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Alerts & Report Scheduling</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/alerts-reports-3d.png">
          </div>
          <p class="page-text text-justify">
            Green Pass gives you Automatic Alerts for none compliant Drivers and Vehicles. Your Dashboard provides you with an instant summary of the number of Alerts. Alerts include reports for None Compliant Drivers, None Compliant Vehicles, Outstanding Mandates, Licence Checks and Training etc. View any of these in detail from your dashboard. Reports and Alerts can also be automatically scheduled to be emailed to any company user in the system giving you complete control over monitoring your Driver and Vehicle compliance without having to login to the system.
          </p>
        </div>
      </div>
      <!--Grid row-->

    </div>
    <!--Admin features-->

    <!--Driver features-->
    <div class="mt-5">

      <h2 class="text-center"><strong>Driver Features</strong></h2>

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/driver-dashboard-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Driver Dashboard</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/driver-dashboard-3d.png">
          </div>
          <p class="page-text text-justify">
            Drivers are provided with a login account that provides them with their own Driver Dashboard. Drivers must login to their account and complete a number of actions in order to make themselves compliant. The Dashboard shows at a glance their compliance status and provides a central point from where they can complete any required actions in order to make themselves compliant.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/licence-checks-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">DVLA Driver Licence Checks</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/licence-checks-3d.png">
          </div>
          <p class="page-text text-justify">
            Each driver is required to complete periodic Driving Licence Checks with the DVLA. Green Pass provides a quick and simple screen where drivers can retrieve Driving Licence Check details instantaneously and this is automatically reported and registered on the system The system checks that all drivers have the correct entitlement to drive and will issue alerts on any issues such as offences or licence point thresholds. Drivers can register their details via a smart phone or tablet whilst at work.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 pl-4 pr-4 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/driver-details-screens-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Driver Details</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/driver-details-screens-3d.png">
          </div>
          <p class="page-text text-justify">
            Drivers can add and view their personal details including contact details, driving licence number, Date of Birth, gender, Next Of Kin and any driver references if required. If the driver uses their own car for business purposes they will also be required to upload a copy of their Business Insurance.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 pl-4 pr-4 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/driver-documents-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">Electronic E-Signature Mandates and Documents</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/driver-documents-3d.png">
          </div>
          <p class="page-text text-justify">
            All drivers are required to read and sign a number of Mandate Policies, including Driving Licence, Heath & Safety, Journey and Accident Policies.
            All Mandates are provided as Electronic E-Signature Documents saving you the administration of Paper Documents and chasing up drivers to sign them.
          </p>
          <p class="page-text text-justify">
            Each driver simply logs into their account and reads and signs each Mandate via certified E-Signature Documents. This ensures the identity of the signer and provides a certified legal document in court proceedings.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

      <!--Grid row-->
      <div class="row">
        <div class="col-6 p-0 m-0 hidden-sm-down">
          <img src="../../../public/img/3d-screens/driver-training-3d.png">
        </div>
        <div class="col-12 col-md-6">
          <h5 class="software-feature-title">On-Line Training Assessments</h5>
          <div class="hidden-md-up">
            <img src="../../../public/img/3d-screens/driver-training-3d.png">
          </div>
          <p class="page-text text-justify">
            Each driver is required to complete On-Line Assessments to assess their risk and roadworthiness.
            This speeds up the assessment process and reduces your costs by not having to carry out On-Road Assessments for every driver.
            The On-Line assessments have been designed to carefully assess the driver’s risk.
            The driver simply logs into has account and carries out the training modules on-line.
            If the drivers risk is found to be above a given threshold they will be invited to carry out an On-Road Assessment with one of our qualified training assessors.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <hr class="mb-5">

    </div>
    <!--Driver features-->

  </div>
  <!--Grid row-->

</section>


