<main>

  <section>
    <div style="background: url('../../../public/img/iStock-667618554.jpg') right center; background-size: cover;">
      <div style="background-color: rgba(0, 0, 0, 0.0);">
        <div class="container-fluid row banner">
          <div class="col-lg-7 pl-5 pr-5 pr-lg-0">
            <div class="flex-column flex-center" style="opacity: 0">
              <h1 class="h1-responsive text-center text-white font-weight-normal">
                Driver & Vehicle Compliance Software
              </h1>

              <h3 class="h3-responsive text-center text-white">
                Simplifying the challenges of Driver & Vehicle Compliance
              </h3>

              <!--<div class="mt-3 d-flex">-->
                <!--<a href="tel:01539555301" class="btn btn btn-outline-white waves-effect">Call Now</a>-->
              <!--</div>-->
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">

    <% include software.intro.ejs %>

    <% include software.features.ejs %>


  </div>

</main>