<h3 class="card-header white-text"
    [ngClass]="{
      'primary-color': assessmentSummary.complete,
      'danger-color-dark': !assessmentSummary.complete
      }">On line assessments</h3>

<div class="card-block row mb-0 mr-1 pb-0">
  <div class="col">
    <ng-container *ngIf="assessmentSummary.totalAssessments > 0; else noassessments">
      <div *ngIf="!assessmentSummary.complete" class="card-text">
        <p>Please complete your assessment training.</p>
        <p>You have {{assessmentSummary.totalAssessments - assessmentSummary.completedAssessments}}
          assessments to complete.</p>
      </div>
      <div *ngIf="assessmentSummary.complete" class="card-text">
        <p>You have completed your on-line risk assessments.</p>
        <div class="d-flex">
          <div>Your risk score is</div>
          <h5 class="badge ml-2" [ngClass]="assessmentSummary.result | assessmentResult">{{assessmentSummary.result}}</h5>
        </div>
      </div>
    </ng-container>
    <ng-template #noassessments>
      <div class="card-text">No assessments.</div>
    </ng-template>
  </div>

  <div *ngIf="!assessmentSummary.complete" class="col-auto">
    <gp-percentage-chart [percent]="assessmentSummary ? assessmentSummary.percentageComplete : 0"
                         [id]="'assessmentSummary'"></gp-percentage-chart>
    <h5><span class="badge d-block mt-3 mb-0" [ngClass]="assessmentSummary.percentageComplete | percentageColor">% Complete</span></h5>
  </div>
</div>

<div class="card-footer">
  <button type="button" class="btn waves-effect" (click)="viewAssessments()"
          [ngClass]="{
          'primary-color': assessmentSummary.complete,
          'danger-color-dark': !assessmentSummary.complete
          }"
  >View</button>
</div>

