<div class="d-flex justify-content-start">
  <ol class="mr-auto breadcrumb">
    <ng-container *ngIf="company && isDriver">
      <li class="breadcrumb-item" >
        <h4 style="text-transform: capitalize">{{company.name}}</h4>
      </li>
      <li class="breadcrumb-item" >
        <h4 class="breadcrumb-divider">/</h4>
      </li>
    </ng-container>
    <li class="breadcrumb-item"
        *ngFor="let url of breadcrumbs | async; let last = last" [ngClass]="{'active': last}">
      <h4 class="hover-pointer" style="text-transform: capitalize" *ngIf="!last" (click)="navigateTo(url)">{{friendlyName(url)}}</h4>
      <h4 *ngIf="!last" class="breadcrumb-divider">/</h4>
      <h4 style="text-transform: capitalize" *ngIf="last">{{friendlyName(url)}}</h4> <!-- disable link of last item -->
    </li>
  </ol>

  <ng-container *ngIf="showSearch">
    <gp-search></gp-search>
  </ng-container>

</div>

<hr>


