.breadcrumb {
  padding: 0;
  margin: 0;
  background-color: transparent;
}

.breadcrumb-item {
  line-height: normal;
}

.breadcrumb-item + .breadcrumb-item::before {
  display: none;
}

.breadcrumb-item.active {
  color: #292b2c;
}

.breadcrumb-item h4 {
  display: inline-block;
  margin-bottom: 0;
}

.breadcrumb-divider {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}



