.table thead th {
  vertical-align: middle;
}

.table thead th a .fa {
  line-height: 0.7;
  vertical-align: middle;
}

.thead-default th {
  color: #464a4c;
  background-color: transparent;
  border-top: 1px;
  border-bottom: 1px;
}

.thead-light .table thead {
  box-shadow: none;
}

.thead-light .table thead tr {
  border-color: red;
  border-bottom: 1px;
}

.thead-light .table thead tr:hover {
  background-color: white !important;
}

.thead-light .table th {
  font-weight: bold;
  border-top: 1px;
  border-bottom: 1px;
}

.thead-light .table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

td {
  border-top: 2px solid #ffffff !important;
}

.icon{
  text-align: center;
}

