<div *ngIf="documents" [ngClass]="{'admin-panel': !lightHeader, 'thead-light': lightHeader}">
  <table class="table table-hover">
    <thead [ngClass]="{'thead-default': lightHeader}">
    <tr [ngClass]="{'primary-color': !lightHeader}">
      <th>Name</th>
      <!--<th>Category</th>-->
      <th>Updated Date</th>
      <th class="icon">Signed</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let document of documents; let i=index;"
        [ngClass]="{
          'table-success': document.signed,
          'table-danger': !document.signed
          }">
      <td [ngClass]="{'hover-pointer': select.observers.length > 0}" (click)="onSelect(document)">{{document.name}}</td>
      <!--<td [ngClass]="{'hover-pointer': select.observers.length > 0}" (click)="onSelect(document)">{{document.folderName}}</td>-->
      <td [ngClass]="{'hover-pointer': select.observers.length > 0}" (click)="onSelect(document)">{{document.statusDateTime | date:'dd MMM y'}}</td>
      <td [ngClass]="{'hover-pointer': select.observers.length > 0}" class="icon" (click)="onSelect(document)">
        <i class="fa" [ngClass]="{
          'fa-check text-success': document.signed,
          'fa-times text-danger': !document.signed
          }"></i>
      </td>

    </tr>
    </tbody>
  </table>

  <div *ngIf="!documents || documents.length === 0">
    <h4 class="text-faded">No documents listed.</h4>
  </div>
</div>
