<div class="admin-panel info-admin-panel">

  <div class="view primary-color white-text">
    <h5>{{title}}</h5>
  </div>

  <!--Card content-->
  <div class="card-block">

    <h4 class="card-title text-faded-slight font-weight-bold">{{contact.forename + ' ' + contact.surname}}</h4>

    <hr>

    <gp-contact-details [contact]="contact"></gp-contact-details>

  </div>
  <!--/.Card content-->

</div>


