<div [formGroup]="form">
  <select #select [id]="input.id" [formControlName]="input.id"
          [attr.disabled]="input.disabled?'disabled':null"
          class="mdb-select colorful-select dropdown-primary">
    <option value="" disabled>Select option</option>
    <option *ngFor="let option of input.options" [value]="option.key" [selected]="option.selected">{{option.value}}
    </option>
  </select>
  <label class="form-control-label" [attr.for]="input.id">
    {{input.label + (input.required || errors ? ' (' : '') +
    (input.required ? 'required' : '') +
    (errors ? (input.required ? ' ' : '') + errors : '') +
    (input.required || errors ? ')' : '') }}</label>
</div>
