<form #settingsForm="ngForm" class="mb-1">
  <div class="row mt-1 mb-1">
    <gp-card header="Grey Vehicles" class="col-md-6">
      <div class="mb-1">
        <div>
          <input type="checkbox" id="excludeService" name="excludeService" class="filled-in"
                 [(ngModel)]="settings.vehicles.grey.exclusions.service">
          <label for="excludeService">Exclude Servicing</label>
        </div>
        <div>
          <input type="checkbox" id="excludeInspections" name="excludeInspections" class="filled-in"
                 [(ngModel)]="settings.vehicles.grey.exclusions.inspection">
          <label for="excludeInspections">Exclude Inspections</label>
        </div>
        <div>
          <input type="checkbox" id="excludeChecks" name="excludeChecks" class="filled-in"
                 [(ngModel)]="settings.vehicles.grey.exclusions.checks">
          <label for="excludeChecks">Exclude Vehicle Checks</label>
        </div>
      </div>
    </gp-card>
  </div>

  <div class="row">
    <gp-card header="Drivers" class="col-md-6">
      <div class="mb-1">
        <input type="checkbox" id="allowInput" class="filled-in"
               name="allowInput" [(ngModel)]="settings.drivers.allowInput">
        <label for="allowInput">Allow Driver To Input Details</label>
      </div>

      <div class="mb-1">
        <input type="checkbox" id="references" class="filled-in"
               name="references" [(ngModel)]="settings.drivers.references">
        <label for="references">Driver References</label>
      </div>

      <div class="mb-1">
        <input type="checkbox" id="faw" class="filled-in"
               name="faw" [(ngModel)]="settings.drivers.includeFaw">
        <label for="faw">First Aid at Work Certificates</label>
      </div>

      <div class="mb-1">
        <input type="checkbox" id="dbs" class="filled-in"
               name="dbs" [(ngModel)]="settings.drivers.includeDbs">
        <label for="dbs">DBS Certificates</label>
      </div>

      <div class="mb-1">
        <input type="checkbox" id="pNumber" class="filled-in"
               name="pNumber" [(ngModel)]="settings.drivers.includePNumber">
        <label for="pNumber">Include PNumber</label>
      </div>

      <div class="mb-1">
        <input type="checkbox" id="reminders" class="filled-in"
               name="reminders" [(ngModel)]="settings.drivers.reminders.sendEmails">
        <label for="reminders">Email Non-Compliance reminders</label>
      </div>

      <div *ngIf="settings.drivers.reminders.sendEmails">
        <gp-cron [(cron)]="driverReminderCron"></gp-cron>
      </div>

    </gp-card>

  </div>

  <div class="row">
    <gp-card header="Driving Licence Checks" class="col-md-6" (add)="addPointsPeriod()">
      <ng-container *ngIf="licenceCheckPeriods">
        <div *ngFor="let period of licenceCheckPeriods">
          <div class="row">
            <div class="col">
              <div class="md-form mb-1">
                <input type="number" id="{{'input-for-' + period.noOfPoints + '-points'}}"
                       class="form-control"
                       [value]="period.noOfPoints" (change)="pointsChange(period,$event.target.value)">
                <label [gp-reset-input]="true"
                       for="{{'input-for-' + period.noOfPoints + '-points'}}">Points</label>
              </div>
            </div>

            <div class="col d-flex">
              <div class="md-form mb-1" style="flex: 1">
                <input type="number" id="{{'input-for-' + period.months + '-months'}}"
                       class="form-control"
                       [value]="period.months" (change)="monthsChange(period,$event.target.value)">
                <label [gp-reset-input]="true"
                       for="{{'input-for-' + period.months + '-months'}}">Months</label>
              </div>

              <div>
                <button class="btn btn-primary btn-small waves-effect p-2 mr-0"
                        (click)="removePointsPeriod(period)">Delete
                </button>
              </div>
            </div>

          </div>
        </div>
      </ng-container>
    </gp-card>
  </div>


</form>


<button class="btn btn-primary waves-effect" (click)="back()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>
  Back
</button>
<button class="btn btn-primary waves-effect" (click)="onSave()">Save</button>




