<!-- Modal -->
<div class="modal fade" style="z-index: 2000;" id="modal-component" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <!--Content-->
    <div class="modal-content">
      <!--Header-->
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">{{title}}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <!--Body-->
      <div class="modal-body">
        <ng-content></ng-content>
      </div>
      <!--Footer-->
      <div class="modal-footer">
        <button *ngIf="!hideCancel" class="btn btn-outline-primary waves-effect" data-dismiss="modal"
                (click)="onConfirm(false)">Cancel</button>
        <button class="btn btn-primary waves-effect" (click)="onConfirm(true)">OK</button>
      </div>
    </div>
    <!--/.Content-->
  </div>
</div>
<!-- Modal -->
