
<script>document.body.className = ((document.body.className) ? document.body.className + ' js-enabled' : 'js-enabled');</script>

<div id="skiplink-container">
    <div>
        <a href="#content" class="skiplink">Skip to main content</a>
    </div>
</div>

<div id="global-cookie-message">
    <p>GOV.UK uses cookies to make the site simpler. <a href="/cookies" title="Find out more about cookies">Find out more about cookies</a></p>
</div>

<header role="banner" id="global-header" class="with-proposition">
    <div class="header-wrapper">
        <div class="header-global">
            <div class="header-logo">
                <a href="https://www.gov.uk" title="Go to the GOV.UK homepage" id="logo" class="content">
                    <img src="https://s3.eu-west-2.amazonaws.com/vehicleenquiry/Assets/Images/gov.uk_logotype_crown.png" width="36" height="32" alt=""> GOV.UK
                </a>
            </div>
        </div>

        <div class="header-proposition">
            <div class="content">
                <a href="/" id="proposition-name">Check if a vehicle is taxed and has an MOT</a>
            </div>
        </div>


    </div>
</header>


<div id="global-header-bar"></div>

<main id="content" role="main">



    <form action="/ConfirmVehicle" autocomplete="off" class="form" method="post">    <div class="grid-row no-bottom">
        <div class="column-two-thirds no-bottom">
            <div class="error-summary" data-valmsg-summary="true" style="display:block;"><h1 class="heading-medium error-summary-heading">There was a problem</h1><p>Please amend the following details:</p><ul class="error-summary-list"><li><a href="#Vrm">Please enter your registration number</a></li></ul></div>

            <h1 class="heading-large">Enter the registration number of the vehicle</h1>

            <div class="form-group no-bottom">
                <fieldset>
                    <legend class="visuallyhidden">Enter the registration number (number plate) of the vehicle</legend>
                    <div class="form-group error field-input-validation-Vrm"><label for="Vrm"><span class="form-label">Registration number (number plate)</span><span class="form-hint">For example, CU57ABC</span><span class="field-validation-error error-message text" data-valmsg-for="Vrm" data-valmsg-replace="true">Please enter your registration number</span></label><input class="input-validation-error form-control form-control-1-4 input-upper" data-val="true" data-val-regex="You must enter your registration number in a valid format" data-val-regex-pattern="^(([A-Za-z]{1,2}[ ]?[0-9]{1,4})|([A-Za-z]{3}[ ]?[0-9]{1,3})|([0-9]{1,3}[ ]?[A-Za-z]{3})|([0-9]{1,4}[ ]?[A-Za-z]{1,2})|([A-Za-z]{3}[ ]?[0-9]{1,3}[ ]?[A-Za-z])|([A-Za-z][ ]?[0-9]{1,3}[ ]?[A-Za-z]{3})|([A-Za-z]{2}[ ]?[0-9]{2}[ ]?[A-Za-z]{3})|([A-Za-z]{3}[ ]?[0-9]{4}))$" data-val-required="Please enter your registration number" id="Vrm" maxlength="8" name="Vrm" type="text" value=""></div>
                    <button class="button" name="Continue" type="submit">Continue</button>
                </fieldset>
            </div>
        </div>
    </div>
    </form>
    <script type="text/javascript">
      $.validator.setDefaults({
        onkeyup: false,
        onfocusout: false,
        onsubmit: true
      });

      $('form').submit(function (evt) {
        $('.error-message').hide();
        $('.error-summary').hide();
        $('.field-input-validation-Vrm').removeClass('form-group-error');
        var $form = $(this);
        if (!$form.valid()) {
          evt.preventDefault();
          $('.field-input-validation-Vrm').addClass('form-group-error');
          $('.error-message').show();
          $('.error-summary').show();
          $('body').scrollTop(0);
        }
      });
    </script>

    <!-- Google Analytics -->
    <script type="text/javascript">
      (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
          (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date(); a = s.createElement(o),
          m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
      })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

      ga('create', 'UA-44719962-4', 'auto');
      ga('set', 'anonymizeIp', true)
      ga('send', 'pageview', '/');
    </script>
    <!-- End Google Analytics -->



</main>




<footer class="group js-footer" id="footer" role="contentinfo">

    <div class="footer-wrapper">


        <div class="footer-meta">
            <div class="footer-meta-inner">
                <ul>
                    <li>
                        <a href="/Cookies" target="_blank">Cookies</a>
                    </li>
                    <li>
                        <a href="/Terms" target="_blank">Terms and Conditions</a>
                    </li>
                    <li>
                        <a href="/ChangeCulture?userCulture=en-GB&amp;returnUrl=%2FConfirmVehicle">English</a>
                    </li>
                    <li>
                        <a href="/ChangeCulture?userCulture=cy-GB&amp;returnUrl=%2FConfirmVehicle">Cymraeg</a>
                    </li>
                    <li>
                        Built by the <a href="https://dvladigital.blog.gov.uk/">Driver &amp; Vehicle Licensing Agency</a>
                    </li>
                </ul>
                <div class="open-government-licence">
                    <p class="logo"><a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence</a></p>

                    <p>All content is available under the <a href="https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/" rel="license">Open Government Licence v3.0</a>, except where otherwise stated</p>

                </div>
            </div>

            <div class="copyright">
                <a href="http://www.nationalarchives.gov.uk/information-management/re-using-public-sector-information/copyright-and-re-use/crown-copyright/">© Crown copyright</a>
            </div>
        </div>
    </div>
</footer>

<div id="global-app-error" class="app-error hidden"></div>

<script>if (typeof window.GOVUK === 'undefined') document.body.className = document.body.className.replace('js-enabled', '');</script>


