<main>

  <section>
    <div style="background: url('../../../public/img/AdobeStock_69856071.jpg') center center; background-size: cover;">
      <div style="background-color: rgba(0, 0, 0, 0.5);">
        <div class="container-fluid row banner">
          <div class="col-lg-7 pl-5 pr-5 pr-lg-0">
            <div class="flex-column flex-center">
              <h1 class="h1-responsive text-center text-white font-weight-normal">
                Driver and vehicle compliance software and driver training services
              </h1>

              <h3 class="h3-responsive text-center text-white">
                Protecting organisations and drivers at work
              </h3>

              <div class="mt-3 d-flex">
                <a href="tel:01995676880" class="btn btn btn-outline-white waves-effect">Call Now</a>
              </div>
            </div>

          </div>
          <div class="col-lg-5 pr-5 flex-column flex-center hidden-md-down">
            <img src="../../../public/img/dashboard_screen.png"
                 class="img-fluid" style="max-height: 400px;">
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <% include home.intro.ejs %>
  </div>


  <section id="streak">
    <div class="streak streak-photo streak-large view photo-1" id="home"
         style="background-image:url('../../../public/img/AdobeStock_165762954.jpg')">
      <div class="hm-black-light">
        <div class="mask flex-center pattern-1">
          <ul class="white-text smooth-scroll">
            <li>
              <h1 class="h1-responsive ml-3 mr-3">
                <i class="fa fa-quote-left" aria-hidden="true"></i> The Driver - The Vehicle - The Journey <i class="fa fa-quote-right" aria-hidden="true">
                </i>
              </h1>
              <h4 class="h4-responsive ml-3 mr-3">Covering all aspects of Fleet compliance in the workplace</h4>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <% include home.features.ejs %>
  </div>


</main>