<section class="section feature-box mb-5">

    <div class="flex-center">
        <h2 class="h2-responsive section-title">Our Services</h2>
    </div>

    <p class="section-description mb-3">
        Green Pass provides a unique <a href="driver-vehicle-compliance-software">on-line cloud software service</a> for your organisation to manage driver and vehicle compliance within the workplace.
        This significantly reduces the challenges of your organisations <a href="http://www.hse.gov.uk/roadsafety/employers.htm" target="_blank">‘driving at work’</a> responsibilities offering a user friendly, efficient, effective and auditable way of keeping your organisation and your drivers and vehicles compliance-safe under the <a href="http://www.hse.gov.uk/roadsafety/employers.htm" target="_blank">current legal framework.</a>.
    </p>
    <p class="section-description mb-4">
        We also provide professional <a href="driver-training">driver training</a> through on-line assessments, e-learning powerpoint presentations, on-road driver training with qualified assessors and driver training workshops.
        This gives our clients the confidence that their drivers fully understand ‘The Organisations’ duty of care commitments towards employee’s, other road user’s & members of the public.
    </p>

    <p class="section-description mb-5">
        Green Pass Compliance Services takes away the challenges of Driver & Vehicle Compliance & Driver Trainer offering you:
    </p>


    <!--Grid row-->
    <div class="row pt-0">

        <!--Grid column-->
        <div class="col-lg-6 mb-r p-0 center-on-small-only">
            <img src="../../../public/img/3d-screens/3d-screens.png" alt=""
                 class="img-fluid z-depth-0">
        </div>
        <!--Grid column-->

        <!--Grid column-->
        <div class="col-lg-6 p-0">
            <div class="section-description ml-0 mr-0">
                <ul class="text-lg-left list-inline center-on-small-only">
                    <li><i class="fa fa-fw fa-check mr-2"></i>Fast account setup</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>Easy to use on-line cloud software</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>Company Dashboard</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>Driver compliance management</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>Vehicle compliance management</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>Depot & Supplier management</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>Auto Reporting & Alerts</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>DVLA driver & vehicle checks</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>Simple and Efficient E-Signature Mandates</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>On-Line & On-Road Driver Training</li>
                    <li><i class="fa fa-fw fa-check mr-2"></i>Auditing</li>
                </ul>
            </div>
        </div>

    </div>


    <p id="features" class="section-description mb-3">
        Our goal is to assist your organisation in reducing your on-road risk factor whilst at the same time
        reducing fleet running costs and helping your organisation become compliant under the <a href="http://www.hse.gov.uk/roadsafety/employers.htm" target="_blank">current legal framework.</a>
    </p>

    <p>
        Please refer to the Health and Safety Executives <a href="http://www.hse.gov.uk/pubns/indg382.pdf" target="_blank">Driving at work guide</a>
        for details on managing work related road safety and employers duties of care under the health and safety law for on-road work activities.
    </p>

</section>