<section id="streak">
    <div class="streak streak-photo streak-large view photo-1" id="home"
         style="background-image:url('/public/img/AdobeStock_95728156.jpg')">
        <div class="hm-purple-slight-2">
            <div class="mask flex-center pattern-1">
                <ul class="white-text smooth-scroll">
                    <li>
                        <h1 class="h1-responsive ml-3 mr-3">
                            <i class="fa fa-quote-left" aria-hidden="true"></i> Heathly Bodiz - Strong Bodiz - Fit Bodiz <i class="fa fa-quote-right" aria-hidden="true">
                            </i></h1>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>