<section class="section feature-box">

  <div class="flex-center">
    <h2 class="h2-responsive section-title">Features & Benefits</h2>
  </div>

  <!--Grid row-->
  <div class="features-small">

    <!--Grid column-->
    <div>

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-file-text-o"></i>
        </div>
        <div>
          <h5 class="feature-title">Minimal Administration</h5>
          <p class="page-text text-justify">Your drivers are provided with their own user account where they must complete all required compliance, including Driving Licence Checks, Driver Details, Vehicle Details, Electronic E-Signature Mandates, and On-Line Assessments. This spreads ‘The Organisation’s’ administration cost, saving you time and money but more importantly will help ‘Your Organisation’ meet their duty of care towards the present legal parameters.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-dashboard"></i>
        </div>
        <div>
          <h5 class="feature-title">Company Dashboard</h5>
          <p class="page-text text-justify">Monitor and manage all your driver & vehicle compliance from a simple and easy to use Dashboard. Providing instant real time ‘at a glance’ compliance metrics and easy to navigate dashboard cards including Company Details, Drivers, Vehicles, Depots, Suppliers, Alerts, Compliance Documents, Users and Reports.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-user"></i>
        </div>
        <div>
          <h5 class="feature-title">Driver Compliance</h5>
          <p class="page-text text-justify">Monitor all your drivers from one easy to use driver list providing you with an instance summary of their compliance, including completed driver details, Mandates, Licence Checks, Training and Business Insurance.</p>
          <p class="page-text text-justify">View each driver in detail to further assess their compliance, providing you with a wealth of information including Driver Details, Licence Check Information, Driver Vehicles, Training Assessment Progress, Status of E-signature Mandates, Business Insurance and Driver References.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-drivers-license-o"></i>
        </div>
        <div>
          <h5 class="feature-title">Simple DVLA Driving Licence Checks</h5>
          <p class="page-text text-justify">Each driver is required to complete periodic Driving Licence Checks with the DVLA. Green Pass provides a quick and simple screen where drivers can retrieve Driving Licence Check details instantaneously and this is automatically reported and registered on the system. The system checks that all drivers have the correct entitlement to drive and will issue alerts on any issues such as offences or licence point thresholds.
            Drivers can register their details from any device such as a smart phone or tablet whilst at work.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-check-square-o"></i>
        </div>
        <div>
          <h5 class="feature-title">Automatic DVLA Vehicle MOT and Tax Checks</h5>
          <p class="page-text text-justify">Each vehicle is automatically checked against the DVLA records for MOT and Tax validity as well as capturing other important Vehicle information. This is automatically re-checked and updated when either MOT or Tax is due saving you the burden and time of manual checks.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-pencil"></i>
        </div>
        <div>
          <h5 class="feature-title">Electronic E-Signature Mandates and Documents</h5>
          <p class="page-text text-justify">
            All drivers are required to read and sign a number of Mandate Policies, including Driving Licence, Heath & Safety, Journey and Accident Policies. All Mandates are provided as Electronic E-Signature Documents saving you the administration of Paper Documents and chasing up drivers to sign them. Each driver simply logs into their account and reads and signs each Mandate via certified E-Signature Documents.
            This ensures the identity of the signer and provides a certified legal document in court proceedings.
          </p>
          <p>
            Manage all your Electronic E-Signature Mandates and Documents from your Dashboard allowing you to control what documents your Drivers are required to read and sign.
          </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-car"></i>
        </div>
        <div>
          <h5 class="feature-title">Vehicle Compliance</h5>
          <p class="page-text text-justify">View all your vehicles and monitor their compliance from a simple at a glance list showing a summary of their compliance status. Vehicle compliance includes Tax, MOT, and optionally Services - Vehicle inspections and Vehicle walk round checks.</p>
          <p class="page-text text-justify">Compliance can be assessed using a simple Traffic Light system of Green for compliant, Amber for anything nearly and Red for anything that is Due or Overdue.  </p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-truck"></i>
        </div>
        <div>
          <h5 class="feature-title">Depots & Suppliers</h5>
          <p class="page-text text-justify">Record all your Depot and Supplier information to eliminate paperwork and provide instant information required for auditing purposes.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-exclamation-triangle"></i>
        </div>
        <div>
          <h5 class="feature-title">Automatic and Scheduled Alerts & Reports</h5>
          <p class="page-text text-justify">Green Pass gives you Automatic Alerts for none compliant Drivers and Vehicles. Your Dashboard provides you with an instant summary of the number of Alerts. Alerts include reports for None Compliant Drivers, None Compliant Vehicles, Outstanding Mandates, Licence Checks and Training etc. View any of these in detail from your dashboard. Reports and Alerts can also be automatically scheduled to be emailed to any company user in the system giving you complete control over monitoring your Driver and Vehicle compliance without having to login to the system.</p>
          <p class="page-text text-justify">You can also setup bespoke alerts such as points on licence, correct categories to drive, specific offences (e.g. drink driving), correct home address and photo card expiry dates etc.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-users"></i>
        </div>
        <div>
          <h5 class="feature-title">Users</h5>
          <p class="page-text text-justify">Create and manage all your system users giving you control over who can access the system.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-check"></i>
        </div>
        <div>
          <h5 class="feature-title">Auditing</h5>
          <p class="page-text text-justify">This is generally the first detailed contact with a client. This will involve an in depth analysis of a client’s strengths and weaknesses in the area of road safety. It is of vital importance that the client appreciates the need for a monitoring system that ensures compliance with the then current legislation and guidelines.  Our Audit Report and Recommendations will be presented in a manner that not only identifies areas of potential or actual weakness, but also offers solutions to those areas.</p>
          <p class="page-text text-justify">Green Pass Compliance Software Audits every step within the system, recording when an action has taken place, when drivers and vehicles are or are not compliant. This provides vital information required when investigating an incident or tracking the compliance of a driver or vehicle.</p>
          <p>Auditors</p>
          <ul>
            <li>Police Officers for 32 years &ndash; 28 of those years as a traffic &amp; motorway officer, AI, Court, Driving Qualifications, Pursuits</li>
            <li>Motorway Task Force &ndash; video, CTU, POT</li>
            <li>I.D, Murder, Kidnapping, Company Fraud, Sexual Offences, Hi-Jacking, RIPA &amp; Forgery</li>
            <li>Commercial Vehicle Unit, ACPO, Publications, Awards</li>
            <li>Private Sector &ndash; Commercial vehicles, Public Inquiry, Court, DCPC, Defence Work</li>
            <li>Academic Qualifications</li>
          </ul>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-leanpub"></i>
        </div>
        <div>
          <h5 class="feature-title">On-Line Driver Assessments</h5>
          <p class="page-text text-justify">
            Each driver is required to complete On-Line Assessments to assess their risk and roadworthiness.
            This speeds up the assessment process and reduces your costs by not having to carry out On-Road Assessments for every driver.
            The On-Line assessments have been designed to carefully assess the driver’s risk.
            The driver simply logs into has account and carries out the training modules on-line.
            If the drivers risk is found to be above a given threshold they will be invited to carry out an On-Road Assessment with one of our qualified training assessors.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-file-powerpoint-o"></i>
        </div>
        <div>
          <h5 class="feature-title">E-Learning Power Point Presentations</h5>
          <p class="page-text text-justify">Optionally each driver is required to complete E-Learning Interactive Power Point Presentations in relation to Corporate Manslaughter Legislation and Defensive Driving Techniques, the power point presentations will help each driver understand the current legislation and their duty of care whilst driving on company business. The power points will also enhance the driver’s road awareness which will help reduce traffic incidents and fatalities on UK roads. This speeds up the assessment process and reduces your costs by not having to carry out compliance work shop’s. Once the e-learning has been concluded there is a theory assessment to be completed by each driver, this gives our clients the confidence that each individual driver has a better understanding of their driving at work responsibilities.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-road"></i>
        </div>
        <div>
          <h5 class="feature-title">On-Road Assessments</h5>
          <p class="page-text text-justify">Drivers maybe invited to carryout on road assessments following an On-Line Assessment should their Risk Score be above a given threshold. Green Pass provides a team of highly qualified training assessors. Short courses inform drivers of best practice and support skill development and reduce the risk of accidents.</p>
          <p class="page-text text-justify">Courses include on-road assessment theory, on road risk and hazard perception assessments to help drivers prioritise dangers whilst driving; Observational assessments to support peripheral and cognitive thought process that make drivers aware of emergent and often complex driver situations, best practice on following distances to help drivers understand response time, breaking distance and stopping distance perception.</p>
          <p class="page-text text-justify">These Online Assessments are all Health and Safety compliance requirements for Drivers – but here they are made accessible and easy for drivers to access. All driver access and compliance is auditable.</p>
        </div>
      </div>
      <!--Grid row-->

      <!--Grid row-->
      <div class="feature">
        <div class="feature-icon">
          <i class="fa fa-fw fa-check-square-o"></i>
        </div>
        <div>
          <h5 class="feature-title">Assessors</h5>
          <p class="page-text text-justify">All Green Pass assessors have to go through vigorous internal training lasting 6 months, once this is completed our driving assessors are subject to a further half a day training every 6 months conducted by ex-traffic police this gives the directors of Green Pass the confidence that all our assessors will deliver our training to the highest possible standards. Quality control is of the highest importance as this is one of the guidelines set out within the “driving at work” legislation, this puts Green Pass in a very unique position as our competitors do not aspire to our levels.</p>
          <p class="page-text text-justify">All Green Pass driving assessors are vastly experienced with the following qualifications:</p>
          <ul>
            <li>ROSPA trained (Police advanced driving)</li>
            <li>JAUPT qualified CPC instructor&rsquo;s</li>
            <li>JAUPT qualified LGV assessors</li>
            <li>DSA qualified LGV instructors</li>
            <li>DSA qualified Fleet instructors</li>
            <li>SAFED trained</li>
            <li>Ex DSA Examiners</li>
            <li>Ex Traffic Police</li>
          </ul>
        </div>
      </div>
      <!--Grid row-->



    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

</section>


