<h3 class="card-header white-text" [ngClass]="percentage | percentageColor">My Documents</h3>
<div class="card-block">
  <h4 class="card-title">Manage your compliance documents</h4>
  <p *ngIf="isComplete" class="card-text">View your compliance documents.</p>
  <p *ngIf="!isComplete" class="card-text">Please complete your compliance documents.</p>
  <h4 *ngIf="total === 0" class="text-faded">No documents</h4>
  <h4 *ngIf="total > 0" class="text-faded">{{completed}} of {{total}} completed.</h4>
</div>
<div class="card-footer">
  <button (click)="viewDocuments()" type="button" class="btn waves-effect"
          [ngClass]="percentage | percentageColor">Documents</button>
</div>
