<h3 class="card-header white-text"
    [ngClass]="hasVehicles | booleanColor">My Vehicles</h3>
<div class="card-block">
  <ng-container *ngIf="hasVehicles; else noVehiclesText">
    <h4 class="card-title">View your vehicles</h4>
    <p class="card-text">View your vehicles.</p>
  </ng-container>
  <ng-template #noVehiclesText>
    <h4 class="card-title">Add owned vehicles.</h4>
    <p class="card-text">
      Please click the button below to add vehicles you use for business purposes.
    </p>
  </ng-template>
</div>
<div class="card-footer">
  <button (click)="viewVehicles()" type="button" class="btn waves-effect"
          [ngClass]="hasVehicles | booleanColor">Vehicles</button>
</div>
