<h3 class="card-header white-text"
    [ngClass]="hasReferences | booleanColor">My References</h3>
<div class="card-block">
  <ng-container *ngIf="hasReferences; else noReferencesText">
    <h4 class="card-title">View your References</h4>
    <p class="card-text">View your references.</p>
  </ng-container>
  <ng-template #noReferencesText>
    <h4 class="card-title">Add References.</h4>
    <p class="card-text">
      Please click the button below to add at least one reference.
    </p>
  </ng-template>
</div>
<div class="card-footer">
  <button (click)="viewReferences()" type="button" class="btn waves-effect"
          [ngClass]="hasReferences | booleanColor">References</button>
</div>
