<h3 class="card-header white-text"
    [ngClass]="hasFaw | booleanColor">First Aid at Work Certificate</h3>
<div class="card-block">
  <ng-container *ngIf="hasFaw; else noFawText">
    <h4 class="card-title">View your First Aid Certificate</h4>
    <p class="card-text">View your First Aid Certificate.</p>
  </ng-container>
  <ng-template #noFawText>
    <h4 class="card-title">Add First Aid Certificate</h4>
    <p class="card-text">
      Please click the button below to add your First Aid Certificate.
    </p>
  </ng-template>
</div>
<div class="card-footer">
  <button (click)="viewFaw()" type="button" class="btn waves-effect"
          [ngClass]="hasFaw | booleanColor">Certificates</button>
</div>
