<h3 class="card-header danger-color-dark white-text">Driving Licence Check</h3>
<div class="card-block">
  <h4 class="card-title">DVLA Driving Licence check.</h4>
  <p class="card-text">
    We need you to provide us with a check code from the DVLA so we can check your driving licence.
    Please click the 'Check' button below to generate a check code.
  </p>
</div>
<div class="card-footer">
  <button (click)="licenceCheck()" type="button" class="btn danger-color-dark waves-effect d-inline">Check</button>
</div>
