<h3 class="card-header primary-color white-text">Driving Licence</h3>
<div class="card-block">
  <h4 class="card-title">Driving Licence Details</h4>
  <p class="card-text">View your licence details.
  </p>
</div>
<div class="card-footer">
  <button (click)="licence()" type="button" class="btn btn-primary waves-effect">View</button>
</div>
