<h3 class="card-header white-text"
    [ngClass]="hasDetails | booleanColor">My Details</h3>
<div class="card-block">
  <ng-container *ngIf="hasDetails; else noDetailsText">
    <h4 class="card-title">View your personal details</h4>
    <p class="card-text">
      View your personal, licence and vehicle details.
    </p>
  </ng-container>
  <ng-template #noDetailsText>
    <h4 class="card-title">Complete your details.</h4>
    <p class="card-text">
      Please click the button below to complete your details.
    </p>
  </ng-template>
</div>
<div class="card-footer">
  <button (click)="viewDetails()" type="button" class="btn waves-effect"
          [ngClass]="hasDetails | booleanColor">Details</button>
</div>
