<h3 class="card-header white-text"
    [ngClass]="hasNextOfKin | booleanColor">Next Of Kin</h3>
<div class="card-block">
  <ng-container *ngIf="hasNextOfKin; else noNextOfKinText">
    <h4 class="card-title">View your Next Of Kin details</h4>
    <p class="card-text">
      View your Next Of Kin details.
    </p>
  </ng-container>
  <ng-template #noNextOfKinText>
    <h4 class="card-title">Complete your Next Of Kin details.</h4>
    <p class="card-text">
      Please click the button below to complete your Next Of Kin details.
    </p>
  </ng-template>
</div>
<div class="card-footer">
  <button (click)="navigateToNextOfKin()" type="button" class="btn waves-effect"
          [ngClass]="hasNextOfKin | booleanColor">Next Of Kin</button>
</div>
