<h3 class="card-header white-text"
    [ngClass]="hasInsurance | booleanColor">Business Insurance</h3>
<div class="card-block">
  <ng-container *ngIf="hasInsurance; else noInsuranceText">
    <h4 class="card-title">View your Business Insurance</h4>
    <p class="card-text">View your Business Insurance.</p>
  </ng-container>
  <ng-template #noInsuranceText>
    <h4 class="card-title">Add Business Insurance.</h4>
    <p class="card-text">
      Please click the button below to add your Business Insurance.
    </p>
  </ng-template>
</div>
<div class="card-footer">
  <button (click)="viewInsurance()" type="button" class="btn waves-effect"
          [ngClass]="hasInsurance | booleanColor">Insurance</button>
</div>
