<div [formGroup]="form">
  <div class="d-flex mt-0 mb-0">
    <input [formControlName]="input.id" type="text" [id]="input.id" #searchInput
           class="form-control validate form-control-danger form-control-success"
           autofocus [autoFocus]="input.autoFocus"
           (blur)="hideResults()" (keydown)="onKeyDown($event)">

    <div>
      <button #searchButton class="btn btn-primary btn-lg waves-effect pl-3 pr-3 mr-0"
              (click)="search(searchInput.value)"
              [disabled]="!input.control.valid">Search
      </button>
    </div>

    <ul *ngIf="showResults" class="mdb-autocomplete-wrap">
      <li *ngFor="let item of results" (click)="select(item)">{{item | fullAddress}}</li>
    </ul>

    <label class="form-control-label" [attr.for]="input.id"
           [gp-reset-input]="input.type !== 'dropdown' && input.control && input.control.value || input.autoFocus">
      {{input.label + (input.required || errors ? ' (' : '') +
      (input.required ? 'required' : '') +
      (errors ? (input.required ? ' ' : '') + errors : '') +
      (input.required || errors ? ')' : '') }}</label>

  </div>

</div>


