<li class="nav-item" *ngIf="!state?.token" (click)="login()">
  <a class="nav-link">
    <i class="fa fa-sign-in fa-lg"></i>
    <span>Login</span>
  </a>
</li>

<li class="nav-item hidden-md-down" *ngIf="state?.token">
  <div class="navbar-text">{{(state?.user.forename) + ' ' + (state?.user.surname)}}</div>
</li>
<li class="nav-item" (click)="logout()" *ngIf="state?.token">
  <a class="nav-link">
    <i class="fa fa-sign-out fa-lg"></i>
    <span>Logout</span>
  </a>
</li>






