<div *ngIf="company">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified primary-color flex-column flex-md-row" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#details-panel" role="tab"
         [ngClass]="{'active': !selectedTab || selectedTab === 'details'}"
         (click)="selectTab('details')">Company Details</a>
    </li>
    <li *ngIf="showSubscription" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#subscription-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'subscription'}"
         (click)="selectTab('subscription')">Subscription</a>
    </li>
    <li *ngIf="showSettings" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#settings-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'settings'}"
         (click)="selectTab('settings')">Settings</a>
    </li>
    <li *ngIf="showInsurance" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#insurance-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'insurance'}"
         (click)="selectTab('insurance')">Fleet Insurance</a>
    </li>
  </ul>

  <div class="tab-content card">

    <div class="tab-pane" id="details-panel" role="tabpanel"
         [ngClass]="{'show active': !selectedTab || selectedTab === 'details'}">
      <gp-company-details [company]="company"></gp-company-details>
    </div>

    <div *ngIf="showSubscription" class="tab-pane" id="subscription-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'subscription'}">
      <gp-subscription-details [company]="company" (save)="save($event)"></gp-subscription-details>
    </div>

    <div *ngIf="showSettings" class="tab-pane" id="settings-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'settings'}">
      <gp-company-settings [settings]="company.settings"></gp-company-settings>
    </div>

    <div *ngIf="showInsurance" class="tab-pane fade in" id="insurance-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'insurance'}">
      <gp-fileRecord-list [fileRecordHistory]="company.fleetInsuranceHistory"
                          [fileRecordType]="'Insurance'"
                          [lightHeader]="true"
                          [allowAdd]="showInsurance"
                          (add)="addInsurance()"
                          (itemSelected)="selectInsurance($event)">
      </gp-fileRecord-list>
    </div>

  </div>

</div>

<button class="btn btn-primary waves-effect" (click)="back()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Back</button>
