<header>

  <!-- SideNav content for mobile devices-->
  <div class="white-skin">
    <gp-side-nav [links]="links" [loggedIn]="loggedIn" [user]="user"></gp-side-nav>
  </div>

  <nav class="navbar fixed-top navbar-toggleable-md navbar-expand-lg scrolling-navbar double-nav navbar-light bg-white">

    <!-- SideNav slide-out button -->
    <div class="float-xs-left mr-3">
      <a href="#" data-activates="slide-out" class="button-collapse hidden-lg-up">
        <i class="fa fa-bars"></i>
      </a>
    </div>

    <div class="navbar-brand">
      <a href="#">
        <img src="../../../../assets/img/green-pass-80.png" alt="Green Pass">
      </a>
    </div>

    <ul class="nav navbar-nav nav-flex-icons mr-auto hidden-md-down">

      <li *ngFor="let link of links; let i = index;" class="nav-item" [ngClass]="{'dropdown': link.children}">

        <ng-container *ngIf="link.children">
          <a class="nav-link dropdown-toggle" id="{{index + 'dropdown'}}"
             data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i *ngIf="link.icon" class="fa fa-fw" [ngClass]="link.icon"></i>
            <span>{{link.label}}</span>
          </a>
          <div class="dropdown-menu" [attr.aria-labelledby]="index + 'dropdown'">
            <a *ngFor="let childLink of link.children" class="dropdown-item" [routerLink]="[childLink.url]">
              <i *ngIf="childLink.icon" class="fa fa-fw" [ngClass]="childLink.icon"></i>
              <span>{{childLink.label}}</span>
            </a>
          </div>
        </ng-container>

        <ng-container *ngIf="!link.children">
          <a class="nav-link" (click)="navigate(link)">
            <i *ngIf="link.icon" class="fa fa-lg fa-fw" [ngClass]="link.icon"></i>
            <span>{{link.label}}</span>
          </a>
        </ng-container>
      </li>

    </ul>

    <ul class="nav navbar-nav nav-flex-icons ml-auto">
      <gp-login-status></gp-login-status>
    </ul>

  </nav>

</header>
