.scrolling-navbar {
  padding-top: 8px;
  padding-bottom: 8px;
}

.navbar-brand img {
  height: 50px;
}

.nav-item.active {
  background-color: #00A550;
  border-radius: 2px;
  color: white !important;
}

.nav-item.active a  {
  color: white !important;
}

.navbar .button-collapse {
  color: #555;
  margin-top: -2px;
}

 /*Reduces size of the header and the image below 991 */
@media (max-width: 991px) {
  .navbar .navbar-brand {
    margin-top: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  .scrolling-navbar {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .navbar-brand img {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    height: 40px; }
}






