<h2>OVER WEIGHT VEHICLES POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Over Weight Vehicle Policy and I agree that I have a duty of care to the organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p><strong>OVER WEIGHT VEHICLES</strong></p>
<p>As the driver, you are responsible for ensuring the even distribution of your load also <strong>ensuring that your vehicle is not overloaded</strong>.</p>
<p>The following general rules should be applied at all times.</p>
<p><strong>If you the driver are unsure &ndash; ASK!!</strong></p>
<ol>
    <li>Ensure that you are aware of the maximum permitted axle weights and the gross weight limit (GVW) of the vehicle you are to drive</li>
    <li>Before your vehicle is loaded, check that its platform, bodywork and anchorage points, as appropriate, are in sound and serviceable condition</li>
    <li>Supervise the loading of your vehicle whenever possible to ensure correct weight distribution</li>
    <li>Ensure that the load is spread to give an even weight distribution over the floor area</li>
    <li>When the load is stacked, larger and heavier items should be placed at the bottom</li>
    <li>The heavier items should be placed nearer to the centre of the vehicle and the lighter ones towards the sides</li>
    <li>Where part of the load is to be picked up or removed in the course of a journey, <strong>REMEMBER</strong>, to consider the effect on axles and gross weights and rearrange as required</li>
    <li>If at any time during your journey you sense that the load is unevenly distributed and has the potential to cause your vehicle to become unstable - pull over in a safe place, check the load and take any remedial action as appropriate</li>
    <li>ALL Passengers MUST wear seat belts unless they have a Medical Certificate</li>
</ol>
<p>We look forward to your full co-operation in ensuring compliance with the law.</p>