<h2>VEHICLE MAINTENANCE POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>Declaration:</p>
<p>Being the person referred to above, I authorise the organization listed above to request vehicle maintenance information as and when they require, at a frequency they shall determine.</p>
<p>Vehicles used for business journeys, whether company‐owned or employee‐owned, must be roadworthy and in a safe and legally acceptable condition to make any journey. Oil, coolant and windscreen washer fluid levels together with tyre tread depth and pressures must all be checked regularly. All external lights must be working correctly and the windscreen free of chips and cracks which should be repaired at the earliest opportunity. It is the driver&rsquo;s responsibility to ensure that the vehicle is serviced in line with the manufacturer&rsquo;s recommendations, has a valid MOT test certificate where required and a valid tax certificate.</p>