.cascading-admin-card {
  margin-top: 20px;
}

.cascading-admin-card .admin-up {
  margin-left: 4%;
  margin-right: 4%;
  margin-top: -20px;
}

.cascading-admin-card .admin-up .fa {
  padding: 1.7rem;
  font-size: 2rem;
  color: #fff;
  text-align: left;
  margin-right: 1rem;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

.cascading-admin-card .admin-up .data {
  float: right;
  margin-top: 2rem;
  text-align: right;
}

.cascading-admin-card .admin-up .data p {
  color: #999999;
  font-size: 12px;
}

.classic-admin-card .card-block {
  color: #fff;
  margin-bottom: 0;
  padding: 0.9rem;
}

.classic-admin-card .card-block p {
  font-size: 13px;
  opacity: 0.7;
  margin-bottom: 0;
}

.classic-admin-card .card-block h4 {
  margin-top: 10px;
}

.classic-admin-card .card-block .pull-xs-right .fa {
  font-size: 3rem;
  opacity: 0.5;
}

.classic-admin-card .progress {
  margin: 0;
  opacity: 0.7;
}

.modal .admin-panel .view {
  padding: 12px;
}

.modal .admin-panel .view h5 {
  font-size: 1rem;
}

.admin-panel .small-tag .tag {
  font-size: 13px;
  margin-right: 1rem;
  margin-bottom: 1rem;
}

.admin-panel .btn-sm {
  padding: 8px;
}

.admin-panel .btn-sm .fa {
  font-size: 13px;
}

.admin-panel.blue-admin-panel .view,
.admin-panel.blue-admin-panel .table thead tr {
  background-color: #1565c0;
}

.admin-panel.blue-admin-panel .tag,
.admin-panel.blue-admin-panel .btn {
  background-color: #104d92;
}

.admin-panel.dpurple-admin-panel .view,
.admin-panel.dpurple-admin-panel .table thead tr {
  background-color: #4527a0;
}

.admin-panel.dpurple-admin-panel .tag,
.admin-panel.dpurple-admin-panel .btn {
  background-color: #331d77;
}

.admin-panel.indigo-admin-panel .view,
.admin-panel.indigo-admin-panel .table thead tr {
  background-color: #3f51b5;
}

.admin-panel.indigo-admin-panel .tag,
.admin-panel.indigo-admin-panel .btn {
  background-color: #32408f;
}

.admin-panel.purple-admin-panel .view,
.admin-panel.purple-admin-panel .table thead tr {
  background-color: #9c27b0;
}

.admin-panel.purple-admin-panel .tag,
.admin-panel.purple-admin-panel .btn {
  background-color: #771e86;
}

.admin-panel.success-admin-panel .view,
.admin-panel.success-admin-panel .table thead tr {
  background-color: #007E33;
}

.admin-panel.success-admin-panel .tag,
.admin-panel.success-admin-panel .btn {
  background-color: #004b1e;
}

.admin-panel.info-admin-panel .view,
.admin-panel.info-admin-panel .table thead tr {
  background-color: #039be5;
}

.admin-panel.info-admin-panel .tag,
.admin-panel.info-admin-panel .btn {
  background-color: #0279b3;
}

.admin-panel.warning-admin-panel .view,
.admin-panel.warning-admin-panel .table thead tr {
  background-color: #e65100;
}

.admin-panel.warning-admin-panel .tag,
.admin-panel.warning-admin-panel .btn {
  background-color: #b33f00;
}

.admin-panel.danger-admin-panel .view,
.admin-panel.danger-admin-panel .table thead tr {
  background-color: #CC0000;
}

.admin-panel.danger-admin-panel .tag,
.admin-panel.danger-admin-panel .btn {
  background-color: #990000;
}

.admin-panel .view {
  padding: 1rem;
  text-align: center;
}

.admin-panel .view h2,
.admin-panel .view h5 {
  color: #fff;
  margin-bottom: 0;
}

.admin-panel .view.left {
  margin-right: 0;
}

.admin-panel .view.right {
  margin-left: 0;
}

.admin-panel .card-block {
  margin: 0;
}

.admin-panel .card-block .list-group .list-group-item {
  border: 0;
  border-bottom: 1px solid #eee;
  margin-bottom: 0;
}

.admin-panel .card-block .list-group .list-group-item:last-of-type {
  border-bottom: 0;
}

.admin-panel .table {
  font-weight: 300;
}

.admin-panel .table thead {
  color: #fff;
}

.admin-panel .table thead th {
  border: 0;
  font-weight: 300;
}

.admin-panel .table tbody .none-top-border td {
  border-top: none;
}

.admin-panel .table .tag {
  padding: 5px 10px;
}

.admin-panel input,
.admin-panel .select-wrapper input.select-dropdown {
  font-size: 14px;
}

/*.admin-panel [type="checkbox"].filled-in:not(:checked) + label:after {*/
  /*border: 2px solid #fff;*/
/*}*/

.admin-panel .table thead {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
