/* IE compatible Sticky Footer
https://stackoverflow.com/questions/31835164/how-do-i-fix-a-flexbox-sticky-footer-in-ie11
*/

html, body {
  height: 100%;
}

.hidden-sn main {
  flex: 1 0 auto;
  padding-top: 6rem;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  background-color: #fefefe;
}

app-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  flex: 1 0 auto;
}

@media (min-width: 992px) {
  body {
    -webkit-transition: background .5s ease-in-out, padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out, padding .5s ease-in-out;
    transition: background .5s ease-in-out, padding .5s ease-in-out;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
  }
}

.btn-primary:disabled {
  background-color: #00A550;
}

.card-deck {
  margin-left: 0;
}

.card-deck .card {
  margin-bottom: 1rem;
}

.card-block {
  margin-bottom: auto !important;
}

.dashboard {
  /*max-width: 1500px;*/
}

.dashboard-card {
  /*max-width: 400px;*/
  min-width: 350px;
  margin-left: 0 !important;
  margin-right: 0;
  margin-bottom: 1rem;
}

.loading {
  position:fixed;
  top:50%;
  left:50%;
  text-align: center;
  transform:translate(-50%, -50%);
}

/*app-root:empty + .loading {*/
  /*opacity: 1;*/
  /*z-index: 100;*/
/*}*/

.progress-overlay {
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%, -50%);
  z-index: 1000;
}

.spinner-primary-color-only {
  border-color: #00a550;
}

.primary-text {
  color: #00a550;
}

.secondary-text {
  color: #ea1c23;
}

.align-bottom-left {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 1rem;
}

.align-top-right {
  position: fixed;
  top: 70px;
  right: 0;
  margin: 1rem;
}

.hover-pointer {
  cursor: pointer;
}

.text-faded {
  opacity: 0.5;
}

.text-faded-slight {
  opacity: 0.85;
}

.right-faded-border {
  border-right: 1px solid #dbdbdb;
}

.has-danger .form-control {
  border-bottom: 1px solid #d9534f !important;
  box-shadow: 0 1px 0 0 white !important;
}

.has-danger .form-control:focus {
  border-bottom: 1px solid #d9534f !important;
  box-shadow: 0 1px 0 0 #d9534f !important;
}

.has-success .form-control {
  border-bottom: 1px solid #00C851 !important;
  box-shadow: 0 1px 0 0 white !important;
}

.has-success .form-control:focus {
  border-bottom: 1px solid #00C851 !important;
  box-shadow: 0 1px 0 0 #00C851 !important;
}

.has-danger .form-control-label {
  color: #d9534f !important;
}

.has-success .form-control-label {
  color: #00C851 !important;
}

.headline {
  display: block;
  margin: 10px 0 25px 0;
  border-bottom: 1px dotted #e4e9f0;
}

.headline h1, .headline h2, .headline h3, .headline h4, .headline h5 {
  margin: 0 0 -2px 0;
  padding-bottom: 5px;
  display: inline-block;
  font-weight: 300;
  border-bottom: 2px solid #00A550;
}

.divider-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 1.5rem; }
.divider-new h2 {
  margin-top: 5px; }

.divider-header::before {
  content: '';
  height: 1.5px;
  background: #666;
  flex: 1;
  margin: 0 .45em 0 0; }

.divider-header::after {
  content: '';
  height: 1.5px;
  background: #666;
  flex: 1;
  margin: 0 0 0 .45em; }

/*.table thead th {*/
  /*border-bottom: 1px solid #eceeef;*/
/*}*/

/*.table td {*/
  /*border-top: 0;*/
  /*border-bottom: 1px solid #eceeef;*/
/*}*/

th .btn-floating {
  margin: -5px 0 -5px 0;
}

  /* Change Auto complete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 9999px white !important;
}

.carousel-position {
  margin-left: -15px !important;
  margin-right: -15px !important;
  margin-top: -38px !important;
}

@media (min-width: 992px) {
  .carousel-position {
    margin-top: -22px !important;
  }
}

.carousel .carousel-inner img {
  width: 100% !important;
  max-height: 38rem !important;
  min-height: 20rem !important;
  object-fit: cover !important;
  overflow: hidden !important;
}

.section-description {
  margin-bottom: 2rem !important;
}

hr {
  display: block !important;
}

.extra-margins {
  margin-top: 2rem !important;
  margin-bottom: 1.5rem !important;
  width: 100%;
}

.bullet-list {
  list-style-type:disc !important;
}

.bullet-li {
  list-style-type:disc !important;
  padding-bottom: 1rem !important;
}

.dropdown-content li > span {
  padding: 0.4rem 0.4rem !important;
}

.select-dropdown li.disabled span:hover {
  box-shadow: none;
  color: rgba(0, 0, 0, 0.3) !important;
}

.colorful-select .dropdown-content {
  padding: 0.5rem;
  margin-top: 3.5rem;
  max-height: 300px;
}

.card {
  margin-bottom: 1rem;
}

.dashboard .card-footer {
  border-top: 0;
  padding: 0.5rem;
}

[type="checkbox"].filled-in:checked + label:after {
  border: 2px solid #00a550;
  background-color: #00a550;
}

.card-list-group {
  box-shadow: none !important;
  text-align: left;
}

.card-block {
  padding: 1rem;
}

.card-text {
  padding: 0;
}

.no-item {
  padding: 0.75rem 0.5rem;
}

.btn-outline-primary {
  height: 42px;
  padding-top: 12px;
  padding-left: 1rem;
  padding-right: 1rem;
}

.picker__header select {
  display: inline-block !important;
}

.modal {
  top: 250px !important;
}

.modal-backdrop {
  display: none;
}


