<div [formGroup]="form" class="form-inline">
  <div *ngFor="let input of inputGroup.inputs">
    <label [attr.for]="input.id">{{input.label}}</label>
    <select [id]="input.id" [formControlName]="input.id" class="browser-default mr-2" style="width: 100px">
      <option *ngFor="let option of input.options" [value]="option.key" [selected]="option.selected">{{option.value}}</option>
    </select>
  </div>
</div>
