<div class="row mb-1">
  <div class="col-12">
    <gp-card [header]="'Vehicle Search'">

      <gp-vehicle-search (searchTermChanged)="search($event)" (check)="checkTerm($event)" [disabled]="searching"></gp-vehicle-search>

      <gp-error-alert [error]="message"></gp-error-alert>

      <ng-container *ngIf="!dvlaCheck && vehicles && vehicles.length > 0">
        <gp-card [header]="'Search Results'">
          <p>Click on a vehicle from the search results below to select your vehicle.</p>
          <gp-dynamic-list [list]="list"
                           [itemsPerPage]="itemsPerPage" (pageChange)="onPageChange($event)"
                           (itemSelected)="select($event)" (back)="back()"></gp-dynamic-list>
        </gp-card>
      </ng-container>

      <ng-container *ngIf="dvlaCheck">
        <gp-vehicle-dvla-details [searchTerm$]="searchTerm$" (vehicleChanged)="vehicleChanged($event)"></gp-vehicle-dvla-details>
      </ng-container>

    </gp-card>

    <ng-container *ngIf="!dvlaCheck">
      <button class="btn btn-primary waves-effect" (click)="back()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Back</button>
    </ng-container>

  </div>
</div>

<ng-container *ngIf="dvlaCheck && vehicle && vehicle.registrationNumber">
  <gp-vehicle-input [driver]="driver" [vehicle]="vehicle" [company]="company"
                    (cancel)="back()" (save)="select($event)"></gp-vehicle-input>
</ng-container>

<gp-model [title]="'Add Vehicle'" (confirmed)="addConfirmed($event)">
  <div *ngIf="vehicle; else noVehicle">
    Are you sure you want to assign vehicle '{{vehicle.registrationNumber}}' to '{{driver.fullName}}' ?
  </div>
  <ng-template #noVehicle>No Vehicle selected</ng-template>
</gp-model>
