<div>

  <div class="card">
    <h3 class="card-header primary-color white-text">Allowed vehicles</h3>
    <div class="card-block">

      <div class="accordion" aria-multiselectable="true">
        <div class="card" *ngFor="let vehicle of allowedVehicles.vehicles; let i=index;">
          <div class="card-header grey lighten-3" [attr.id]="'heading' + i">
            <a class="collapsed" data-toggle="collapse" [attr.href]="'#collapsibleVehicle' + i" aria-expanded="false"
               [attr.aria-controls]="'collapsibleVehicle' + i">
              <span class="font-weight-bold">Category : {{vehicle.category}} </span>
              <span>Start Date: {{vehicle.startDate | date:'d MMM yyyy'}} </span>
              <span>End Date: {{vehicle.endDate | date:'d MMM yyyy'}}</span>
              <span *ngIf="hasRestrictions(vehicle)" class="font-weight-bold">Restrictions apply</span>
              <i class="fa fa-angle-down rotate-icon"></i>
            </a>
          </div>
          <div [attr.id]="'collapsibleVehicle' + i" class="collapse" [attr.aria-labelledby]="'heading' + i">
            <div class="card-block row">

              <div class="col"
                   [ngClass]="{'col-8': hasRestrictions(vehicle)}">
                <!--<p class="card-title font-weight-bold">Description</p>-->
                <p class="card-text">{{vehicle.description}}</p>
              </div>

              <div *ngIf="hasRestrictions(vehicle)" class="col-4">
                <p class="card-title font-weight-bold">Restriction Codes</p>
                <div *ngFor="let restriction of vehicle.restrictions">
                  <span class="font-weight-bold">{{restriction.code}}</span>
                  <span>{{restriction.description}}</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <hr>

  <div class="card">
    <h3 class="card-header primary-color white-text">Allowed provisional vehicles</h3>
    <div class="card-block">

      <div class="accordion" aria-multiselectable="true">
        <div class="card" *ngFor="let vehicle of allowedVehicles.provisional; let i=index;">
          <div class="card-header grey lighten-3" [attr.id]="'heading' + i">
            <a class="collapsed" data-toggle="collapse" [attr.href]="'#collapsibleProvisional' + i" aria-expanded="false"
               [attr.aria-controls]="'collapsibleProvisional' + i">
              <span class="font-weight-bold">Category : {{vehicle.category}} </span>
              <span>Start Date: {{vehicle.startDate | date:'d MMM yyyy'}} </span>
              <span>End Date: {{vehicle.endDate | date:'d MMM yyyy'}}</span>
              <span *ngIf="hasRestrictions(vehicle)" class="font-weight-bold">Restrictions apply</span>
              <i class="fa fa-angle-down rotate-icon"></i>
            </a>
          </div>
          <div [attr.id]="'collapsibleProvisional' + i" class="collapse" [attr.aria-labelledby]="'heading' + i">
            <div class="card-block row">

              <div class="col"
                   [ngClass]="{'col-8': hasRestrictions(vehicle)}">
                <!--<p class="card-title font-weight-bold">Description</p>-->
                <p class="card-text">{{vehicle.description}}</p>
              </div>

              <div *ngIf="hasRestrictions(vehicle)" class="col-4">
                <p class="card-title font-weight-bold">Restriction Codes</p>
                <div *ngFor="let restriction of vehicle.restrictions">
                  <span class="font-weight-bold">{{restriction.code}}</span>
                  <span>{{restriction.description}}</span>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>
