a, a:visited {
  color: inherit;
}

.card {
  border: 1px solid #eee;
  box-shadow: none;
}

.accordion .card .card-header {
  padding: 0.5rem 0.5rem;
  background: transparent;
  border-bottom: 0;
}

.accordion .card .card-block {
   padding-top: 1.25rem;
}

i.fa {
  line-height: inherit;
}


