<div class="flex-center mt-3">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-xl-5" style="max-width: 700px">
    <div class="card">
      <h3 class="card-header primary-color white-text">Please login</h3>
      <div class="card-block">
        <div *ngIf="inputs">
          <form [formGroup]="form">

            <div>
              <div>
                <gp-input *ngFor="let input of inputs" [input]="input" [form]="form"></gp-input>
              </div>

              <div *ngFor="let input of inputs">
                <div *ngIf="!(input.control.valid || input.control.pristine)" class="alert alert-danger">
                  {{input.label}} is required
                </div>
              </div>

              <div *ngIf="message" class="alert alert-danger">
                {{message}}<br>
                Please try again.
              </div>
            </div>

            <div>
              <button class="btn btn-primary waves-effect pull-right" type="submit" (click)="login(); $event.defaultPrevented;" [disabled]="!form.valid">Login</button>
              <button class="btn btn-outline-primary waves-effect pull-left" (click)="forgotPassword()">Forgot Password</button>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
</div>
