<h3 class="card-header white-text"
    [ngClass]="{
      'primary-color': moduleSummary.complete,
      'danger-color-dark': !moduleSummary.complete
      }">On line Modules</h3>

<div class="card-block row mb-0 mr-1 pb-0">
  <div class="col">
    <ng-container *ngIf="moduleSummary.totalModules > 0; else nomodules">
      <div *ngIf="!moduleSummary.complete" class="card-text">
        <p>Please complete your module training.</p>
        <p>You have {{moduleSummary.totalModules - moduleSummary.completedModules}}
          modules to complete.</p>
      </div>
      <div *ngIf="moduleSummary.complete" class="card-text">
        <p>You have completed your on-line training modules.</p>
        <div class="d-flex">
          <div>Your risk score is</div>
          <h5 class="badge ml-2" [ngClass]="moduleSummary.result | assessmentResult">{{moduleSummary.result}}</h5>
        </div>
      </div>
    </ng-container>
    <ng-template #nomodules>
      <div class="card-text">No modules.</div>
    </ng-template>
  </div>

  <div *ngIf="!moduleSummary.complete" class="col-auto">
    <gp-percentage-chart [percent]="moduleSummary ? moduleSummary.percentageComplete : 0"
                         [id]="'moduleSummary'"></gp-percentage-chart>
    <h5><span class="badge d-block mt-3 mb-0" [ngClass]="moduleSummary.percentageComplete | percentageColor">% Complete</span></h5>
  </div>
</div>

<div class="card-footer">
  <button type="button" class="btn waves-effect" (click)="viewTraining()"
          [ngClass]="{
          'primary-color': moduleSummary.complete,
          'danger-color-dark': !moduleSummary.complete
          }"
  >View</button>
</div>

