<div *ngIf="vehicle && vehicle.registrationNumber">
  <div class="row">
    <div class="col-md-6">
      <gp-vehicle-date-alert [title]="'Taxed'" [expiredTitle]="vehicle.vehicleStatus"
                             [dateHeading]="'Tax due'"
                             [date]="vehicle.taxDueDate"></gp-vehicle-date-alert>
    </div>
    <div class="col-md-6">
      <gp-vehicle-date-alert [title]="'MOT'" [expiredTitle]="'MOT Expired'" [dateHeading]="'Mot due'"
                             [date]="vehicle.motDueDate"></gp-vehicle-date-alert>
    </div>
  </div>

  <gp-dynamic-list-group [items]="details"></gp-dynamic-list-group>
</div>

<gp-error-alert [error]="error"></gp-error-alert>
