<div class="card-deck dashboard">

  <div class="card dashboard-card">
    <h3 class="card-header primary-color white-text">Companies</h3>
    <div class="card-block">
      <h4 class="card-title">Manage Companies</h4>
      <p class="card-text">View, add or edit companies details.</p>
    </div>
    <div class="card-footer">
      <button [routerLink]="['/admin/companies']" type="button" class="btn btn-primary waves-effect">Manage</button>
    </div>
  </div>

  <div class="card dashboard-card">
    <h3 class="card-header primary-color white-text">Document Templates</h3>
    <div class="card-block mb-auto">
      <h4 class="card-title">Manage document templates</h4>
      <p class="card-text">Create and manage document templates.</p>
    </div>
    <div class="card-footer">
      <button [routerLink]="['/admin/templates']" type="button" class="btn btn-primary waves-effect">Manage</button>
    </div>
  </div>

  <div class="card dashboard-card">
    <h3 class="card-header primary-color white-text">Reports</h3>
    <div class="card-block">
      <h4 class="card-title">Manage Reports</h4>
      <p class="card-text">Create and manage reports</p>
    </div>
    <div class="card-footer">
      <button [routerLink]="['/admin/reportTypes']" class="btn btn-primary waves-effect">View</button>
    </div>
  </div>

  <div class="card dashboard-card">
    <h3 class="card-header danger-color-dark white-text">Alerts</h3>
    <div class="card-block row" *ngIf="alertSummary">
      <div class="col text-center right-faded-border">
        <h4 class="text-faded">Driver alerts</h4>
        <h2 class="text-faded">{{alertSummary.driverAlerts}}</h2>
      </div>
      <div class="col text-center">
        <h4 class="text-faded">Vehicle alerts</h4>
        <h2 class="text-faded">{{alertSummary.vehicleAlerts}}</h2>
      </div>
    </div>
    <div class="card-footer">
      <button [routerLink]="['/admin/alerts']" type="button" class="btn danger-color-dark waves-effect">View</button>
      <button [routerLink]="['/admin/alertTypes']" type="button" class="btn danger-color-dark waves-effect float-right">Manage</button>
    </div>
  </div>

<!--</div>-->

<!--<div class="card-deck dashboard">-->

  <div class="card dashboard-card">
    <h3 class="card-header primary-color white-text">Company Compliance</h3>
    <div class="card-block">
      <div class="float-left">
        <gp-percentage-chart [percent]="compliance ? compliance.compliant : 0"
                             [id]="'company-compliance'"></gp-percentage-chart>
        <h5><span class="badge success-color d-block mt-3 mb-0">Compliance</span></h5>
      </div>
    </div>
  </div>

  <div class="card dashboard-card">
    <h3 class="card-header primary-color white-text">Driver Compliance</h3>
    <div class="card-block">
      <div class="float-left">
        <gp-percentage-chart [percent]="compliance ? compliance.driver : 0"
                             [id]="'driver-compliance'"></gp-percentage-chart>
        <h5><span class="badge success-color d-block mt-3 mb-0">Compliance</span></h5>
      </div>
    </div>
  </div>

  <div class="card dashboard-card">
    <h3 class="card-header primary-color white-text">Vehicle Compliance</h3>
    <div class="card-block">
      <div class="float-left">
        <gp-percentage-chart [percent]="compliance ? compliance.vehicle : 0"
                             [id]="'vehicle-compliance'"></gp-percentage-chart>
        <h5><span class="badge success-color d-block mt-3 mb-0">Compliance</span></h5>
      </div>
    </div>
  </div>

  <!--<div class="card dashboard-card">-->
    <!--<h3 class="card-header info-color white-text">Auditing</h3>-->
    <!--<div class="card-block">-->
      <!--<h4 class="card-title">View Audits</h4>-->
      <!--<p class="card-text">View audit reports</p>-->
    <!--</div>-->
    <!--<div class="card-footer">-->
      <!--<button [routerLink]="['/admin/audits']" type="button" disabled class="btn btn-primary waves-effect">View</button>-->
    <!--</div>-->
  <!--</div>-->

</div>









