<div>

  <div *ngIf="tachoGraph" class="card">
    <h3 class="card-header primary-color white-text">Digital Tachograph Card</h3>
    <div class="card-block">
      <gp-dynamic-list-group [items]="tachoItems"></gp-dynamic-list-group>
    </div>
  </div>

  <div *ngIf="cpc" class="card">
    <h3 class="card-header primary-color white-text">Certificate of Professional Competence (CPC)</h3>
    <div class="card-block">

      <div class="accordion" aria-multiselectable="true">
        <div class="card" *ngFor="let category of cpc.categories; let i=index;">
          <div class="card-header grey lighten-3" [attr.id]="'heading' + i">
            <a *ngIf="category.description" class="collapsed" data-toggle="collapse" [attr.href]="'#collapsibleCategory' + i" aria-expanded="false"
               [attr.aria-controls]="'collapsibleCategory' + i">
              <span class="font-weight-bold">Category : {{category.category}} </span>
              <span>End Date: {{category.endDate | date:'d MMM yyyy'}}</span>
              <i class="fa fa-angle-down rotate-icon"></i>
            </a>

            <a *ngIf="!category.description">
              <span class="font-weight-bold mr-2">Category : {{category.category}}</span>
              <span>End Date: {{category.endDate | date:'d MMM yyyy'}}</span>
            </a>

          </div>
          <div *ngIf="category.description"
               [attr.id]="'collapsibleCategory' + i" class="collapse" [attr.aria-labelledby]="'heading' + i">
            <div class="card-block row">
              <div>
                <p class="card-title font-weight-bold">Description</p>
                <p class="card-text">{{category.description}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
