/* Change Auto complete styles in Chrome*/
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-box-shadow: inset 0 0 0 9999px white !important;
}

.btn-search {
  width: 8rem;
}

.position-relative {
  position: relative;
}

.radio-group {
  margin-top: -1.5rem;
  margin-bottom: -1rem;
}

.label-checkbox {
  margin-right: 1rem;
}

.uppercase-input {
  text-transform: uppercase
}


