<ng-container *ngIf="input && !input.hidden">
  <div [ngSwitch]="input.type" [formGroup]="form" class="md-form form-group"
       [ngClass]="{
        'has-danger': input.control && input.control.dirty && !input.control.valid && input.control.touched,
        'has-success': input.control && input.control.valid && (input.control.dirty || input.control.touched)}">

    <!-- Icon for the Input -->
    <i *ngIf="input.icon" class="fa prefix" [ngClass]="input.icon"></i>

    <!-- Text Input -->
    <input *ngSwitchCase="'text'" [formControlName]="input.id" [type]="input.type" [id]="input.id"
           class="form-control validate form-control-danger form-control-success"
           autofocus [autoFocus]="input.autoFocus"
           [ngClass]="{'uppercase-input': input.uppercase}"
           [attr.maxlength]="input.maxLength ? input.maxLength : null"
           [attr.disabled]="input.disabled?'disabled':null">

    <!-- Search Input -->
    <gp-search-input *ngSwitchCase="'search'" [input]="input" [form]="form" [errors]="errors"></gp-search-input>

    <!-- Password Input -->
    <input *ngSwitchCase="'password'" [formControlName]="input.id" [type]="input.type" [id]="input.id"
           class="form-control validate form-control-danger form-control-success"
           autofocus [autoFocus]="input.autoFocus">

    <!-- Date Input -->
    <input *ngSwitchCase="'date'" type="text" [id]="input.id" [formControlName]="input.id"
           [attr.disabled]="input.disabled?'disabled':null"
           class="form-control datepicker">

    <!-- File Input -->
    <div *ngSwitchCase="'file'">
      <gp-file-input #fileInput (fileSelected)="input.action($event)" [input]="input" [form]="form"></gp-file-input>
      <div class="mt-1">
        <gp-image-preview *ngIf="input.fileType === 'image'" [file]="input.file"></gp-image-preview>
        <gp-pdf-preview *ngIf="input.fileType === 'pdf'" [file]="input.file"></gp-pdf-preview>
      </div>
    </div>

    <!-- Checkbox Input -->
    <div *ngSwitchCase="'checkbox'">
      <input type="checkbox" [id]="input.id" [formControlName]="input.id" #checkbox class="filled-in"
             (change)="onChange(input, checkbox.checked)" [attr.disabled]="input.disabled?'disabled':null">
      <label [attr.for]="input.id">{{input.label + (input.required ? ' (required)' : '')}}</label>
    </div>

    <gp-select-input *ngSwitchCase="'dropdown'" [form]="form" [input]="input"></gp-select-input>

    <div *ngSwitchCase="'radio'" class="radio-group">
      <label class="position-relative d-block" style="font-size: 0.8rem;">{{input.label + (input.required ? ' (required)' : '')}}</label>
      <div class="d-inline-flex">
        <div *ngFor="let option of input.options; let i=index;" class="form-group">
          <input class="with-gap" [name]="input.id" type="radio" [id]="input.id + i" [formControlName]="input.id"
                 [checked]="option.selected" [value]="option.value"
                 [attr.disabled]="input.disabled?'disabled':null">
          <label class="label-checkbox" [attr.for]="input.id + i">{{option.value}}</label>
        </div>
      </div>
    </div>

    <!-- Label for the Input -->
    <label *ngIf="input.type === 'text' || input.type === 'password' || input.type === 'date'"
           class="form-control-label" [attr.for]="input.id"
           [gp-reset-input]="input.type !== 'dropdown' && input.control && input.control.value || input.autoFocus">
      {{input.label + (input.required || errors ? ' (' : '') +
      (input.required ? 'required' : '') +
      (errors ? (input.required ? ' ' : '') + errors : '') +
      (input.required || errors ? ')' : '') }}</label>

  </div>
</ng-container>

