  <h3 class="h2-responsive font-weight-normal">Convictions</h3>
  <br>

  <h4 class="h4-responsive  font-weight-normal">Conviction</h4>
  <p>A lorry driver who killed a mother and three children while distracted by his phone has been jailed for 10
    years.</p>
  <p>Tracy Houghton, 45, died instantly along with her sons Ethan, 13, and Joshua, 11, and her partner's daughter Aimee
    Goldsmith, also 11, when Tomasz Kroker smashed into stationary traffic. Judge Maura McGowan said his attention had
    been so poor he "might as well have had his eyes closed". Kroker, 30, was scrolling through music selections at the
    time of the crash.</p>
  <p>'Sudden horror'</p>
  <p>The court heard he had been so distracted he barely looked at the road for almost a kilometre. The judge described
    the case as the most horrific she had ever seen.</p>
  <p>Kate Goldsmith, whose daughter Aimee died in the crash on the A34 near Newbury in Berkshire, said Kroker had turned
    his lorry into a "lethal weapon" by using his phone while driving at 50mph, and she made a plea to all road users to
    learn the lessons from the case.</p>
  <p>"We urge you to make a personal commitment to stop using mobile phones while driving and make our roads safer for
    everyone," she said.</p>
  <p>Speaking outside Reading Crown Court, she said: "The 10-year sentence will not ease our pain and suffering, nor do
    we believe it will send a strong enough message to those who lack the self-restraint to not use a mobile phone when
    driving."</p>
  <p>The court heard how the family had been returning from a camping trip in two cars at the time of the crash on 10
    August</p>
  <p>Ms Houghton's partner Mark Goldsmith and his 13-year-old son Jake were in a car that was struck by Kroker. The
    court heard how the Vauxhall Zafira being driven by Mr Goldsmith was shunted into the Corsa containing the rest of
    the family, which was forced underneath a lorry in front. The Corsa was compressed to a third of its normal size,
    the court was told.</p>
  <p>Prosecutor Charles Ward-Jackson said: "It is a particularly distressing feature that the two surviving members of
    the family were in the car behind, and a 13-year-old boy was forced to witness at close range the deaths of four
    members of close family."</p>
  <p>The court heard that an hour before the pile-up, Kroker had signed a declaration to his employer, promising he
    would not use his phone at the wheel.</p>
  <p>He initially told police his brakes failed, and the traffic in front of him "just stopped". He was also found to
    have lied to his bosses about whether he had been distracted, claiming he had the radio on.</p>
  <p>The lorry driver, from Trajan Walk, Andover, Hampshire, pleaded guilty on 10 October to four counts of causing
    death by dangerous driving.</p>

  <br>

  <h4 class="h4-responsive font-weight-normal">Conviction</h4>
  <p>Baldwins Crane Hire has become the first firm to be charged with corporate manslaughter where a company driver was
    killed.</p>
  <p>Lindsay Easton was driving a heavy crane down a steep road away from a wind farm at Scout Moor, Lancashire, when
    the vehicle crashed into an earth bank and fell from the road.</p>
  <p>It is alleged that the brakes failed.</p>
  <p>After reviewing the evidence gathered by Lancashire Police and the Health and Safety Executive during their
    investigation into the death of Easton, Jane Wragg, specialist prosecutor at the Crown Prosecution Service (CPS),
    said: &ldquo;I have concluded that Baldwins Crane Hire should be charged with an offence of corporate
    manslaughter.</p>
  <p>&ldquo;I have also concluded that there is sufficient evidence to charge the company Baldwins Crane Hire with
    offences under Section 2 and Section 3 of the Health and Safety at Work Act 1974.&rdquo;</p>
  <p>Wragg explained that she believed there was sufficient evidence for a realistic prospect of conviction and that a
    prosecution is in the public interest. The case is listed for trial in October.</p>
  <p><strong>A crane hire firm has been fined &pound;700,000 after an employee was killed in a crash.</strong></p>
  <p>Lindsay Easton, 49, was driving a crane at Scout Moor quarry in Lancashire when the brakes failed in 2011.</p>
  <p>Baldwins Crane Hire, which&nbsp;<a href="http://www.bbc.co.uk/news/uk-england-lancashire-34972941" target="_blank"><strong>was
        recently convicted of corporate manslaughter</strong></a>, was also ordered to pay &pound;200,000 in costs at
    Preston Crown Court.</p>
  <p>The court found it also failed to ensure the safety of its employees and others.</p>

  <br>

  <h3>Update</h3>
  <p>Eight companies have been convicted under corporate manslaughter legislation, since it was first introduced in
    April, 2008. Two organisations have been acquitted, while a further four companies, including Baldwins Crane Hire,
    are awaiting trial.</p>
  <p>Julia Messervy-Whiting, a partner at law firm Shakespeare Martineau, said: &ldquo;There has been a surprising lack
    of convictions under the [Corporate Manslaughter and Corporate Homicide] Act and only one of those resulted in the
    minimum &pound;500,000 [fine] anticipated by the guidelines.&rdquo;</p>
  <p>Recent cases have seen fines ranging from &pound;20,000 to &pound;200,000, while publicity orders, where an
    organisation must advertise its failings through a public notice in the press, have only been ordered in two
    cases.</p>
  <p>Messervy-Whiting said: &ldquo;Prosecutors have faced quite a lot of criticism for failing to make more of what was
    considered to be landmark legislation.&rdquo;</p>
  <p>As a consequence, the CPS is now pursuing more cases year-on-year and the trend is set to continue, she
    suggested.</p>
  <p>&ldquo;It&rsquo;s in this context that companies and their insurers shouldn&rsquo;t dismiss the risk of
    prosecution,&rdquo; she said.</p>
  <p>New sentencing guidelines are also expected to be introduced in the next few weeks, which will see much tougher
    sanctions imposed for breaches of corporate manslaughter and health and safety legislation.</p>
  <p>Messervy-Whiting explained: &ldquo;It&rsquo;s been suggested that one of the reasons for these new guidelines is
    public unease about the low levels of fines imposed in some cases.&rdquo;</p>
  <p>In fact, when Michael Caplan QC, announced the consultation on sentencing guidelines in February, he said: &ldquo;We
    want to ensure that these crimes don&rsquo;t pay.</p>
  <p>&ldquo;Our proposals will help a consistent approach to sentencing, allowing fair and proportionate sentences
    across the board, with some of the most serious offenders facing tougher penalties.&rdquo;</p>
  <p>There haven&rsquo;t yet been many court rulings where a company has shown gross negligence to &lsquo;at work&rsquo;
    fleet drivers, but there are around 50 cases waiting in the wings ready to go to court.</p>
  <p>And there are many civil cases being brought through third parties or family members of accident victims, looking
    for compensation for the loss of loved ones due to gross corporate negligence.</p>
