<main>

  <section>
    <div style="background: url('../../../public/img/iStock-621604558.jpg') center center; background-size: cover">
      <div style="background-color: rgba(0, 0, 0, 0.1);">
        <div class="container-fluid row banner">
          <div class="col-lg-7 pl-5 pr-5 pr-lg-0">
            <div class="flex-column flex-center" style="opacity: 0">
              <h1 class="h1-responsive text-center text-white font-weight-normal">
                Compliance & Legislation
              </h1>

              <h3 class="h3-responsive text-center text-white">
                Why your organisation and drivers need our services
              </h3>

              <!--<div class="mt-3 d-flex">-->
                <!--<a href="tel:01539555301" class="btn btn btn-outline-white waves-effect">Call Now</a>-->
              <!--</div>-->
            </div>

          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <% include compliance.about.ejs %>
  </div>

  <div class="extra-margins" />

  <section id="streak">
    <div class="streak streak-photo streak-large view photo-1" id="home"
          style="background-image:url('../../../public/img/AdobeStock_130945900.jpg')">
      <div class="hm-black-light">
        <div class="mask flex-center pattern-1">
          <ul class="white-text smooth-scroll">
            <li>
              <h1 class="h1-responsive ml-3 mr-3">
                <i class="fa fa-quote-left" aria-hidden="true"></i> Are your Drivers and Vehicles Compliant? <i
                        class="fa fa-quote-right" aria-hidden="true">
                </i></h1>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>
    
<div class="extra-margins" />

  <div class="container">
    <% include compliance.news.ejs %>
  </div>

</main>