<section>

  <div class="flex-center">
    <h2 class="h2-responsive section-title pb-4">Why Compliance Matters</h2>
  </div>

  <h4 class="h4-responsive text-center pb-4">
    Why your organisation and drivers need our services
  </h4>

  <p>Legislation is always there for a good reason; to keep us safe, to ensure that no harm is done to others and to help us maintain the high standards that guard against reputation damage in the competitiveness business of transport. Yet the skills and resources required to enable us to comply with such legislation - balancing your interpretation of regulations with your businesses objectives, problem-solving in a fast and timely manner, accessing timely analytical an organisational skills can be significant and costly.</p>

  <p>None compliance with driver Health &amp; Safety matters because it represents a <em>&lsquo;breach of duty&rsquo;</em>. A&nbsp;breach of duty&nbsp;occurs when one person or company has a&nbsp;duty&nbsp;of care toward another person or company, but fails to live up to that standard. A person may be liable for negligence in a personal injury case if his&nbsp;breach of duty&nbsp;caused another person's injuries. There are two key laws that you need to pay attention to (although others also affect duty of care).</p>
  <ul>
    <li><a href="http://www.hse.gov.uk/legislation/hswa.htm" target="_blank">The Health and Safety at Work Act 1974</a> lays out an employer&rsquo;s duty of care to those that they employ and to those that might be affected by business activities - including driving</li>
    <li><a href="https://www.legislation.gov.uk/ukpga/2007/19/contents" target="_blank">The Corporate Manslaughter and Corporate Homicide Act 2007</a> targets serious management failures that result in a death. This includes deaths at the wheel of a company car or van.</li>
  </ul>
  <p>If your organisation is not compliant with this Health and Safety legislation and a driving related accident happens, you can be prosecuted if you:</p>
  <ul>
    <li>have not implemented driver safe systems within the workplace</li>
    <li>cannot demonstrate control over your safe systems and drivers</li>
    <li>provide an auditable track record of such systems that would endure a public inquiry or court proceedings</li>
  </ul>
  <p><a href="https://www.legislation.gov.uk/ukpga/2007/19/contents" target="_blank">The Corporate Manslaughter and Corporate Homicide Act 2007</a> is a landmark in law. For the first time, companies and organisations can be found guilty of corporate manslaughter as a result of serious management failures resulting in a gross breach of a duty of care.</p>
  <p>According to <a href="http://www.businesscarmanager.co.uk/corporate-manslaughter-this-means-you" target="_blank">Business Car Manager Magazine</a>, while there haven&rsquo;t yet been many court rulings where a company has shown gross negligence to &lsquo;at work&rsquo; fleet drivers, there are around 50 cases waiting to go to court. And there are many more civil cases being brought through third parties or family members of accident victims, looking for compensation for the loss of loved ones due to gross corporate negligence.</p>

  <p>
    Please refer to the Health and Safety Executives <a href="http://www.hse.gov.uk/pubns/indg382.pdf" target="_blank">Driving at work guide</a>
    for more details on managing work related road safety and employers duties of care under the health and safety law for on-road work activities.
  </p>

</section>

