<h2>DRIVING LICENCE DECLARATION</h2>
<p><strong><em>It is an offence for a person to drive on a road any vehicle otherwise than in accordance with a licence authorising him to drive it. It is also an offence for a person to cause or permit another person to drive it.</em></strong></p>
<p>This is a declaration that I The Driver have produced my latest licence, and that I have no pending convictions, endorsements or disqualifications.</p>
<p>I have had no change in my health, which could affect my entitlement to drive, in particular, for ALL licences:</p>
<ul>
    <li>Epilepsy</li>
    <li>Fits or blackouts</li>
    <li>Repeated attacks of sudden disabling giddiness (<em>dizziness that prevents you from functioning normally</em>)</li>
    <li>Diabetes controlled by insulin</li>
    <li>An implanted cardiac pacemaker</li>
    <li>An implanted cardiac defibrillator (ICD)</li>
    <li>Persistent alcohol abuse or dependency</li>
    <li>Persistent drug abuse or dependency</li>
    <li>Parkinson&rsquo;s disease</li>
    <li>Narcolepsy or sleep apnoea syndrome</li>
    <li>Stroke, with any symptoms lasting longer than one month, recurrent &lsquo;mini strokes&rsquo; or TIAs (Transiant Ischaemic Attacks)</li>
    <li>Any type of brain surgery, severe head injury involving inpatient treatment, or brain tumour</li>
    <li>Any other chronic (long term) neurological condition</li>
    <li>A serious problem with memory or episodes of confusion</li>
    <li>Severe learning disability</li>
    <li>Serious psychiatric illness or mental ill-health</li>
    <li>Total loss of sight in one eye</li>
    <li>Any condition affecting both eyes, or the remaining eye only (not including short or long sight or colour blindness)</li>
    <li>Any condition affecting your visual field (<em>the surrounding area you can see when looking directly ahead</em>)</li>
    <li>Any persistent limb problem for which your driving has to be restricted to certain types of vehicles or those with adapted controls</li>
</ul>
<p>Also, for vocational licences:</p>
<ul>
    <li>Angina, other heart conditions or heart operation</li>
    <li>Diabetes controlled by tablets</li>
    <li>Visual problems affecting either eye</li>
    <li>Any form of stroke, including TIAs (Transiant Ischaemic Attacks)</li>
</ul>
<p>If any of the above affects me I will inform my employer as soon as possible. I understand that I must also inform DVLA by writing to the: Drivers Medical Group, DVLA, Swansea SA99 1TU (the appropriate medical questionnaires can be downloaded from www.direct.gov.uk/driverhealth). Failure to do so is a criminal offence punishable by a fine of up to &pound;1,000. I will inform my employer of any road traffic incidents, convictions, endorsements or disqualifications that occur, which could affect my entitlement to drive, as soon as possible.</p>
<p>I have read and fully understand the above and will comply with what is requested of me.</p>