<h2>HEALTH & SAFETY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Health &amp; Safety Policy &amp; The Driver&rsquo;s Handbook and that I will adhere to both the Health &amp; Safety Policy and the Driver&rsquo;s Handbook and I confirm that I will abide by the conditions set out within the policies. I accept that it is my responsibility to ensure that I am legally and medically fit to drive. Employees (you the driver) have a duty of care to inform the organization if they incur any endorsements on their licence and/or there are any changes to your medical fitness to drive. I agree that I have a duty of care to the Organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p>POLICY STATEMENT BY THE ORGANIZATION REGARDING ANY PERSON DRIVING A COMPANY VEHICLE ON COMPANY BUSINESS.</p>
<p>The Health &amp; Safety Executive now regard existing Health &amp; Safety laws as applying to anyone driving a vehicle as part of their work. It is now essential therefore that the organization, has a controlled and auditable management process in place to protect itself and its employees.</p>
<p>The Health &amp; Safety of all employees including you the driver of the organization as well as members of the public &amp; other road users is of great importance to the successful operation of the organization</p>
<p>In order to assist the organization in meeting its responsibilities and to promote and ensure your welfare (as well as members of the public) the organization must rely on each employee to adopt and maintain a responsible attitude in regard to the well-being of others.</p>
<p>Safe driving is a vital element in each individual&rsquo;s ability to perform his/hers job effectively, the organization must look at each employee &amp; you the driver to uphold the highest standards of driving safety.</p>
<p>The organization&rsquo;s philosophy is that, irrespective of blame, all collisions are preventable and all risks can be contained. As a vehicle user you are not only responsible for your own safety, you are responsible for the safety of others who may be affected by your actions. Therefore you are required to operate your vehicle, at all times, in a manner that is safe and responsible.</p>
<p>The vehicle you utilize is a valuable item of business equipment, which must be both available and maintained in a road-worthy condition at all times. The organization must look to each employee to uphold the conditions of road-worthiness and to produce an annual business insurance certificate &amp; a valid MOT document demanded by law if you are to use your own vehicle for work purposes.</p>
<p>You have been issued with a Vehicle Driver Handbook, agreed by the organization, which sets out the rules, processes and regulations that all drivers must follow.</p>
<p>Within the handbook, specific requirements and tasks are set out. Anyone using a vehicle must comply with these requirements. Failure to do so will result in the organization treating the matter in a disciplinary issue.</p>
<p>It is essential that all authorized (you) drivers familiarize with the contents of the Driver&rsquo;s Handbook, as there are disciplinary actions implemented if certain requirements are ignored. The organization may not accept liability for any expenditure as a result of failure on the part of any driver (you) to comply with these documented requirements in relation to driving, operating or maintaining a private or company vehicle.</p>
<p>Serious or fatal consequences can be caused to members of the public, other road users or employees of the organization due to human error or misuse of a company vehicle.</p>
<p>Employees of the organization who drive whilst working for the organization are required to co-operate fully with the management of occupational road risk, in return, everyone can benefit from the successful management of this important part of our business.</p>
<p>Employees (you the driver) have a duty of care to inform the organization if they incur any endorsements on their licence and/or there are any changes to your medical fitness to drive.</p>