
<!--Section: Pricing v.1-->
<section class="section pb-3">

  <!--Section heading-->
  <div class="flex-center">
    <h2 class="h2-responsive section-title">Service Levels</h2>
  </div>

  <!--Section description-->
  <p class="section-description">
    Our services are highly customisable to suit the needs of your organisation.
    We offer 3 service levels, Bronze, Silver and Gold, however we can provide bespoke service levels depending on your requirements.
  </p>

  <!--Grid row-->
  <div class="row">

    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-r">

      <!--Pricing card-->
      <div class="card pricing-card">
        <!--Price-->
        <div class="header p-4" style="background: #CD7F32">
          <div class="version">
            <h1>Bronze</h1>
          </div>
        </div>
        <!--Price-->

        <!--Features-->
        <div class="card-body striped">
          <ul>
            <li>
              <p class="mt-1"><i class="fa fa-check"></i> Fast Account Setup</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Company Dashboard</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Driver Compliance</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Vehicle Compliance</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> User Management</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Depots & Supplier Management</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> DVLA Driver Licence Checks</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> DVLA Vehicle Checks</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> E-Signature Mandates</p>
            </li>
            <li>
              <p><i class="fa fa-times"></i> Compliance Alerts</p>
            </li>
            <li>
              <p><i class="fa fa-times"></i> On-line Assessments</p>
            </li>
            <li>
              <p><i class="fa fa-times"></i> On-line Power Point Training</p>
            </li>
            <li>
              <p><i class="fa fa-times"></i> On-Road Assessments</p>
            </li>
            <li>
              <p><i class="fa fa-times"></i> Training Workshops</p>
            </li>
          </ul>
          <!--<button class="btn btn-primary">Call now</button>-->
        </div>
        <!--Features-->

      </div>
      <!--Pricing card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-r">

      <!--Pricing card-->
      <div class="card pricing-card">
        <!--Price-->
        <div class="header p-4" style="background: #C0C0C0">
          <div class="version">
            <h1>Silver</h1>
          </div>
        </div>
        <!--Price-->

        <!--Features-->
        <div class="card-body striped">
          <ul>
            <li>
              <p class="mt-1"><i class="fa fa-check"></i> Fast Account Setup</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Company Dashboard</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Driver Compliance</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Vehicle Compliance</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> User Management</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Depots & Supplier Management</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> DVLA Driver Licence Checks</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> DVLA Vehicle Checks</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> E-Signature Mandates</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Compliance Alerts (5 Alerts)</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> On-line Assessments</p>
            </li>
            <li>
              <p><i class="fa fa-times"></i> On-line Power Point Training</p>
            </li>
            <li>
              <p><i class="fa fa-times"></i> On-Road Assessments</p>
            </li>
            <li>
              <p><i class="fa fa-times"></i> Training Workshops</p>
            </li>
          </ul>
          <!--<button class="btn btn-primary">Call now</button>-->
        </div>
        <!--Features-->

      </div>
      <!--Pricing card-->

    </div>
    <!--Grid column-->

    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-r">
      <!--Pricing card-->
      <div class="card pricing-card">
        <!--Price-->
        <div class="header p-4" style="background: #DAA520">
          <div class="version">
            <h1>Gold</h1>
          </div>
        </div>
        <!--Price-->

        <!--Features-->
        <div class="card-body striped">
          <ul>
            <li>
              <p class="mt-1"><i class="fa fa-check"></i> Fast Account Setup</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Company Dashboard</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Driver Compliance</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Vehicle Compliance</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> User Management</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Depots & Supplier Management</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> DVLA Driver Licence Checks</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> DVLA Vehicle Checks</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> E-Signature Mandates</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Compliance Alerts (Unlimited)</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> On-line Assessments</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> On-line Power Point Training</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> On-Road Assessments</p>
            </li>
            <li>
              <p><i class="fa fa-check"></i> Training Workshops</p>
            </li>
          </ul>
          <!--<button class="btn btn-primary">Call now</button>-->
        </div>
        <!--Features-->

      </div>
      <!--Pricing card-->
    </div>
    <!--Grid column-->

  </div>
  <!--Grid row-->

  <p class="section-description mb-0">
    Managing occupational road risk policies can be challenging and costly. We provide an efficient and cost effective solution that is accessible and simple to use.
    Our software and services already have high quality systems in place to save your organisation the time and financial cost of managing driver & vehicle compliance.
  </p>

  <div class="d-flex justify-content-center mt-3 mb-3">
    <a href="tel:01539555301" class="btn btn-primary">Enquire Now</a>
  </div>


</section>
<!--Section: Pricing v.1-->