<div class="flex-center mt-3">
  <div class="col-xs-12 col-sm-8 col-md-8 col-lg-6 col-xl-5" style="max-width: 700px">
    <div class="card">
      <h3 class="card-header primary-color white-text">
        {{title}}
      </h3>
      <div class="card-block">

        <div *ngIf="!message" class="alert alert-success mb-4">
          <div>Please enter and confirm a new password. Passwords must be at lest 8 characters.</div>
        </div>

        <div *ngIf="!message && inputs != null">
          <form [formGroup]="formGroup">

            <div>
              <div>
                <gp-input *ngFor="let input of inputs" [input]="input" [form]="formGroup"></gp-input>
              </div>

              <div *ngIf="(!confirm.pristine && !password.pristine) && (confirm.touched && password.touched)  &&
                          (confirm.errors?.minlength || password.errors?.minlength || formGroup.errors?.matchPassword === false)"
                   class="alert alert-danger">
                <div *ngIf="confirm.errors?.minlength || password.errors?.minlength">
                  Passwords must be at least 8 characters long.
                </div>
                <div *ngIf="formGroup.errors?.matchPassword === false">
                  Passwords do not match.
                </div>
              </div>

              <div *ngIf="error" class="alert alert-danger">
                <span><gp-dynamic-content [content]="error"></gp-dynamic-content></span>
                <p>Please try again.</p>
              </div>
            </div>

            <p style="font-size: 14px;"><strong>PRIVACY POLICY</strong></p>
            <gp-privacy-policy></gp-privacy-policy>

            <div>
              <button class="btn btn-primary pull-right" (click)="onSubmit(); $event.defaultPrevented;">Submit</button>
            </div>

          </form>
        </div>

        <ng-container *ngIf="message">
          <div class="alert alert-success">
            <gp-dynamic-content [content]="message"></gp-dynamic-content>
          </div>
          <button [routerLink]="['/login']" class="btn btn-primary pull-right" >Login</button>
        </ng-container>

      </div>

    </div>
  </div>
</div>
