<!--<gp-card [header]="'Driving Licence Check Code'">-->
  <div class="row">
    <div class="col-sm-4">
      <gp-card [header]="'Generate Check Code'">
        <div>Please follow the steps below to generate a check code so that we can check your driving licence with the Dvla.</div>
        <hr>

        <div>Copy & paste or enter the following details into the Dvla Licence check website opposite.</div>

        <hr>

        <div class="mb-1 d-flex justify-content-end">
          <div class="mr-auto">
            <div class="font-weight-bold">Driving licence number</div>
            <div #dln>{{licenceNumber}}</div>
          </div>
          <button class="btn btn-primary waves-effect" (click)="copy(dln)">Copy</button>
        </div>

        <div class="mb-1 d-flex justify-content-end">
          <div class="mr-auto">
            <div class="font-weight-bold">National Insurance Number</div>
            <div #nin>{{niNumber}}</div>
          </div>
          <button class="btn btn-primary waves-effect" (click)="copy(nin)">Copy</button>
        </div>

        <div class="d-flex justify-content-end">
          <div class="mr-auto">
            <div class="font-weight-bold">Postcode</div>
            <div #pcode>{{postcode}}</div>
          </div>
          <button class="btn btn-primary waves-effect" (click)="copy(pcode)">Copy</button>
        </div>

        <hr>

        <div>Check the 'I agree' checkbox to agree to use the Dvla service</div>
        <hr>
        <div>Click the 'View now' button</div>

        <hr>

        <div>You will then be shown your licence details.</div>
        <hr>
        <div>Click the 'Share your licence information tab.</div>
        <hr>
        <div>Click the 'Get a code' button to generate a licence check code.</div>
        <hr>
        <div class="mb-1">Enter the check code into the box below</div>
        <div class="md-form">
          <input type="text" id="form1" class="form-control" [(ngModel)]="checkCode">
          <label for="form1" class="">Enter Check Code here</label>
        </div>
        <div class="mt-1">Click the 'Finish' button below</div>
        <button class="btn btn-primary waves-effect m-0 mt-1"
                (click)="licenceCheck()"
                [disabled]="!checkCode">Finish</button>

        <!-- Errors -->
        <div *ngIf="error">
          <div class="alert alert-danger mt-1" role="alert">{{error}}</div>
        </div>

      </gp-card>
    </div>
    <iframe *ngIf="url" [src]="url | safe" class="col-sm-8" scrolling="auto" #frame (load)="onFrameLoad(frame)"
            width="100%" style="height: 100vmax; border: none"></iframe>
  </div>
<!--</gp-card>-->
