<div *ngIf="company && company._id" class="dashboard">

  <div class="card-deck dashboard">

    <div class="card dashboard-card">
      <h3 class="card-header primary-color white-text">Company details</h3>
      <div class="card-block row mb-0 mr-1 pb-0">
        <div class="col">
          <div class="card-text">View company details.</div>
        </div>
        <div class="col-auto hover-pointer" (click)="selectCompanyCompliance()">
          <gp-percentage-chart [percent]="compliance ? compliance.compliant : 0"
                               [id]="company._id"></gp-percentage-chart>
          <h5><span class="badge success-color d-block mt-3 mb-0">Compliance</span></h5>
        </div>
      </div>
      <div class="card-footer">
        <button (click)="selectCompany()" class="btn btn-primary waves-effect">View</button>
      </div>
    </div>

    <div class="card dashboard-card">
      <h3 class="card-header primary-color white-text">Drivers</h3>
      <div class="card-block row mb-0 mr-1 pb-0">
        <div class="col">
          <p class="card-text">View, add or edit driver details.</p>
          <gp-items-summary [items]="company.drivers" [itemText]="'driver'"></gp-items-summary>
        </div>
        <div class="col-auto hover-pointer" (click)="selectDriverCompliance()">
          <gp-percentage-chart [percent]="compliance ? compliance.driver.compliant : 0"
                               [id]="company._id + 'drivers'"></gp-percentage-chart>
          <h5><span class="badge success-color d-block mt-3 mb-0">Compliance</span></h5>
        </div>
      </div>
      <div class="card-footer">
        <button (click)="selectDrivers()" class="btn btn-primary waves-effect">View</button>
      </div>
    </div>

    <div class="card dashboard-card">
      <h3 class="card-header primary-color white-text">Vehicles</h3>
      <div class="card-block row mb-0 mr-1 pb-0">
        <div class="col">
          <p class="card-text">Create and manage vehicles.</p>
          <gp-items-summary [items]="company.vehicles" [itemText]="'vehicle'"></gp-items-summary>
        </div>
        <div class="col-auto hover-pointer" (click)="selectVehicleCompliance()">
          <gp-percentage-chart [percent]="compliance ? compliance.vehicle.compliant : 0"
                               [id]="company._id + 'vehicles'"></gp-percentage-chart>
          <h5><span class="badge success-color d-block mt-3 mb-0">Compliance</span></h5>
        </div>

      </div>
      <div class="card-footer">
        <button (click)="selectVehicles()" class="btn btn-primary waves-effect">View</button>
      </div>
    </div>

  <!--</div>-->

  <!--<div class="card-deck dashboard">-->

    <div class="card dashboard-card">
      <h3 class="card-header primary-color white-text">Depots</h3>
      <div class="card-block">
        <p class="card-text">Manage depots.</p>
        <gp-items-summary [items]="company.depots" [itemText]="'depot'"></gp-items-summary>
      </div>
      <div class="card-footer">
        <button (click)="selectDepots()" class="btn btn-primary waves-effect">View</button>
      </div>
    </div>

    <div class="card dashboard-card">
      <h3 class="card-header primary-color white-text">Suppliers</h3>
      <div class="card-block">
        <p class="card-text">Create and manage suppliers.</p>
        <gp-items-summary [items]="company.suppliers" [itemText]="'supplier'"></gp-items-summary>
      </div>
      <div class="card-footer">
        <button (click)="selectSuppliers()" class="btn btn-primary waves-effect">View</button>
      </div>
    </div>

    <ng-container>
      <div class="card dashboard-card">
        <h3 class="card-header danger-color-dark white-text">Alerts</h3>
        <div class="card-block row">
          <div class="col text-center right-faded-border">
            <h4 class="text-faded">Driver alerts</h4>
            <h2 class="text-faded">{{drivers}}</h2>
          </div>
          <div class="col text-center">
            <h4 class="text-faded">Vehicle alerts</h4>
            <h2 class="text-faded">{{vehicles}}</h2>
          </div>
        </div>
        <div class="card-footer">
          <button (click)="selectAlerts()" type="button" class="btn danger-color-dark waves-effect">View</button>
          <button (click)="manageAlerts()" type="button" class="btn danger-color-dark waves-effect float-right">Manage</button>
        </div>
      </div>
    </ng-container>

  <!--</div>-->

  <!--<div class="card-deck dashboard">-->

    <div class="card dashboard-card">
      <h3 class="card-header primary-color white-text">Documents</h3>
      <div class="card-block">
        <p class="card-text">Create and manage document templates.</p>
        <gp-items-summary [items]="company.templates" [itemText]="'template'"></gp-items-summary>
      </div>
      <div class="card-footer">
        <button (click)="selectDocumentTemplates()" class="btn btn-primary waves-effect">View</button>
      </div>
    </div>

    <div class="card dashboard-card">
      <h3 class="card-header primary-color white-text">Users</h3>
      <div class="card-block">
        <p class="card-text">Manage company users.</p>
        <gp-items-summary [items]="company.users" [itemText]="'user'"></gp-items-summary>
      </div>
      <div class="card-footer">
        <button (click)="selectUsers()" class="btn btn-primary waves-effect">View</button>
      </div>
    </div>

    <ng-container *ngIf="subscription && subscription.resources.alerts !== 0">
      <div class="card dashboard-card">
        <h3 class="card-header primary-color white-text">Reports</h3>
        <div class="card-block">
          <p class="card-text">View and schedule reports.</p>
          <gp-items-summary [items]="reportTypes" [itemText]="'report'"></gp-items-summary>
        </div>
        <div class="card-footer">
          <button (click)="selectReports()" class="btn btn-primary waves-effect">View</button>
        </div>
      </div>
    </ng-container>

  </div>

</div>

<div *ngIf="!company">
  <p>Sorry, no company details found.</p>
</div>

<button *ngIf="isAdmin" class="btn btn-primary waves-effect" (click)="back()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Back</button>

