<div class="row mb-1">
  <div class="col-lg-8 col-md-8 col-sm">

    <gp-card *ngIf="!vehicle || !vehicle._id"
             [header]="vehicle && vehicle._id ? vehicle.registrationNumber : 'New Vehicle'">

      <gp-vehicle-search (searchTermChanged)="searchTermChanged($event)"></gp-vehicle-search>
      <gp-vehicle-dvla-details [searchTerm$]="searchTerm$" (vehicleChanged)="vehicleChanged($event)"></gp-vehicle-dvla-details>
    </gp-card>

    <div *ngIf="!vehicle || !vehicle.registrationNumber">
      <button class="btn btn-primary waves-effect" type="button" (click)="cancel()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Back</button>
    </div>

  </div>
</div>

<ng-container *ngIf="vehicle && vehicle.registrationNumber">
  <gp-vehicle-input [vehicle]="vehicle" [company]="company"
                    (cancel)="cancel()" (save)="save($event)"></gp-vehicle-input>
</ng-container>


