<div *ngIf="licence">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified primary-color flex-column flex-md-row" role="tablist">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#panel1" role="tab">Licence</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#panel2" role="tab">Endorsements</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#panel3" role="tab">Allowed vehicles</a>
    </li>
    <li *ngIf="licence && (licence.tachographCard || licence.cpc)" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#panel4" role="tab">Tachograph / CPC</a>
    </li>
  </ul>

  <div class="tab-content card">

    <div class="tab-pane fade in show active" id="panel1" role="tabpanel">
      <gp-driver-licence [nextCheckDate]="nextCheckDate" [licence]="licence"></gp-driver-licence>
    </div>

    <div class="tab-pane fade" id="panel2" role="tabpanel">
      <gp-driver-endorsements [endorsements]="licence.endorsements"></gp-driver-endorsements>
    </div>

    <div class="tab-pane fade" id="panel3" role="tabpanel">
      <gp-allowed-vehicles [allowedVehicles]="licence.allowedVehicles"></gp-allowed-vehicles>
    </div>

    <div *ngIf="licence && (licence.tachographCard || licence.cpc)" class="tab-pane fade" id="panel4" role="tabpanel">
      <gp-tacho-cpc [tachoGraph]="licence.tachographCard" [cpc]="licence.cpc"></gp-tacho-cpc>
    </div>

  </div>

</div>

<button class="btn btn-primary waves-effect" (click)="back()">Home</button>




