<div>{{address.line1}}</div>
<div *ngIf="address.line2">{{address.line2}}</div>
<div *ngIf="address.line3">{{address.line3}}</div>
<div *ngIf="address.line4">{{address.line4}}</div>
<div *ngIf="address.locality">{{address.locality}}</div>
<div>{{address.townCity}}</div>
<div>{{address.county}}</div>
<div>{{address.postcode}}</div>
<div>{{address.country}}</div>
