<div *ngIf="list && list.columns" [ngClass]="{'admin-panel': !lightHeader, 'thead-light': lightHeader}">

  <table class="table table-hover table-sm">
    <thead [ngClass]="{'thead-default': lightHeader}">
    <tr [ngClass]="{'primary-color': !lightHeader}">
      <th *ngFor="let column of list.columns; let i=index;" [ngClass]="column.style">
        <div [ngSwitch]="column.columnType" [ngClass]="{'text-center': i > 0}">

          <fieldset *ngSwitchCase="ColumnType.CheckBox" class="form-group">
            <input type="checkbox" id="selectAllCheckbox" [checked]="allSelected" (click)="toggleAll()" class="filled-in ml-2">
            <label for="selectAllCheckbox" [ngClass]="{'header': i === 0}"></label>
          </fieldset>

          <div *ngSwitchDefault>{{column.header}}</div>
        </div>
      </th>
      <th *ngIf="(isAdmin | async) || allowAdd">
        <a *ngIf="add.observers.length > 0" class="pull-right"
           data-toggle="tooltip" data-placement="top" title="Add">
          <i class="fa fa-plus fa-lg ml-3" (click)="onAdd()"></i>
        </a>
        <a *ngIf="edit.observers.length > 0 && !editing" class="pull-right"
           data-toggle="tooltip" data-placement="top" title="Edit">
          <i class="fa fa-pencil fa-lg" (click)="onEdit()"></i>
        </a>
      </th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngFor="let item of list.items | paginate: {  id: paginationId,
                                                                itemsPerPage: itemsPerPage,
                                                                currentPage: page,
                                                                totalItems: total
                                                             }; let i=index;">

      <tr [ngClass]="[
        i===0 ? 'none-top-border': '',
        list.styles && list.styles[item.index] && list.styles[item.index]['rowStyle'] ? list.styles[item.index]['rowStyle'] : ''
        ]">

        <td *ngFor="let column of list.columns; let c=index" class="hover-pointer"
            [ngClass]="column.style" (click)="onSelect($event, item, column)">

          <div [ngSwitch]="column.columnType" class="accordion" [ngClass]="{'text-center': c > 0}">

            <fieldset *ngSwitchCase="ColumnType.CheckBox" class="form-group">
              <input type="checkbox" [attr.id]="'selectCheckbox' + item.index" [checked]="item.selected" class="filled-in"
                     #checkbox onclick="e.stopPropagation()" (click)="toggleItem($event, item, checkbox)">
              <label [attr.for]="'selectCheckbox' + item.index"></label>
            </fieldset>

            <div *ngSwitchCase="ColumnType.Expander" class="accordion" (click)="toggleItem($event, item, checkbox)">
              <a *ngIf="item.details" class="collapsed ml-0"
                 data-toggle="collapse" [attr.data-target]="'#collapsibleDetail' + item.index">
                <i class="fa rotate-icon" [ngClass]="[item.selected ? 'fa-angle-up' : 'fa-angle-down']"></i>
              </a>
            </div>

            <div *ngSwitchCase="ColumnType.Button">
              <a *ngIf="list.actions && list.actions[item.index] && list.actions[item.index][column.field]"
                 type="button" class="btn btn-primary btn-sm btn-list waves-effect pl-0 pr-0" style="min-width: 70px"
                 (click)="$event.stopPropagation(); list.actions[item.index][column.field].action({ event: $event, item: item});">
                <i *ngIf="list.actions[item.index][column.field].icon" class="fa mr-1"
                   [ngClass]="list.actions[item.index][column.field].icon"></i>{{item[column.field]}}</a>
            </div>

            <div *ngSwitchCase="ColumnType.Icon" class="text-center">
              <a *ngIf="list.actions && list.actions[item.index] && list.actions[item.index][column.field]"
                 (click)="$event.stopPropagation(); list.actions[item.index][column.field].action({ event: $event, item: item});">
                <i class="fa" [ngClass]="list.actions[item.index][column.field].icon"></i>
              </a>
            </div>

            <div *ngSwitchDefault style="user-select: none" [ngClass]="list.styles && list.styles[item.index] ? list.styles[item.index][column.field] : null"
                 (click)="list.actions && list.actions[item.index] && list.actions[item.index][column.field]
                  ? list.actions[item.index][column.field].action({ event: $event, item: item})
                  : onSelect($event, item, column)"
                 class="accordion-toggle" data-toggle="collapse" [attr.data-target]="'#collapsibleDetail' + item.index">
              <span>
                {{column.field === 'address' ? (item[column.field] | fullAddress) : item[column.field]}}</span>
            </div>

          </div>

        </td>
        <td *ngIf="(isAdmin | async) || allowAdd"></td>
      </tr>

      <ng-container *ngIf="item.details != null && item.selected">          
          <tr class="row-detail">
              <td class="p-0 border-0 border-bottom-0 row-detail" style="border-bottom: hidden !important; padding-top: 10px !important" 
                  [attr.colspan]="list && list.columns && list.columns.length+1">
                <div class="mt-1" [attr.id]="'collapsibleDetail' + item.index"
                     [ngClass]="{'show': item.details.visible == true}">
                  <div class="card" *ngFor="let itemDetails of item.details">
                    <div class="card-header white-text"
                         [ngClass]="itemDetails.headerStyle ? itemDetails.headerStyle : 'primary-color'">
                      {{itemDetails.header}}</div>
                    <div class="card-block pb-0">
                      <ng-container *ngIf="itemDetails.detail">
                        <ul *ngFor="let detail of itemDetails.detail" [ngClass]="itemDetails.style">
                          <li>{{detail}}</li>
                        </ul>
                      </ng-container>
                      <ng-container *ngIf="item.details.list">
                        <gp-dynamic-list [list]="itemDetails.list" [lightHeader]="true"></gp-dynamic-list>
                      </ng-container>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
      </ng-container>

    </ng-container>
    </tbody>
  </table>
</div>

<div *ngIf="!list || !list.items || list.items.length === 0">
  <h4 class="text-faded">No items listed</h4>
</div>

<pagination-controls [id]="paginationId" class="d-flex flex-center pagination"
                     autoHide="true"
                     (pageChange)="onPageChange($event)"></pagination-controls>

<button *ngIf="back.observers.length > 0" class="btn btn-primary waves-effect" (click)="onBack()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i>Back</button>







