.badge {
  font-size: 100%;
  font-weight: normal;
}

[type="checkbox"]:not(:checked),
[type="checkbox"]:checked {
  position: relative;
  left: 0;
  margin-left: 1rem;
}

.table thead th {
  vertical-align: middle;
}

.table thead th a .fa {
  line-height: 0.7;
  vertical-align: middle;
}

.table a {
  margin-left: 0;
}

.thead-default th {
  color: #464a4c;
  background-color: transparent;
  border-top: 1px;
  border-bottom: 1px;
}

.thead-light .table thead {
  box-shadow: none;
}

.thead-light .table thead tr:hover {
  background-color: white !important;
}

.thead-light .table th {
  font-weight: bold;
  border-top: 1px;
  border-bottom: 1px;
}

.thead-light .table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #eceeef;
}

th [type="checkbox"].filled-in + label:after {
  border: 2px solid white;
  background-color: #00a550;
}

.accordion a:not(.collapsed) .rotate-icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg); }

.fa-angle-down.rotate-icon {
  -webkit-transition: all 150ms ease-in 0s;
  -moz-transition: all 150ms ease-in 0s;
  -o-transition: all 150ms ease-in 0s;
  -ms-transition: all 150ms ease-in 0s;
  transition: all 150ms ease-in 0s; }

.row-detail:hover {
  background-color: inherit;
}

.btn-list {
  padding-bottom: 7px;
  margin: -3px 0;
}

.table-row:hover {
  background-color: transparent;
}

.pagination /deep/ .ngx-pagination .current {
  background: #00a550;
}

tbody tr {
  border-bottom: 1px solid #eceeef !important;
}

.row-detail tbody tr {
  border-bottom: 2px solid #ffffff !important;
}

.auto-width {
  width:1%;
  white-space: nowrap;
}


