<div *ngIf="driver">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs nav-justified primary-color flex-column flex-md-row" role="tablist">
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#details-panel" role="tab"
         [ngClass]="{'active': !selectedTab || selectedTab === 'details'}"
         (click)="selectTab('details')">Driver Details</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#nextOfKin-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'nextOfKin'}"
         (click)="selectTab('nextOfKin')">Next of kin</a>
    </li>
    <li *ngIf="company && company.settings.drivers.references" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#references-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'references'}"
         (click)="selectTab('references')">References</a>
    </li>
    <li *ngIf="licence" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#licence-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'licence'}"
         (click)="selectTab('licence')">Licence</a>
    </li>
    <li *ngIf="licence" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#endorsements-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'endorsements'}"
         (click)="selectTab('endorsements')">Endorsements</a>
    </li>
    <li *ngIf="licence" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#allowed-vehicles-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'allowedVehicles'}"
         (click)="selectTab('allowedVehicles')">Allowed Vehicles</a>
    </li>
    <li *ngIf="licence && (licence.tachographCard || licence.cpc)" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#cpc-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'cpc'}"
         (click)="selectTab('cpc')">Tachograph / CPC</a>
    </li>
    <li *ngIf="showVehicles" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#vehicles-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'vehicles'}"
         (click)="selectTab('vehicles')">Vehicles</a>
    </li>
    <li *ngIf="showInsurance" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#insurance-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'insurance'}"
         (click)="selectTab('insurance')">Business Insurance</a>
    </li>
    <li *ngIf="company && company.settings.drivers.includeFaw && driver.fawRequired"
        class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#faw-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'faw'}"
         (click)="selectTab('faw')">FAW</a>
    </li>
    <li *ngIf="showAssessments" class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#assessments-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'assessments'}"
         (click)="selectTab('assessments')">Training</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#documents-panel" role="tab"
         [ngClass]="{'active': selectedTab === 'documents'}"
         (click)="selectTab('documents')">Documents</a>
    </li>
  </ul>

  <div class="tab-content card">

    <div class="tab-pane fade in" id="details-panel" role="tabpanel"
         [ngClass]="{'show active': !selectedTab || selectedTab === 'details'}">
      <gp-driver-details [driver]="driver" [allowEdit]="allowInput"
                         [isDriver]="isDriver" (edit)="editDetails()"
                         [companySettings]="company.settings"></gp-driver-details>
    </div>

    <div class="tab-pane fade" id="nextOfKin-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'nextOfKin'}">
      <gp-driver-next-of-kin [nextOfKin]="driver.nextOfKin" [allowInput]="allowInput"
                             (edit)="editNextOfKin()"></gp-driver-next-of-kin>
    </div>

    <div *ngIf="company && company.settings.drivers.references"
         class="tab-pane fade" id="references-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'references'}">
      <gp-driver-reference-list [references]="driver.references" [user]="user" [lightHeader]="true"
                                [driver]="driver" [allowAdd]="allowInput"
                                (add)="addReference()" (select)="selectReference($event)"></gp-driver-reference-list>
    </div>

    <div *ngIf="licence" class="tab-pane fade" id="licence-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'licence'}">
      <gp-driver-licence [nextCheckDate]="nextCheckDate" [licence]="licence"></gp-driver-licence>
    </div>

    <div *ngIf="licence" class="tab-pane fade" id="endorsements-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'endorsements'}">
      <gp-driver-endorsements [endorsements]="licence.endorsements"></gp-driver-endorsements>
    </div>

    <div *ngIf="licence" class="tab-pane fade" id="allowed-vehicles-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'allowedVehicles'}">
      <gp-allowed-vehicles [allowedVehicles]="licence.allowedVehicles"></gp-allowed-vehicles>
    </div>

    <div *ngIf="licence && (licence.tachographCard || licence.cpc)" class="tab-pane fade" id="cpc-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'cpc'}">
      <gp-tacho-cpc [tachoGraph]="licence.tachographCard" [cpc]="licence.cpc"></gp-tacho-cpc>
    </div>

    <div *ngIf="showVehicles" class="tab-pane fade" id="vehicles-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'vehicles'}">
      <gp-driver-vehicle-list [company]="company" [driver]="driver" [user]="user"
                              [lightHeader]="true" [allowInput]="allowInput" (remove)="removeVehicle($event)"
                              (add)="addVehicle()" (select)="selectVehicle($event)"></gp-driver-vehicle-list>
    </div>

    <div *ngIf="showInsurance" class="tab-pane fade in" id="insurance-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'insurance'}">
      <gp-driver-insurance-list [insuranceHistory]="driver.insuranceHistory" [user]="user"
                                (add)="addInsurance()" (select)="selectInsurance($event);"
                                (delete)="deleteInsurance($event)"
                                [lightHeader]="true" [allowInput]="allowInput"></gp-driver-insurance-list>
    </div>


    <div *ngIf="company && company.settings.drivers.includeFaw && driver.fawRequired"
         class="tab-pane fade" id="faw-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'faw'}">
      <gp-driver-faw-list [fawHistory]="driver.fawHistory" [user]="user"
                          (add)="addFaw()" (select)="selectFaw($event);"
                          (delete)="deleteFaw($event)"
                          [lightHeader]="true" [allowInput]="allowInput"></gp-driver-faw-list>
    </div>

    <div *ngIf="showAssessments" class="tab-pane fade" id="assessments-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'assessments'}">
      <gp-driver-assessments [assessments]="driver.assessments" [driver]="driver" [company]="company" [user]="user"
                             [lightHeader]="true" [showAction]="isDriver"></gp-driver-assessments>
    </div>

    <div class="tab-pane fade" id="documents-panel" role="tabpanel"
         [ngClass]="{'show active': selectedTab === 'documents'}">
      <gp-driver-documents [documents]="driver.documents" [lightHeader]="true" (select)="selectDocument($event)"></gp-driver-documents>
    </div>

  </div>

</div>

<button class="btn btn-primary waves-effect" (click)="back()"><i class="fa fa-chevron-left mr-2" aria-hidden="true"></i> Back</button>

<gp-model [title]="'Remove Vehicle'" (confirmed)="onRemoveConfirmed($event)">
  <div *ngIf="selectedVehicle; else noVehicle">
    Are you sure you want to remove vehicle '{{selectedVehicle.registrationNumber}}' ?
  </div>
  <ng-template #noVehicle>No Vehicle selected</ng-template>
</gp-model>





