<ul *ngIf="items; else noItems" class="list-group list-group-flush card-list-group">

  <li *ngFor="let item of items; let i=index;" class="list-group-item pl-0 pr-2 d-flex justify-content-start"
      [ngClass]="{'align-items-start': isAddressType(item.value)}">

    <div style="max-width: 18rem;" class="col-5 d-flex align-self-start font-weight-bold pr-0">{{item.title}}
    </div>
    <div *ngIf="!isAddressType(item.value) && item.type !== 'image' && item.type !== 'pdf'" class="col-auto pl-0"
          ngClass="{{item.style}}">
      {{item.value ? item.value : 'No details'}}
    </div>
    <div *ngIf="canEdit" class="ml-auto" data-toggle="tooltip" data-placement="top" title="Edit">
      <a>
        <i *ngIf="i===0" class="fa fa-pencil fa-lg" (click)="onEdit()"></i>
      </a>
    </div>

    <!-- Support IAddress -->
    <div *ngIf="isAddressType(item.value)" class="col flex-column pl-0">
      <gp-address [address]="item.value"></gp-address>
    </div>

    <!-- Support image -->
    <div *ngIf="item.type === 'image'" class="col flex-column pl-0">
      <div class="m-0">
        <gp-image-preview [file]="item.value"></gp-image-preview>
      </div>
    </div>

    <!-- Support pdf -->
    <div *ngIf="item.type === 'pdf'" class="col flex-column pl-0">
      <div class="m-0">
        <gp-pdf-preview [file]="item.value"></gp-pdf-preview>
      </div>
    </div>
  </li>
</ul>

<ng-template #noItems>
  <div class="no-item d-flex justify-content-start">
    <div>
      <h4 class="text-faded">No details</h4>
    </div>
    <div *ngIf="canEdit" class="ml-auto" data-toggle="tooltip" data-placement="top" title="Add">
      <a>
        <i class="fa fa-plus-circle fa-2x" (click)="onAdd()"></i>
      </a>
    </div>
  </div>
</ng-template>
