<h2>CYCLIST SAFETY POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Cyclists Policy and I agree that I have a duty of care to the Organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p><strong>CYCLISTS</strong></p>
<p>A cyclist has a much higher risk of being killed or seriously injured when in collision with a commercial sized vehicle compared to being in collision with a car.</p>
<p>A large proportion of lorry / PCV / PSV cyclist collisions, particularly in urban areas, happen at junctions, roundabouts and left hand turns. Analysis of these collisions show that a great deal of these resulting in a cyclist&rsquo;s death were during left turning manoeuvres at junctions.</p>
<p>In nearly all of these cases the driver failed to see the cyclists or provided enough room.</p>
<ul>
    <li>Take Responsibility</li>
    <li>Give cyclists as much room as possible</li>
    <li>Do not enter advanced stop lines at junctions</li>
    <li>Make eye contact with cyclists if you can so they see you</li>
    <li>Remember cyclists or pedestrians may not hear you, they may be deaf or using audio equipment</li>
    <li>Always give way to cyclists who have started to cross the road</li>
    <li>Keep Calm and let them go</li>
</ul>
<p>We are not, as an organisation, saying that the cyclist is never at fault. However, in many instances, cyclists, particular in London, have fitted video cameras and there are many cycling associations all too quick to jump to the defence of even guilty cyclists.</p>
<p>Remember; collect as much evidence as you can at the scene of collisions and the identities of any independent witnesses to protect you the driver.</p>