<h2>DRUG, ALCOHOL & SUBSTANCE MISUSE SAFETY POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Drug, Alcohol &amp; Substance Misuse Policy and I agree that I have a duty of care to the Organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p><strong>DRUG, ALCOHOL AND SUBSTANCE MISUSE</strong></p>
<p>We will not tolerate drivers who are unfit to drive through drink, drugs or substance misuse.</p>
<p>Drivers who are suspected of being unfit to drive due to the influence of alcohol or drugs (Illegal, prescribed or over the counter) or suffering from other substances such as solvents or gasses WILL NOT under any circumstances be allowed to drive any company vehicle and serious disciplinary action may be taken.</p>
<p>This decision may be taken as a result of several factors including driver appearance, behaviour, and smell or as a result of a third party report.</p>
<p><strong>Drinking and Driving</strong></p>
<p>Every year around 100,000 people are convicted of drinking and driving, and face a driving ban of at least 12 months, a large fine and possible imprisonment. More importantly, thousands of people, often the innocent are killed in road crashes. It is also an offence to be unfit to drive through drink, even if below the legal limit, or through drugs. The penalties are the same as for the 'over the limit' drink offence. Alcohol impairs judgement, making drivers over-confident and more likely to take risks. It slows their reactions, increases stopping distances, affects judgement of speed and distance and reduces the field of vision. Even a small amount, well below the legal limit, seriously affects the ability to drive safely.</p>
<p>Alcohol is absorbed into the bloodstream very quickly; drinkers cannot be sure how much alcohol they are consuming because the alcoholic strength of drink varies enormously, as does the size of measures in pubs, bars and restaurants. Drinks poured at home are usually larger than ones bought in a pub or restaurant. It is also difficult to know the alcoholic strength of a drink without seeing the bottle. The speed with which alcohol is absorbed into the bloodstream also varies depending on a person&rsquo;s size, age, weight and gender and whether they have eaten. The same amount of alcohol will give different blood alcohol levels in different people.</p>
<p><strong>Never rely on trying to calculate accurately how much alcohol is in your body, and whether you are above or below the drink drive limit.</strong></p>
<p><strong>The Morning After</strong></p>
<p>Many drink drivers are caught the morning after they have been drinking. As it takes several hours for alcohol to disappear from the body, someone who was drinking late the previous evening could easily still be over the limit on their way to work the next morning. Even if under the limit, they may still be affected by the alcohol in their body.</p>
<p><strong>General Information</strong></p>
<p>Driving while unfit through drugs, whether illegal or prescribed or over-the-counter medicines, is an offence that carries the same penalties as drink driving. The Police can, and do, conduct roadside tests to help them assess whether a driver may be impaired.</p>
<p>Around 18% of people killed in road crashes have traces of illegal drugs in their blood, with cannabis being the most common.</p>
<p>The effects can last for hours or even days, and vary from person to person. They can be difficult for an individual to detect and in some cases can be detected in blood samples weeks after the event.</p>
<p>For many medications it is difficult to predict whether how, when and for how long they will affect a person&rsquo;s ability to drive safely. A driver may not even notice that they have been impaired until it is too late. The effects depend on how much, how often and how a medicine is used, plus the psychological and physical attributes of the person taking it.</p>
<p>A person&rsquo;s driving ability can also be affected by the medical condition for which they are taking the medicine. Many over-the-counter medicines, including remedies for coughs, colds, flu and hay fever, cause unwanted drowsiness which might impair driving. Warnings about drowsiness are not always clear so, for example, if the label says "may cause drowsiness", assume that it will do so.</p>
<p><strong>Signs of Alcohol, Substance and Drug Misuse</strong></p>
<p>The information below is not exhaustive and individuals will react differently and display different symptoms if misusing alcohol, drugs and substances.</p>
<p>Psychological Signs</p>
<p>Unexplained change in personality or attitude, sudden mood swings, irritability or angry outbursts, period of unusual hyperactivity, agitation or giddiness, lack of motivation and may appear lethargic, may appear fearful, anxious or paranoid with no reason.</p>
<p><strong>Alcohol with Drugs</strong></p>
<p>Taking alcohol and drugs together is even worse as their effects combine and impairment can be multiplied.</p>
<p>Company employees who drive for work must:</p>
<ul>
    <li>Never drive while under the influence of alcohol, drugs or substances</li>
    <li>Avoid consuming alcohol, illegal drugs or take any substances during any period of the working day, especially if they know they will be driving later</li>
    <li>Be aware that they may still be over the limit, or affected by alcohol the morning after they have been drinking</li>
    <li>Be aware that prescription drugs or over-the-counter medicines can affect driving and can cause sleepiness</li>
    <li>Not attempt to sell, distribute or supply drugs or alcohol on company premises or whilst representing the organization</li>
    <li>Report drug and alcohol problems, including cautions, summons or convictions for alcohol or drug related offences, to their line manager</li>
    <li>Co-operate with monitoring, reporting and investigation procedures.</li>
</ul>
<p><strong>Remember!</strong></p>
<p>If you the driver are suspected of being unfit to drive due to the influence of Alcohol or Drugs (Illegal, prescribed or over the counter) or suffering from other substances such as solvents or gasses WILL NOT under any circumstances be allowed to drive any company vehicles and serious disciplinary action may be taken. Action may also be taken through the courts by the Police.</p>
<p>If you the driver feel that you have an alcohol or drug addiction, then inform the organization.</p>
