<h2>MOBILE PHONE SAFETY POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Mobile Phone Policy and I agree that I have a duty of care to the Organization, Other Road User&rsquo;s and Members of the Public whilst driving on company business.</p>
<p><strong>MOBILE PHONES</strong></p>
<p>Please note that using a mobile phone without a hands-free device, whether that be the company issued mobile or private mobile will be considered as gross misconduct and will lead to a disciplinary investigation.</p>
<p>It is also a Criminal Offence.</p>
<p>You the driver MUST not, as in accordance with above, receive or make any calls whilst in motion.</p>
<p>When making any calls without using a hands-free device the vehicle must be stationary and the ignition MUST be off and therefore you are advised to find a safe and suitable parking location and remove the keys from the ignition before receiving or making calls.</p>
<p>The Organisation will not be liable for any fines or costs incurred for any illegal use of a mobile phone and any such prosecution or identification of you the driver breaching company policy will be considered as gross misconduct and will lead to a disciplinary investigation.</p>