<h2>NO SMOKING CLEANLINESS POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Condition, Cleanliness &amp; No Smoking Policy and I agree that I have a duty of care to the Organization, Other Road User&rsquo;s and Members of the Public whilst adhering to the policy.</p>
<p><strong>NO SMOKING POLICY</strong></p>
<p>The Health Act 2006 banned smoking in enclosed workplaces (including company vehicles), public buildings and public transport in the UK. Local authorities are responsible for enforcing the ban in buildings, premises and vehicles. Employers who fail to prevent staff from smoking could also be in breach of general health and safety law.</p>
<p>The Organization have a strict No smoking Policy in our vehicles.</p>
<p><strong>Condition/Cleaning of vehicle </strong></p>
<p>The company vehicle allocated to you represents a substantial investment in you and your job. You have the responsibility to drive the vehicle safely and to comply with all vehicle-operating requirements as stated in law, this policy and the manufacturer&rsquo;s handbook.</p>
<p>You are expected to keep the vehicle in a clean and tidy condition at all times. Kept in good order, the vehicle will reflect a good image of both you and the Organization. If you allow the vehicle condition to deteriorate through neglect it could be dangerous and cause serious injury.</p>
<p>You will have acknowledged that the vehicle was received by you in a clean, tidy and roadworthy condition and you will have agreed to return the vehicle in the same condition, fair wear and tear excepted. Any costs incurred by the company to return the vehicle to the correct condition will be charged to you. The comprehensive vehicle inspection report will be used to calculate any charges.</p>
<p><strong>Vehicle inspections</strong></p>
<p>Random inspections of all vehicles used on Organization business may be carried out from time to time without prior notice.</p>