<h2>PARKING TICKET POLICY</h2>
<p><strong>CONFIRMATION</strong></p>
<p>I confirm that I have read and understood the organization&rsquo;s Policy on Parking Tickets and I agree that I have a duty of care to the Organization, Other Road User&rsquo;s and Members of the Public whilst adhering to the policy.</p>
<p><strong>PARKING TICKET POLICY</strong></p>
<p><strong>Parking fines</strong></p>
<p>Should you at any time incur a fixed penalty parking fine, you must settle this yourself within the time specified. THIS IS NOT RECLAIMABLE FROM THE COMPANY. If you do not settle a fine, it will be redirected to The Organization, who will pay the fine direct and recover the cost via a deduction in your salary, plus an administration fee, from the registered driver of the vehicle on the day the parking fine was issued. Persistent non-payment of parking fines is a serious offence and will lead to disciplinary action. If you have a dispute regarding a fine, please ensure that The Organization is made aware of all the details.</p>