<div *ngIf="inputGroups" class="row mb-1">
  <div class="col-lg-8 col-md-8 col-sm">

    <form [formGroup]="form" autocomplete="off">

      <div *ngFor="let group of inputGroups" class="card">
        <gp-dynamic-input-group *ngIf="!group.hidden" [group]="group" [form]="form"></gp-dynamic-input-group>
      </div>
      <div>
        <button *ngIf="cancel.observers.length > 0" class="btn btn-primary waves-effect" type="button" (click)="onCancel()">Cancel</button>
        <button *ngIf="submit.observers.length > 0" class="btn btn-primary waves-effect" type="button"
                (click)="onSubmit(); $event.defaultPrevented">Save</button>
      </div>

    </form>

  </div>
</div>

<ng-container *ngIf="errors">
  <div class="row alert alert-danger m-1 mt-3 d-block">
    <p>Please correct the following fields</p>
    <ul>
      <li *ngFor="let error of errors">{{error}}</li>
    </ul>
  </div>
</ng-container>
<br>
<gp-error-alert [error]="error"></gp-error-alert>

<br>




